<div class="loading" ng-if="creator_loading">
	<img src="/static/img/loading.png" />
</div>

<div class="card" ng-if="!creator_loading">
    
	<div class="card-header">
		
		{{'creator_SUBTITLE' | translate}}
		<span class="text-medium" ng-class="{'text-enligtened': faction == 'E', 'text-resistance': faction == 'R',}">{{creator_name}}</span>

	</div>
		
    <table class="card-table">

        <tbody>
            <tr ng-repeat="item in mosaics" ng-click="go(item);">
            	
            	<td width="96px">
            		
            		<div class="f-row f-wrap f-justify-center pr-2">
			            <div ng-repeat="m in item.missions | reverse" style="flex:0 0 16.666667%;">
			                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s10); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
			            </div>
		            </div>
            		
            	</td>
            	
                <td>
                	<div class="text-white">{{item.title}}</div>
                	<div class="">{{item.count}} &middot; {{item._distance | number:2}} km &middot; {{item.type}}</div>
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>
        
    </table>

</div>
