.btn {
	cursor:pointer;
	border:1px solid #5afbea;
	padding:0 20px;
	color:#5afbea; text-align:center;
	background-color:#1f4549;
	background-image:
		-webkit-gradient(linear, 0 top, 0 10, from(rgba(255, 255, 255, 0.22)), to(transparent)),
		-webkit-gradient(linear, 0 bottom, 0 28, from(rgba(255, 255, 255, 0.22)), to(transparent));
	background-image:
		gradient(linear, 0 top, 0 10, from(rgba(255, 255, 255, 0.22)), to(transparent)),
		gradient(linear, 0 bottom, 0 28, from(rgba(255, 255, 255, 0.22)), to(transparent));
	background-image:
		-moz-gradient(linear, 0 top, 0 10, from(rgba(255, 255, 255, 0.22)), to(transparent)),
		-moz-gradient(linear, 0 bottom, 0 28, from(rgba(255, 255, 255, 0.22)), to(transparent));
	background-image:
		-o-gradient(linear, 0 top, 0 10, from(rgba(255, 255, 255, 0.22)), to(transparent)),
		-o-gradient(linear, 0 bottom, 0 28, from(rgba(255, 255, 255, 0.22)), to(transparent));
	display:flex; align-items:center; justify-content:center;
	min-height:34px;
}

.btn.disabled, .btn[disabled] { background-color: rgb(68, 68, 68);
    color: #ACAFAF;
    border-color: #ACAFAF;
    background-image: none; }

.btn-icon { padding:0; display:flex; justify-content:center; align-items:center; min-height:24px; width:24px; background-image:none; }

.btn-mini { min-height:24px; height:24px; padding:0 5px; background-image:none; font-size:11px; display:flex; align-items:center; justify-content:center; }

.btn-danger {
	color:#ffae38; border-color:#ffae38; background-color:#522F00;
	background-image:
		-webkit-gradient(linear, 0 top, 0 10, from(#935810), to(transparent)),
		-webkit-gradient(linear, 0 bottom, 0 28, from(#935810), to(transparent));
}