.dropdown { position:relative; }

.dropdown-menu {
	position:absolute; top:100%; left:0; z-index:1000;
	display:none; flex-direction:column; float:left; min-width:10rem;
	padding:0; margin:.375rem 0 0 0;
	border-radius:.125rem; border:1px solid #009688;
	background-color:#1f4549;
}
.dropdown-menu.show { display:flex; }

.dropdown-item {
	display:flex; flex-direction:row; align-items:center;
	padding:4px 10px; margin:0;
	color:#5afbea;
}