.control {
    padding:0 10px 0;
    background-color:black;
    display:block; width:100%; min-height:34px;
    border-radius: .125rem; border: 1px solid #009688;
    color: #ffffff; font: 400 13px/1.5 'Coda',sans-serif;
}

textarea.control { padding:8px 10px 0; }

input[type=text].control { padding:8px 10px 0 14px; }