.row {
	margin:-.375rem;
	display:flex!important; flex-direction:row!important;
}

.item {
	padding:.375rem;
}

.row-tabs {
	display:flex!important; flex-direction:row!important;
}

.item-tab {
	flex:1 1 auto;
	cursor:pointer;
	padding:.75rem;
	text-align:center;
	border-top:1px solid #174540;
}

.item-tab.active {
	border-top:1px solid #ffffff;
}

.item-tab .text {
	text-decoration:underline;
}

.item-tab:hover .text {
	color:#ffffff;
}

.item-tab.active .text {
	color:#ffffff;
	text-decoration:none;
}