#header {
	z-index: 1;
	border-bottom:1px solid #489299;
	background-color:#1b3c39;
	display:block;
	position:fixed; top:0; right:0; left:0;
}

#header .container {
	padding:0;
	display:flex; flex-direction:row; align-items:center; flex-wrap:nowrap;
}



#content {
	display:flex; flex:1; flex-direction:column; align-items:center;
}

#loading { display:flex; align-items:center; justify-content:center; }



.container {
	width: 100%; max-width: 100%; margin:0 auto;
	display:none; flex-direction:column; align-items:stretch;
}

@media (min-width:  768px) { .container { width: 720px; max-width: 720px; } }
@media (min-width:  992px) { .container { width: 720px; max-width: 720px; } }
@media (min-width: 1200px) { .container { width: 720px; max-width: 720px; } }

.container.active { display:flex; }

.section {
	margin:20px 0 0 0; padding:.375rem;
	display: flex; flex-direction: column; flex-shrink: 0;
}