#header {
	min-height:60px;
	border-bottom:1px solid #489299;
	background-color:#1b3c39;
	display:flex; flex-direction:row; align-items:stretch; justify-content:center;
}

#header .container {
	padding:0;
	display:flex; flex-direction:row; align-items:stretch; justify-content:center; flex-wrap:nowrap;
}

#header .item {
	padding-top:10px;
	flex-basis:0; flex-grow:1;
	color:#5afbea; text-align:center;
	display:flex; flex-direction:column; align-items:stretch; justify-content:center;
}

#header .item > .icon {
	height:25px;
	font-size:20px;
}

#header .item > .text {
	font-size:10px;
	text-transform:uppercase;
}



#content {
	flex:1 1 auto;
	overflow-y: auto;
	display:flex; flex-direction:row; align-items:stretch; justify-content:center;
}

#loading { display:flex; align-items:center; justify-content:center; }



.container {
	flex:1 0 100%;
	max-width: 100%;
	display:none; flex-direction:column; align-items:stretch;
}

@media (min-width:  768px) { .container { flex:1 0 720px; max-width: 720px; } }
@media (min-width:  992px) { .container { flex:1 0 720px; max-width: 720px; } }
@media (min-width: 1200px) { .container { flex:1 0 720px; max-width: 720px; } }

.container.active { display:flex; }
