.modal-container {
	z-index:10;
	padding:20px;
	background-color: rgba(0,0,0,.75);
	position:fixed; top:0; right:0; left:0; bottom:0;
	display: flex; justify-content: center; align-items: flex-start;
}

.modal-box {
	z-index:20;
	border:1px solid #5afbea;
	background-color:black;
	display:flex; flex-direction:column; max-height:100%; min-width:275px; max-width:420px;
}

.modal-header {
	padding:8px 10px;
	background-color:#1b3c39;
	border-bottom:1px solid #5afbea;
	display:flex; flex-direction:row; flex-shrink:0;
}

.modal-header > .title {
	color:white;
	flex:1 1 auto;
	font-size:15px;
}

.modal-header > .close {
	cursor: pointer;
	height:20px; min-width:20px;
	border:1px solid #5afbea;
	background-color:black;
	margin-left:10px; margin-top:1px;
	display:flex; flex-direction:row; justify-content:center; align-items:center;
}

.modal-header > .close > .fa-times {
	color:#489299;
	font-size:15px;
	top:-1px; left:0;
}

.modal-content {
	padding:20px;
	flex:1 1 auto;
	overflow-y: auto;
}