/* Container ---------------------------------------------------------------- */

.container {
    margin: 0;
    width: 100%; min-height: 100%;
}

@media (min-width:  768px) { .container { margin: 0 auto; width: 720px; } }
@media (min-width:  992px) { .container { margin: 0 auto; width: 720px; } }
@media (min-width: 1200px) { .container { margin: 0 auto; width: 720px; } }



/* Loading ------------------------------------------------------------------ */

@-webkit-keyframes rotating {
	from { transform: rotate(  0deg); }
	to   { transform: rotate(360deg); }
}

@keyframes rotating {
	from { transform: rotate(  0deg); }
	to   { transform: rotate(360deg); }
}

.loading-line {
    font-size: .875rem;
    display: flex; justify-content: center; align-items: center;
}

.loading-line > img {
    margin: -2px .5rem 0 0;
    width: .875rem; height: .875rem;
	animation: rotating 2s linear infinite;
}



/* Error -------------------------------------------------------------------- */

.error-line {
    color: #F44336; font-size: .875rem;
    display: flex; justify-content: center; align-items: center;
}



/* Panel -------------------------------------------------------------------- */

.panel {
    padding: .25rem .5rem;
    background: #004D40;
}



/* Background colors -------------------------------------------------------- */

.bg-block { background-color: #000000!important; }



/* Mosaic image ------------------------------------------------------------- */

.mosaic-img {
    padding: .5rem;
    background-color: #000000;
    display: flex; justify-content: center; align-items: center;
}

.mosaic-img .content-6, .mosaic-img .content-5, .mosaic-img .content-4, .mosaic-img .content-3, .mosaic-img .content-2, .mosaic-img .content-1 {
    width: 100%;
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}

.mosaic-img .content-6 { padding: 0 calc((6 - 6) / 2 * 16.666667%); }
.mosaic-img .content-5 { padding: 0 calc((6 - 5) / 2 * 16.666667%); }
.mosaic-img .content-4 { padding: 0 calc((6 - 4) / 2 * 16.666667%); }
.mosaic-img .content-3 { padding: 0 calc((6 - 3) / 2 * 16.666667%); }
.mosaic-img .content-2 { padding: 0 calc((6 - 2) / 2 * 16.666667%); }
.mosaic-img .content-1 { padding: 0 calc((6 - 1) / 2 * 16.666667%); }

.mosaic-img .item { max-width: 100px; }

.mosaic-img .content-6 .item { flex: 0 0 calc(100% / 6); }
.mosaic-img .content-5 .item { flex: 0 0 calc(100% / 5); }
.mosaic-img .content-4 .item { flex: 0 0 calc(100% / 4); }
.mosaic-img .content-3 .item { flex: 0 0 calc(100% / 3); }
.mosaic-img .content-2 .item { flex: 0 0 calc(100% / 2); }
.mosaic-img .content-1 .item { flex: 0 0 calc(100% / 1); }

.mosaic-img .item > img {
    width: 100%;
    float: left;
    background-color: #000000; background-position: 50% 50%; background-repeat: no-repeat; background-size: 95% 95%;
}