#page-mosaic-header {
	border-bottom:1px solid #174540;
}

#page-mosaic-content {
	flex:1 1 auto;
    height: 0px;
	overflow-y: auto;
}

#page-mosaic-footer {
	
}

#block-mosaic-title {
	
}

#block-mosaic-title .text {
	color:#ffffff; font-size:1.75rem;
}

#block-mosaic-like {
	align-items:flex-end;
}

#block-mosaic-resume .text {
	color:#69ccca;
}

#block-mosaic-tabs {
	
}