* {
    color: inherit;
    position: relative;
    line-height: inherit;
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: inherit; font-size: inherit; font-weight: inherit;
}



/******************************************************************************/
/* HTML TAGS                                                                  */
/******************************************************************************/

html {
    height: 100%;
    background-color: #0B0C0D;
}

body {
    height: 100%;
    color: #BDBDBD;
    -webkit-font-smoothing: antialiased;
    font: 400 .75rem/1.5 'Coda',sans-serif;
}



/* Link --------------------------------------------------------------------- */

a { color: #ebbc4a; text-decoration: none; }
a:hover, a:focus, .hover:hover { color: inherit; cursor: pointer; text-decoration: inherit; }



/******************************************************************************/
/* MENU                                                                       */
/******************************************************************************/

/* Overlay ------------------------------------------------------------------ */

#menu-overlay {
    z-index: 20;
    display: none;
    background: rgba(0,0,0,.25);
    position: absolute; top: 0; bottom: 0; right: 0; left: 0;
}

#menu-overlay.open { display: block; }



/* Pane --------------------------------------------------------------------- */

#menu-pane {
    z-index: 30;
    width: 15rem;
    background-color: #004D40;
    transition: left 215ms ease-out;
    position: fixed; top: 0; bottom: 0; left: -15rem;
}

#menu-pane.open { left: 0; box-shadow: .125rem 0 .75rem rgba(0,0,0,.25); }

@media (min-width:768px) {
    #menu-pane { left: 0; box-shadow: .125rem 0 .75rem rgba(0,0,0,.25); }
}



/* Content ------------------------------------------------------------------ */

#menu-content {
    margin: .5rem;
    height: calc(100% - 48px);
}



/* Header ------------------------------------------------------------------ */

#menu-header {
    color: #ffffff;
    font-size: 1.000rem;
    padding: .25rem .5rem;
    background-color: #009688;
    display: flex; flex-direction: row; align-items: center;
}

#menu-header img {
    padding: .5rem;
    margin-right: .5rem;
    width: 40px; height: 40px;
}



/* Item ------------------------------------------------------------------ */

.menu-item {
    padding: .5rem;
    font-size: 0.875rem;
    color: rgba(255,255,255,.75);
    display: flex; flex-direction: row; align-items: baseline;
}

.menu-item i {
    text-align: center;
    margin-right: 1rem;
    font-size: 1.000rem;
    width: 1.28571429em;
}



/* Separator ---------------------------------------------------------------- */

.menu-separator {
    height: 0px;
    margin-top: .5rem; margin-bottom: .5rem;
    border: 0; border-bottom: 1px solid #0B0C0D;
}



/* Text --------------------------------------------------------------------- */

.menu-text {
    padding: .25rem;
    color: #0B0C0D;
}



/******************************************************************************/
/* PAGE                                                                       */
/******************************************************************************/

#page-loading { margin-top: 1rem; }



/* Pane --------------------------------------------------------------------- */

#page-pane {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

@media (min-width:768px) {
    #page-pane { margin: 0 0 0 15rem; }
}



/* Header ------------------------------------------------------------------- */

#page-header {
    z-index: 10;
    color: #ffffff;
    font-size: 1.000rem;
    padding: .25rem .5rem;
    position: sticky; top: 0;
    background-color: #009688;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.25);
    display: flex; flex-direction: row; align-items: baseline;
}

#page-header a { color: #ffffff; }

.page-header-item {
    color: #ffffff;
    padding: .5rem;
}


/* Content ------------------------------------------------------------------ */

#page-content {
    flex: 1;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}



/* Container ---------------------------------------------------------------- */

#page-container { margin: 0; width: 100%; min-height: 100%; }

@media (min-width:  768px) { #page-container { margin: 1rem auto; width: 720px; } }
@media (min-width:  992px) { #page-container { margin: 1rem auto; width: 720px; } }
@media (min-width: 1200px) { #page-container { margin: 1rem auto; width: 720px; } }



/******************************************************************************/
/* LAYOUT                                                                     */
/******************************************************************************/

/* Title -------------------------------------------------------------------- */

.heading {
    color: #B2DFDB;
    font-size: 1.25rem;
    text-align: center;
}

.subheading {
    color: rgba(255,255,255,.75);
    margin: 0 0 .5rem 0;
    font-size: .675rem;
    text-align: center;
}

.title {
    padding: .5rem 0 .25rem 0;
    color: rgba(255,255,255,.75);
    border-bottom: 1px solid rgba(255,255,255,.75);
}



/* Panel -------------------------------------------------------------------- */

.block {
    padding: .5rem;
    margin: 0 0 1rem 0;
}

.block-tabs {
    padding: .25rem .25rem 0 .25rem;
    display: flex; flex-direction: row; flex-wrap: wrap;
}

.panel {
    padding: .25rem;
    background: #004D40;
    border-bottom: 1px solid rgba(0,0,0,.75);
    display: flex; flex-direction: row; flex-wrap: wrap;
}



/* Grid --------------------------------------------------------------------- */

.row {
    margin: -.25rem;
    display: flex!important; flex-direction: row; flex-wrap: wrap;
}

.align-center { justify-content: center; }

.valign-start { align-items: flex-start; }
.valign-center { align-items: center; }
.valign-baseline { align-items: baseline; }

.item { padding: .25rem; }

.grow { flex: 1; }

.item-1  { padding: .25rem; width:   8.333333%!important; }
.item-2  { padding: .25rem; width:  16.666667%!important; }
.item-3  { padding: .25rem; width:  25.000000%!important; }
.item-4  { padding: .25rem; width:  33.333333%!important; }
.item-5  { padding: .25rem; width:  41.666667%!important; }
.item-6  { padding: .25rem; width:  50.000000%!important; }
.item-7  { padding: .25rem; width:  58.333333%!important; }
.item-8  { padding: .25rem; width:  66.666667%!important; }
.item-9  { padding: .25rem; width:  75.000000%!important; }
.item-10 { padding: .25rem; width:  83.333333%!important; }
.item-11 { padding: .25rem; width:  91.666667%!important; }
.item-12 { padding: .25rem; width: 100.000000%!important; }

@media (min-width:768px) {
    .item-xl-1  { padding: .25rem; width:   8.333333%!important; }
    .item-xl-2  { padding: .25rem; width:  16.666667%!important; }
    .item-xl-3  { padding: .25rem; width:  25.000000%!important; }
    .item-xl-4  { padding: .25rem; width:  33.333333%!important; }
    .item-xl-5  { padding: .25rem; width:  41.666667%!important; }
    .item-xl-6  { padding: .25rem; width:  50.000000%!important; }
    .item-xl-7  { padding: .25rem; width:  58.333333%!important; }
    .item-xl-8  { padding: .25rem; width:  66.666667%!important; }
    .item-xl-9  { padding: .25rem; width:  75.000000%!important; }
    .item-xl-10 { padding: .25rem; width:  83.333333%!important; }
    .item-xl-11 { padding: .25rem; width:  91.666667%!important; }
    .item-xl-12 { padding: .25rem; width: 100.000000%!important; }
}



/* Badge -------------------------------------------------------------------- */

.badge-link, .badge-dark, .badge-btn {
    border: 0;
    display: inline-block;
    padding: .25rem .5rem;
    text-align: center;
    border-radius: 10rem;
}

.badge-link.active {
    color: #ffffff;
    background-color: #ebbc4a;
}

.badge-btn {
    color: #ffffff;
    background-color: #009688;
}

.badge-dark {
    color: rgba(255,255,255,.75);
    background-color: #004d40;
}

.badge-mini {
    font-size: 10px;
}



/******************************************************************************/
/* FORM                                                                       */
/******************************************************************************/

::-webkit-input-placeholder { color: #757575; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { margin: 0; -webkit-appearance: none; }

textarea.form-control { padding-top: .25rem; padding-bottom: .25rem; }



/* Button ------------------------------------------------------------------- */

.btn {
	text-align: center;
	display: inline-block;
	border-radius: .125rem;
	min-height: 2.4rem; line-height: 2.4rem;
	font-size: .75rem; font-family: inherit; text-decoration: none;
}

.btn-primary, .btn-secondary, .btn-facebook, .btn-danger {
	padding: .5rem;
	text-align: center;
	display: inline-block;
	border-radius: .125rem;
	background-color: #009688;
	min-height: 1.25rem; line-height: 1.25rem;
	font-size: .75rem; font-family: inherit; text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-secondary:hover, .btn-secondary:focus, .btn-facebook:hover, .btn-facebook:focus, .btn-danger:hover, .btn-danger:focus {
    cursor: pointer;
}

.btn-primary { color: #ffffff; border: 1px solid #009688; background-color: #009688; text-transform: uppercase; }
.btn-primary:hover, .btn-primary:focus, .btn-primary.active { color: #ffffff; border: 1px solid #ffffff; background-color: #009688; }

.btn-secondary { color: #80CBC4; border: 1px solid #009688; background-color: transparent; text-transform: uppercase; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.active { color: #ffffff; border: 1px solid #ffffff; background-color: transparent; }

.btn-facebook { color: #ffffff; background-color: #3b5998; border-color: #335190; }
.btn-facebook:hover,.btn-facebook:focus, .btn-facebook.active { color: #ffffff; background-color: #294786; }

.btn-danger { color: #f44336; border: 1px solid #f44336; background-color: transparent; text-transform: uppercase; }
.btn-danger:hover, .btn-danger:focus, .btn-danger.active { color: #ffffff; border: 1px solid #ffffff; background-color: transparent; }

.btn-block { display: block; width: 100%; }

.btn.disabled, .btn:disabled, .btn-primary.disabled, .btn-primary:disabled, .btn-secondary.disabled, .btn-secondary:disabled { opacity: .5; cursor: not-allowed; }

.btn-mini { min-height: .75rem; line-height: .75rem; min-width: 75px; }



/* Control ------------------------------------------------------------------ */

.form-control {
    padding: 0 .5rem;
    background-color: #0b0c0d;
    display: block; width: 100%;
    min-height: 2.4rem; line-height: 2.4rem;
    border-radius: .125rem; border: 1px solid #009688;
    color: #ffffff; font: 400 .75rem/1.5 'Coda',sans-serif;
}

.form-control:focus { outline: none; border-color: #b2dfdb; }



/* Input group -------------------------------------------------------------- */

.input-group { display: flex; flex-direction: row; }

.input-group .form-control:not(:last-child) {
    border-bottom-right-radius: 0; border-top-right-radius: 0;
}

.input-group .form-control:not(:first-child) {
	border-bottom-left-radius: 0; border-top-left-radius: 0;
}



/* Input group addon -------------------------------------------------------- */

.input-group-addon {
	color: #FFFFFF;
	background-color: #009688;
    height: 2.4rem; line-height: 2.4rem; padding: 0 .75rem;
	border: 1px solid #009688; border-radius: .25rem;
}

.input-group-addon:not(:last-child) {
	border-right: 0; border-bottom-right-radius: 0; border-top-right-radius: 0;
}

.input-group-addon:not(:first-child) {
    border-bottom-left-radius: 0; border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) { border-left: 0; }



/******************************************************************************/
/* TYPOGRAPHY                                                                 */
/******************************************************************************/

.text-separator { margin: 0 .25rem; }



/* Text alignment ----------------------------------------------------------- */

.ta-left { text-align: left; }
.ta-right { text-align: right; }
.ta-center { text-align: center; }



/* Color -------------------------------------------------------------------- */

.c-red { color: #ff0000; }
.c-green { color: #00ff00; }
.c-white { color: #ffffff; }
.c-danger { color: #f44336; }
.c-warning { color: #FFFF00; }
.c-lighter { color: rgba(255,255,255,.75); }
.c-enligtened { color: #28f428; }
.c-resistance { color: #00c2ff; }



/* Text transformations ----------------------------------------------------- */

.ttrans-normal { text-transform: none; }
.ttrans-uppercase { text-transform: uppercase; }
.ttrans-lowercase { text-transform: lowercase; }



/* Text size ---------------------------------------------------------------- */

.ts-big { font-size: 1.000rem; }



/******************************************************************************/
/* UTILITIES                                                                  */
/******************************************************************************/

#map { height: 20rem; }



/* Display --------------------------------------------------------------------- */

.d-flex { display: flex!important; }



/* Flag --------------------------------------------------------------------- */

.flag-icon {
    top: -1px;
    position: relative;
    margin-right: .25rem;
}



/* Ellipsis ----------------------------------------------------------------- */

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/* Icon --------------------------------------------------------------------- */

.fa-heart { margin-left:.25rem; }
.fa-check-square { margin-left:.25rem; }
.fa-facebook-official { margin-right:.25rem; }



/* Spinner ------------------------------------------------------------------ */

@-webkit-keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.fa-spinner { margin-right: .25rem; animation: rotating 2s linear infinite; }



/* Scrollbar ---------------------------------------------------------------- */

.scrollbar {
    overflow-y: auto!important;
    overflow-x: hidden!important;
    padding-right: 0!important;
    border-right: 0!important;
}

.scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: #004D40;
	border: 2px solid #000000;
}



/* Hidden ------------------------------------------------------------------- */

.hidden { display: none!important; }
@media (max-width:767px) { .hidden-xs { display: none!important; } }
@media (min-width:768px) { .hidden-xl { display: none!important; } }
