/******************************************************************************/
/* UTILITIES                                                                  */
/******************************************************************************/

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: scroll;
    background-color: #0b0c0d;
}

body {
    margin: 0; 
    height: 100%;
    color: #BDBDBD;
    -webkit-font-smoothing: antialiased;
    font: 400 .75rem/1.5 'Coda',sans-serif;
}



/* Link --------------------------------------------------------------------- */

a {
    color: #ebbc4a;
    text-decoration: none;
}
a:hover, a:focus {
    color: #ebbc4a;
}



/* Visibility --------------------------------------------------------------- */

@media (min-width:  768px) {
    .hidden-up {
        display: none!important;
    }
}

@media (max-width:  767px) {
    .hidden-down {
        display: none!important;
    }
}



/* Alignment ---------------------------------------------------------------- */

.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.text-center {
    text-align: center!important;
}



/* Color -------------------------------------------------------------------- */

.text-danger {
    color: #F44336!important;
}
.text-enligtened {
	color:#28f428!important;
}
.text-resistance {
	color:#00c2ff!important;
}
.text-link {
	color:#ebbc4a!important;
}



/* Typography --------------------------------------------------------------- */

p {
    display: block;
    margin-top: 0; margin-bottom: 1rem;
    
}



/* Image -------------------------------------------------------------------- */

img {
    vertical-align: text-bottom;
}

.img-icon {
    width: 1rem; height: 1rem;
}

.flag-icon {
	top: -1px;
	margin-right: .5rem;
}



/* Description -------------------------------------------------------------- */

dl {
	position: relative;
    margin-top: 0; margin-bottom: 0;
	line-height: 2.5rem; height: 2.5rem;
	display: flex; flex-direction: row; flex-wrap: wrap;
}
dt {
	flex-grow: 1;
    font-weight: 300;
}
dd {
	flex-grow: 1;
	color: #FFFFFF; text-align: right;
}

dl.edit:hover {
	cursor: pointer;
}

dl.edit > dd > i {
	color: #ebbc4a;
	margin-left: 1rem;
}
dl.edit:hover > dd > i {
	color: #ebbc4a;
}

dl.edit > dd > .loading {
    margin: 0;
	text-align: center;
	background-color: rgba(0,0,0,.125);
	position: absolute; top: 0; left: -.25rem; right: -.25rem; bottom: 0;
}
dl.edit > dd > .loading > img {
	margin: auto;
	width: 1rem; height: 1rem;
}



/******************************************************************************/
/* FORM                                                                       */
/******************************************************************************/

::-webkit-input-placeholder {
    color: #BDBDBD;
}

form {
    width: 100%;
}

form.inline .form-group {
    display: flex; flex-direction: row;
}
form.inline .form-group > label {
    text-align: right;
    margin: 0; padding-right: 1rem;
    height: 2.5rem; line-height: 2.5rem;
    flex-grow: 0; flex-basis: 33.333333%;
}
form.inline .form-group > .form-control, form.inline .form-group > .select-group {
    flex-grow: 0; flex-basis: 66.666667%;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .25rem;
}
.group-row > label {
	text-align: right;
	flex: 0 0 33.666667%;
    margin-bottom: 0; margin-right: .5rem;
    height: 2.25rem; line-height: 2.25rem;
}

.label-check {
    margin-bottom: 0;
    line-height: 2.5rem; height: 2.5rem;
}

.form-control {
    padding: 0 .5rem;
    background-color: #0b0c0d;
    display: block; width: 100%;
    height: 2.25rem; line-height: 2.25rem;
    border-radius: .25rem; border: 1px solid #009688;
    color: #ffffff; font: 400 .75rem/1.5 'Coda',sans-serif;
}
.form-control:focus {
    outline: none;
    border-color: #B2DFDB;
}

.form-error {
	margin-top: .5rem;
	color: #F44336; font-size: .75rem;
}

.form-radio {
    display: flex;
    padding: .5rem; margin-bottom: .5rem;
    color: #212121!important; font-size: 85%; opacity: .75;
}
.form-radio.checked {
    background-color: rgba(0,0,0,.125);
}
.form-radio > input[type="radio"] {
    flex: 0 0 1rem;
    margin-top: 4px;
}
.form-radio > span {
    padding-left: .5rem;
}



/* Input group -------------------------------------------------------------- */

.input-group {
    position: relative;
	display: flex; flex-direction: row;
}
.input-group .form-control:not(:last-child) {
    border-bottom-right-radius: 0; border-top-right-radius: 0;
}
.input-group .form-control:not(:first-child) {
	border-bottom-left-radius: 0; border-top-left-radius: 0;
}

.input-group-addon {
	color: #FFFFFF;
	background-color: #009688;
    height: 2.25rem; line-height: 2.25rem; padding: 0 .75rem;
	border: 1px solid #009688; border-radius: .25rem;
}
.input-group-addon:not(:last-child) {
	border-right: 0; border-bottom-right-radius: 0; border-top-right-radius: 0;
}
.input-group-addon:not(:first-child) {
    border-bottom-left-radius: 0; border-top-left-radius: 0;
}

.form-control + .input-group-addon:not(:first-child) {
    border-left: 0;
}

.input-group-addon.button:hover {
    color: #9C27B0;
    cursor: pointer;
}



/* Button ------------------------------------------------------------------- */

.btn {
	padding: 0 1rem;
	text-align: center;
	border: 0; border-radius: .25rem;
	display: inline-block; height: 2.25rem; line-height: 2.25rem;
	color: #FFFFFF; font-size: inherit; font-family: inherit; text-decoration: none;
}
.btn.disabled, .btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}
@media (max-width: 767px) {
    .btn {
        width: 100%;
    }
}

.btn-primary {
    background-color: #009688;
}
.btn-secondary {
	color: #80CBC4;
    border: 1px solid #009688;
    background-color: transparent;
}

.btn-block {
    display: block;
}

.btn-facebook {
    color: #FFFFFF; background-color: #3b5998; border-color: #335190;
}
.btn-facebook:hover,.btn-facebook:focus {
    color: #FFFFFF; background-color: #294786;
}

.btn-google {
    color: #FFFFFF; background-color: #dd4b39; border-color: #dd4b39;
}
.btn-google:hover,.btn-google:focus {
    color: #FFFFFF; background-color: #cb3927;
}



/******************************************************************************/
/* GRID                                                                     */
/******************************************************************************/

.grid-row {
    display: flex; flex-direction: row;
}
.grid-col {
    display: flex; flex-direction: column;
}

.grid-row.center {
    justify-content: center;
}
.grid-row.around {
    justify-content: space-around;
}
.grid-row.between {
    justify-content: space-between;
}

.group {
    margin-bottom: 1rem;
}
.group-row {
    margin-bottom: 1rem;
    display: flex; flex-direction: row;
}

.cell {
    flex-grow: 1; flex-basis: 0;
}



/* Margin ------------------------------------------------------------------- */

.mt-0 {
	margin-top: 0!important;
}
.ml-0 {
	margin-left: 0!important;
}
.mr-0 {
	margin-right: 0!important;
}
.mb-0 {
	margin-bottom: 0!important;
}

.mt-2 {
	margin-top: .5rem!important;
}
.ml-2 {
	margin-left: .5rem!important;
}
.mr-2 {
	margin-right: .5rem!important;
}
.mb-2 {
	margin-bottom: .5rem!important;
}



/* Padding ------------------------------------------------------------------ */

.pt-2 {
	padding-top: .5rem!important;
}
.pl-2 {
	padding-left: .5rem!important;
}
.pr-2 {
	padding-right: .5rem!important;
}
.pb-2 {
	padding-bottom: .5rem!important;
}



/******************************************************************************/
/* TABLE                                                                      */
/******************************************************************************/

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

table th {
    text-align: left;
    border-bottom: 1px solid #E0F2F1;
    color: #E0F2F1; font-weight: 400;
    padding-left: .25rem; padding-bottom: .5rem;
}

table tbody tr {
    cursor: pointer;
    border-bottom: 1px solid rgba(0,0,0,.25);
}
table tbody tr.selected {
    background-color: rgba(255,255,255,.25);
}

table td {
    max-width: 5rem;
    padding: .5rem .25rem;
    overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}



/******************************************************************************/
/* LAYOUT                                                                     */
/******************************************************************************/

/* Loading ------------------------------------------------------------------ */

@-webkit-keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
@keyframes rotating {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.loading {
    margin: 3rem auto;
    display: flex; flex-direction: column; align-items: center;
}
.loading > img {
    width: 3rem; height: 3rem;
	animation: rotating 2s linear infinite;
}



/* Wrapper ------------------------------------------------------------------ */

.wrapper {
    min-height: 100%;
    position: relative;
    display: flex; flex-direction: column;
}
.wrapper > .loading {
    padding-top: 6rem;
}



/* Dropdown ----------------------------------------------------------------- */

.dropdown {
    position: relative;
}

.dropdown-toggle {
    cursor: pointer;
}
.dropdown-toggle::after {
    content: "";
    vertical-align: middle;
    display: inline-block; width: 0; height: 0; margin-left: .3em;
    border-top: .3em solid; border-right: .3em solid transparent; border-left: .3em solid transparent;
}

.dropdown-menu {
    display: none;
    z-index: 1031;
    font-size: .75rem;
    border: 0; border-radius: 0;
    background-color: #fff; box-shadow: 0 0 .5rem rgba(0,0,0,.5);
    position: absolute; top: 100%; left: 0; min-width: 10rem; padding: 0; margin: 0;
}
.dropdown-menu > a {
    display: block;
    padding: 0 1rem;
    border-top: 1px solid #E0E0E0;
    height: 2rem; line-height: 2rem;
    color: #212121; text-decoration: none;
}

.open .dropdown-menu {
    display: block;
}

.dropdown-menu-right {
    right: 0; left: auto;
}
.dropdown-menu-right a {
    text-align: right;
}



/* Topbar ------------------------------------------------------------------- */

.topbar {
    height: 2rem; line-height: 2rem; padding: 0 .5rem;
    display: flex; flex-direction: row; align-items: stretch; justify-content: space-between;
}
.topbar img {
    margin-right: .25rem;
    width: 1rem; height:1rem;
}

.topbar .dropdown {
    padding: 0 .5rem;
}
.topbar .dropdown-toggle {
    color: #FFFFFF; font-size: .75rem;
}

.topbar .container > a {
	padding: 0 .5rem;
    color: #FFFFFF; font-size: .75rem;
}

.topbar .container > a > .fa {
	margin-right: .5rem;
}



/* Menu --------------------------------------------------------------------- */

.menu-overlay {
    z-index: 20;
    background: rgba(0,0,0,.25);
    position: absolute; top: 2rem; bottom: 0; right: 0; left: 0;
}

.menu-pane {
    z-index: 30;
    width: 15rem;
    background-color: #004D40;
    transition: left 215ms ease-out;
    display: flex; flex-direction: column;
    position: absolute; top: 2rem; bottom: 0; left: -15rem;
}
.menu-pane.open {
    left: 0;
    box-shadow: .125rem 0 .75rem rgba(0,0,0,.25);
}
.menu-pane.sticky {
    display: none;
}
.menu-pane.open.sticky {
    display: flex;
    position: fixed!important; top: 0!important; right: 0!important; left: 0!important;
}

.menu-pane header a {
    display: block;
    padding-left: .5rem;
    letter-spacing: -1.5px; white-space: nowrap;
    color: #FFFFFF; font-size: 1.5rem; font-weight: 100;
}

.menu-pane nav {
    overflow: auto;
    margin-top: .5rem;
}

.menu-pane nav a {
    display: block;
    padding: 0 1rem;
    height: 2rem; line-height: 2rem;
    color: inherit; font-size: .875rem;
}
.menu-pane nav a:hover {
    color: inherit;
    background: rgba(0,0,0,.25);
}
.menu-pane nav a.active {
    color: #FFFFFF;
    background:rgba(0,0,0,.25);
}

.menu-pane nav span {
    display: block;
    padding: 0 1rem;
    height: 2rem; line-height: 2rem;
    color: #9E9E9E; font-size: .875rem; text-transform: uppercase;
}

.menu-pane nav nav a {
    padding-left: 2rem!important;
}



/* Header ------------------------------------------------------------------- */

header {
    z-index: 10;
    background-color: #009688;
    box-shadow: 0 .25rem .5rem rgba(0,0,0,.25);
    height: 3rem; line-height: 3rem; padding: 0 .5rem;
    display: flex; flex-direction: row; align-items: stretch;
}
header.sticky {
    position: fixed!important; top: 0!important; right: 0!important; left: 0!important;
}
@media (min-width:  768px) { header { height: 4rem; line-height: 4rem; } }

header .menu-toggler {
    padding: 0 .5rem;
    color: #FFFFFF; font-size: 1.25rem;
}

header h1 {
    padding: 0 .5rem; margin: 0;
    color: #FFFFFF; font-size: 1.5rem; font-weight: 400;
}

header > .container > a {
    margin: 0; padding: 0 .5rem;
    color: #FFFFFF; font-size: 2rem; font-weight: 100;
    letter-spacing: -1.5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
header > .container > a:hover, header > .container > a:focus {
    color: #FFFFFF; text-decoration: none;
}

header nav {
    margin-left: 2em;
    display: flex; flex-direction: row; align-items: stretch;
}

header nav > a, header nav .dropdown-toggle {
    padding: 0 1rem;
    color: #FFFFFF; font-size: 1rem; font-weight: 400; text-decoration: none; letter-spacing: inherit;
}
header nav > a:hover, header nav > a:focus, header nav > a.active, header nav .dropdown-toggle:hover, header nav .dropdown-toggle:focus {
    background-color: rgba(0,0,0,.125);
    color: #FFFFFF; text-decoration: none;
}



/* Content ------------------------------------------------------------------ */

.content {
    flex-grow: 1;
    margin-top: 1rem;
    display: flex; flex-direction: column;
}

section {
    margin: 0 0 1rem;
    position: relative;
    display: flex; flex-direction: column;
}

section > h2 {
    margin: 1rem .5rem;
    color: #80CBC4; font-size: 1.75rem; font-weight: 300;
}
@media (max-width: 767px) {
    section > h2 {
        text-align: center; font-size: 1.5rem;
    }
}

section > h3 {
	margin: 0 .5rem 1rem;
	font-size: 1rem; font-weight: 300;
}
@media (max-width: 767px) {
    section > h3 {
        text-align: center;
        margin: 0 .5rem 1rem;
    }
}

article {
	font-size: .75rem;
    background: #002e26;
    display: flex; flex-direction: column;
    padding: 1rem .5rem; margin: 0 .5rem 1px;
    box-shadow: 0 0 .25rem 0 rgba(0,0,0,.125);
}
article > h4 {
    margin: 0 0 1rem;
    color: #FFFFFF; font-size: 1rem; font-weight: 300;
}
article > h5 {
    margin: 0 0 1rem;
    color: #E0F2F1; font-size: .75rem; font-weight: 300;
}



/* Toast -------------------------------------------------------------------- */

#toast-content {
	position: relative;
}

#toast-container {
	position: static; width: 100%; 
}

#toast-container .toast {
    text-align: center;
    opacity: 1; box-shadow: none;
	background-position: 1rem .5rem;
    font-size: .875rem; font-weight: 400;
    width: 100%!important; margin-bottom: 1rem;
    min-height: 2.5rem; padding: 0 1rem 0 3.5rem;
}

#toast-container .toast > div {
    padding: .5rem 0;
}



/* Footer ------------------------------------------------------------------- */

footer {
    background-color: #232425;
    height: 3rem; line-height: 3rem; padding: 0 .5rem;
    display: flex; flex-direction: row; align-items: stretch; justify-content: space-around;
}
footer span {
    padding: 0 .5rem;
	line-height: 3.25rem;
    color: #858586; font-size: .75rem;
}
footer a {
    padding: 0 .5rem;
    color: #858586; font-size: .75rem;
}
footer a:hover, footer a:focus {
    color: #858586;
}
footer a i {
	vertical-align: middle;
	font-size: 1rem!important;
}



/* Container ---------------------------------------------------------------- */

.container { margin: 0; width: 100%; }
@media (min-width:  768px) { .container { margin: 0 auto; width: 720px; } }
@media (min-width:  992px) { .container { margin: 0 auto; width: 720px; } }
@media (min-width: 1200px) { .container { margin: 0 auto; width: 720px; } }

.topbar > .container, header > .container, .headbar > .container,
.content > .container, footer > .container, .footbar > .container {
    display: inherit; flex-direction: inherit; align-items: inherit; justify-content: inherit;
}
