.tabs { display:flex!important; flex-direction:row!important; }

.tabs > .item {
	flex-grow:1; flex-basis:0;
	cursor:pointer;
	padding:.75rem;
	text-align:center;
	border-top:1px solid #174540;
	display:flex; align-items:center; justify-content:center;
}

.tabs > .item:hover > .text { color:#ffffff; }
.tabs > .item:hover > .badge { color:#ffffff; }

.tabs > .item.active { border-top:1px solid #ffffff; }
.tabs > .item.active > .text { color:#ffffff; text-decoration:none; }
