.flex { display:flex;  flex-direction:row; flex-shrink:0; }
.flex-col { display:flex; flex-direction:column; flex-shrink:0; }

.row, .col { margin:-.375rem; }

.row { display:flex; flex-direction:row; flex-shrink: 0; }
.col { display:flex; flex-direction:column; flex-shrink: 0; }

.item { padding:.375rem; }

.flag-icon.item { padding:0; margin:.375rem; }

.justify-end { justify-content:flex-end; }
.justify-start { justify-content:flex-start; }
.justify-center { justify-content:center; }
.justify-around { justify-content:space-around; }
.justify-between { justify-content:space-between; }

.align-end { align-items:flex-end; }
.align-start { align-items:flex-start; }
.align-center { align-items:center; }
.align-around { align-items:space-around; }
.align-between { align-items:space-between; }

.self-end { align-self:flex-end; }
.self-start { align-self:flex-start; }
.self-center { align-self:center; }
.self-around { align-self:space-around; }
.self-between { align-self:space-between; }
.self-stretch { align-self:stretch; }

.grow { flex-grow:1; }
.nogrow { flex-grow:0; }

.wrap { flex-wrap:wrap; }
.nowrap { flex-wrap:nowrap; }

.shrink { flex-shrink:1; }
.noshrink { flex-shrink:0; }



.block { display:block; }



@-webkit-keyframes rotating {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}
@keyframes rotating {
	from { transform:rotate(0deg); }
	to { transform:rotate(360deg); }
}

.rotating { animation:rotating 2s linear infinite; }



.scrollable { flex:1 1 auto; height:0; overflow-y:auto; overflow-x:hidden; }



.color-black { color:black; }
.color-grey { color:grey; }
.color-link { color:#ebbc4a; }
.color-dark { color:#489299; }
.color-light { color:white; }
.color-muted { color:#666; }
.color-danger { color:#f44336; }
.color-normal { color:#5afbea; }
.color-warning { color:yellow; }
.color-resistant { color:#00c2ff; }
.color-enlightened { color:#28f428; }

.bgcolor-highlight { background-color: #0c2424; }



.text-big { font-size:25px; }
.text-small { font-size:11px; }
.text-normal { font-size:13px; }
.text-medium { font-size:15px; }

.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }



.text-bold { font-weight:bold; }



.text-uppercase { text-transform:uppercase; }



.m-none { margin:0; }
.mt-none { margin-top:0; }
.ml-none { margin-left:0; }
.mr-none { margin-right:0; }
.mb-none { margin-bottom:0; }

.m-small { margin:5px; }
.mt-small { margin-top:5px; }
.ml-small { margin-left:5px; }
.mr-small { margin-right:5px; }
.mb-small { margin-bottom:5px; }

.m-normal { margin:10px; }
.mt-normal { margin-top:10px; }
.ml-normal { margin-left:10px; }
.mr-normal { margin-right:10px; }
.mb-normal { margin-bottom:10px; }

.m-big { margin:20px; }
.mt-big { margin-top:20px; }
.ml-big { margin-left:20px; }
.mr-big { margin-right:20px; }
.mb-big { margin-bottom:20px; }



.p-none { padding:0; }
.pt-none { padding-top:0; }
.pl-none { padding-left:0; }
.pr-none { padding-right:0; }
.pb-none { padding-bottom:0; }

.p-small { padding:5px; }
.pt-small { padding-top:5px; }
.pl-small { padding-left:5px; }
.pr-small { padding-right:5px; }
.pb-small { padding-bottom:5px; }

.p-normal { padding:10px; }
.pt-normal { padding-top:10px; }
.pl-normal { padding-left:10px; }
.pr-normal { padding-right:10px; }
.pb-normal { padding-bottom:10px; }

.p-big { padding:20px; }
.pt-big { padding-top:20px; }
.pl-big { padding-left:20px; }
.pl-big { padding-right:20px; }
.pb-big { padding-bottom:20px; }

@media (min-width:720px) {
	
	.p-xl-none { padding:0; }
	.pt-xl-none { padding-top:0; }
	.pl-xl-none { padding-left:0; }
	.pr-xl-none { padding-right:0; }
	.pb-xl-none { padding-bottom:0; }
}



.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }



.group-list { margin:5px 0; border-top:1px solid #174540; }
.group-list-item { padding:5px; border-bottom:1px solid #174540; }
	
	

.mission-vignet { display:flex; flex-direction:column; align-items:center; justify-content:center; }
.mission-vignet > img { z-index:-1; flex:1 1 100%; }