<div class="loading" ng-if="city_loading">
	<img src="/static/front/img/loading.png" />
</div>

<ol class="breadcrumb" ng-if="!city_loading">
    <li class="breadcrumb-item"><a ng-click="goToCountry();">{{country_name}}</a></li>
    <li class="breadcrumb-item"><a ng-click="goToRegion();">{{region_name}}</a></li>
    <li class="breadcrumb-item active">{{city_name}}</li>
</ol>

<div class="card" ng-if="!city_loading">
    
    <table class="card-table">

        <tbody>
            <tr ng-repeat="item in mosaics" ng-click="go(item);">
            	
            	<td width="96px">
            		
            		<div class="f-row f-wrap f-justify-center pr-2">
			            <div ng-repeat="m in item.missions | reverse" style="flex:0 0 16.666667%;">
			                <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s10); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
			            </div>
		            </div>
            		
            	</td>
            	
                <td>
                	<div class="text-white">{{item.title}}</div>
                	<div class="">{{item.count}} &middot; {{item._distance | number:3}} km &middot; {{item.type}}</div>
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>
        
    </table>

</div>
