<div class="text-danger text-center mt-4 mr-2 ml-2" ng-if='!user.authenticated'>
	{{'restricted_TEXT' | translate}}
</div>

<div ng-if="user.authenticated">
    
    <div class="card">
        
        <div class="card-header">
            <span class="text-medium">{{'create_SUBTITLE1' | translate}}</span>
        </div>
        
        <div class="card-block first last">
            
            <div class="group">
                <label>{{'mosaic_TITLE' | translate}}</label>
                <input type="text" class="form-control" ng-model="data.title" />
            </div>
            
            <div class="group">
                <label>{{'mosaic_DESC' | translate}}</label>
                <textarea rows="4" cols="50" class="form-control" style="height:auto; padding:.5rem;" ng-model="data.desc"></textarea>
            </div>
            
            <div class="f-row">
                
                <div class="fitem-grow group pr-2">
                    <label>{{'mosaic_COUNTRY' | translate}}</label>
                    <input type="text" class="form-control" ng-model="data.country" />
                </div>
                
                <div class="fitem-grow group pr-2 pl-2">
                    <label>{{'mosaic_REGION' | translate}}</label>
                    <input type="text" class="form-control" ng-model="data.region" />
                </div>
                
                <div class="fitem-grow group pl-2">
                    <label>{{'mosaic_CITY' | translate}}</label>
                    <input type="text" class="form-control" ng-model="data.city" />
                </div>
                
            </div>
            
            <div class="f-row">
                
                <div class="fitem-grow pr-2">
                    <label>{{'mosaic_TYPE' | translate}}</label>
                    <select class="form-control" ng-model="data.type">
                        <option value="sequence">{{'mosaic_SEQUENCE' | translate}}</option>
                        <option value="serie">{{'mosaic_SERIE' | translate}}</option>
                    </select>
                </div>
                
                <div class="fitem-grow pr-2 pl-2">
                    <label>{{'mosaic_COUNT' | translate}}</label>
                    <input type="number" class="form-control" ng-model="data.count" />
                </div>
                
                <div class="fitem-grow pl-2">
                    <label>{{'mosaic_COLS' | translate}}</label>
                    <select class="form-control" ng-init="data.cols = '6'" ng-model="data.cols">
                        <option value="6">6</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                </div>
                
            </div>
            
        </div>

    </div>
    
    <div class="card">
        
        <div class="card-header">
            <span class="text-medium">{{'create_SUBTITLE2' | translate}}</span>
        </div>
        
        <table class="card-table card-table-compressed">
            <tbody>
                <tr ng-repeat="item in data.missions">
                    <td style="width:3rem;"><input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" /></td>
                    <td>{{item.name}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
     
    <div class="card">
        
        <div class="card-header">
            <span class="text-medium">{{'create_SUBTITLE3' | translate}}</span>
        </div>
        
        <div class="card-block first">
            
            <div class="f-row" ng-repeat="i in rows()">
                <div ng-repeat="j in cols()" style="flex:0 0 16.666667%;">
	                <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{getImage(i, j)}}=s100); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
                </div>
            </div>
            
        </div>
        
        <div class="card-block last">
            <div class="form-button-bar">
        		<button class="btn btn-primary" ng-click="btn_disabled = true; create();" ng-disabled="btn_disabled || !data.title || !data.region || !data.desc || !data.country || !data.city || !data.type || !data.count || !data.cols">
        		    {{'create_BTN' | translate}}
        		</button>
            </div>
        </div>
            
    </div>
   
</div>