<div class="group" style="margin:0 .5rem 1rem .5rem;">
	<a class="link" ng-click="back();">
		<i class="fa fa-long-arrow-left mr-2"></i>
		{{'edit_BACK' | translate}}
	</a>
</div>

<article>
	
    <h4>{{'edit_TITLE' | translate}}</h4>
    
    <table>
        <tbody>
            <tr ng-repeat="item in missions">
            	
                <td style="width:3rem;">
                	<input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" />
                </td>
                
                <td>
                	{{item.title}}
                </td>
                
            </tr>
        </tbody>
    </table>
	
</article>

<article>
	
    <div class="grid-row" ng-repeat="i in rows">
        <div ng-repeat="j in cols" style="flex:0 0 16.666667%;">
            
            <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{image(i, j)}}); background-size: 100% 100%; float:left;" />
            
        </div>
    </div>
    
</article>

<article>
	
	<button type="submit" class="btn btn-primary" ng-click="save();">
	    {{'edit_BTN' | translate}}
	</button>
		
</article>
