<div ng-if="!user.authenticated">
	
    <div class="text-danger text-center mt-4 mr-2 ml-2">
	    {{'restricted_TEXT' | translate}}
    </div>
    
</div>

<div ng-if="user.authenticated">
	
	<div class="mx-2 my-4" ng-repeat="mosaic in mosaics">
		
		<div class="f-row">
			<span class="text-normal">{{mosaic.missions.length}} missions</span>
		</div>
		
		<div class="f-row">
			<input type="text" class="form-control" ng-model="mosaic.name" />
		</div>
		
        <table class="card-table card-table-compressed">
            <tbody>
                <tr ng-repeat="item in mosaic.missions">
                    <td style="width:3rem;"><input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" /></td>
                    <td style="width:50%;">{{item.name}}</td>
                    <td style="width:25%;" ng-class="{'text-enligtened': item.faction == 'E', 'text-resistance': item.faction == 'R',}" ng-click="$event.stopPropagation(); toggle($index, $event, item);">{{item.creator}}</td>
                    <td class="text-right">
                        <a href="https://www.ingress.com/intel?ll={{item.lat}},{{item.lng}}&z=15" class="ml-2" target="blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        <div class="card-block last form-button-bar">
    		<button class="btn btn-primary" ng-click="btn_disabled = true; createMosaic(mosaic);" ng-disabled="btn_disabled">
    		    {{'create_BTN' | translate}}
    		</button>
        </div>
        
	</div>
	
</div>