<section ng-if='!user.authenticated'>
	
	<div class="text-danger text-center mr-2 ml-2">
		{{'restricted_TEXT' | translate}}
	</div>

</section>

<section ng-if='user.authenticated'>
    
    <article>
        
        <h4>{{'missions_SUBTITLE' | translate}}</h4>
        
        <div ng-if="!missions">
            
            <p class="text-danger">{{'missions_NOMISSION' | translate}}</p>
            
            <p>
                
                {{'missions_UPDATENAME' | translate}}
                
				<a ui-sref="root.profile">
					{{'profile_LINK' | translate}}
				</a>
				
            </p>

            <p>
                
                {{'missions_HUNTINGTOOL' | translate}}
                
                <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">
                    MyIngressMosaics Hunting Tool
                </a>
                
            </p>
            
        </div>
        
        <div ng-if="missions">
            
            <div class="group-row">
                
                <input type="text" class="form-control" placeholder="{{'missions_FILTER' | translate}}" ng-model="searchKeyword" />
                
            </div>
            
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'missions_COLNAME' | translate}}</th>
                        <th>{{'missions_COLCREATOR' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in missions | filter:searchKeyword" ng-class="{'selected': isSelected(item.ref)}" ng-click="toggle(item);">
                        <td style="width:1%;"><input type="checkbox" ng-checked="isSelected(item.ref)" /></td>
                        <td>{{item.name}}</td>
                        <td ng-class="{'text-enligtened': item.faction == 'E', 'text-resistance': item.faction == 'R',}">{{item.creator}}</td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </article>
    
    <article>
        
		<button type="submit" class="btn btn-primary" ng-click="nextStep();" ng-disabled="!hasSelected();">
		    {{'missions_BTN' | translate}}
		</button>
        
    </article>
    
</section>