<ng-include src="'/static/front/pages/_header.html'" />

<section ng-if='!user.authenticated'>
	
	<div class="text-danger text-center mr-2 ml-2">
		{{'restricted_TEXT' | translate}}
	</div>

</section>

<section ng-if='user.authenticated'>
    
    <article>
        
        <h4>{{'missions_SUBTITLE' | translate}}</h4>
        
        <div ng-if="!missions">
            
            <p class="text-danger">{{'missions_NOMISSION' | translate}}</p>
            
            <p>
                
                {{'missions_UPDATENAME' | translate}}
                
				<a ui-sref="root.profile">
					{{'profile_LINK' | translate}}
				</a>
				
            </p>

            <p>
                
                {{'missions_HUNTINGTOOL' | translate}}
                
                <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">
                    MyIngressMosaics Hunting Tool
                </a>
                
            </p>
            
        </div>
        
        <div ng-if="missions">
            
            <table style="-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{'missions_COLNAME' | translate}}</th>
                        <th></th>
                        <th>{{'missions_COLCREATOR' | translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in missions" ng-class="{'selected': isSelected(item.ref)}">
                        <td class="text-center" style="width:2rem;" ng-click="$event.stopPropagation(); toggle($index, $event, item);"><i class="fa fa-check-circle" ng-class="{'text-muted': !isSelected(item.ref)}"></i></td>
                        <td ng-click="$event.stopPropagation(); toggle($index, $event, item);">
                            {{item.name}}
                        </td>
                        <td class="text-center">
                            <a href="https://www.ingress.com/mission/{{item.ref}}" class="ml-2" target="blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </td>
                        <td ng-class="{'text-enligtened': item.faction == 'E', 'text-resistance': item.faction == 'R',}" ng-click="$event.stopPropagation(); toggle($index, $event, item);">{{item.creator}}</td>
                        <td class="text-center" ng-click="delete(item);"><i class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        
    </article>
    
    <article>
        
		<button type="submit" class="btn btn-primary" ng-click="nextStep();" ng-disabled="!hasSelected();">
		    {{'missions_BTN' | translate}}
		</button>
        
    </article>
    
</section>