<div class="text-danger text-center mt-4 mr-2 ml-2" ng-if="!mosaic">
	{{'nomosaic_TEXT' | translate}}
</div>

<div ng-if="mosaic" ui-view="">
	
	<div class="card">
		
		<div class="card-header f-row">
			
			<span class="mr-auto">{{'mosaicpage_DETAILS' | translate}}</span>
	
			<a ng-if="user.name == mosaic.registerer.name" ng-show="!editMode" ng-click="openEdit();">
				<i class="fa fa-pencil-square-o btn-icon"></i>
			</a>

		</div>
		
		<div class="card-block f-col" ng-show="!editMode">
			
			<div class="text-white text-big">{{mosaic.title}}</div>
			
		    <div>{{mosaic.country}} &middot; {{mosaic.city}}</div>
		    
			<pre class="text-highlight">{{mosaic.desc}}</pre>
			
	        <div class="mb-2">
	        	{{'mosaic_BY' | translate}}
	        	<span class="ml-2" ng-repeat="creator in mosaic.creators" ng-class="{'text-enligtened': creator.faction == 'E', 'text-resistance': creator.faction == 'R',}">{{creator.name}}</span>
	        </div>

		</div>
		
		<div class="card-block f-col" ng-if="user.name == mosaic.registerer.name" ng-show="editMode">
			
			<div class="loading" ng-show="editLoading">
				<img src="/static/front/img/loading.png" />
			</div>
			
	        <div class="group">
	            <label>{{'mosaic_TITLE' | translate}}</label>
	            <input type="text" class="form-control" ng-model="editModel.title" />
	        </div>
	        
	        <div class="f-row">
	            
	            <div class="group fitem-grow pr-2">
	                <label>{{'mosaic_COUNTRY' | translate}}</label>
	                <input type="text" class="form-control" ng-model="editModel.country" />
	            </div>
	            
	            <div class="group fitem-grow pl-2">
	                <label>{{'mosaic_CITY' | translate}}</label>
	                <input type="text" class="form-control" ng-model="editModel.city" />
	            </div>
	            
	        </div>
	        
	        <div class="group">
	            <label>{{'mosaic_DESC' | translate}}</label>
	            <textarea rows="4" cols="50" class="form-control" style="height:auto; padding:.5rem;" ng-model="editModel.desc"></textarea>
	        </div>
	        
	        <div class="f-row">
	            
	            <div class="group fitem-grow pr-2">
	                <label>{{'mosaic_TYPE' | translate}}</label>
	                <select class="form-control" ng-model="editModel.type">
	                    <option value="sequence">{{'mosaic_SEQUENCE' | translate}}</option>
	                    <option value="serie">{{'mosaic_SERIE' | translate}}</option>
	                </select>
	            </div>
	            
	            <div class="group fitem-grow pr-2 pl-2">
	                <label>{{'mosaic_COUNT' | translate}}</label>
	                <input type="number" class="form-control" ng-model="editModel.count" />
	            </div>
	            
	            <div class="group fitem-grow pl-2">
	                <label>{{'mosaic_COLS' | translate}}</label>
	                <select class="form-control" ng-model="editModel.cols" convert-to-number>
	                    <option value="6">6</option>
	                    <option value="5">5</option>
	                    <option value="4">4</option>
	                    <option value="3">3</option>
	                    <option value="2">2</option>
	                    <option value="1">1</option>
	                </select>
	            </div>
	            
	        </div>

	        <div class="form-button-bar">
	        	
				<button type="submit" class="btn btn-primary" ng-click="edit();" ng-disabled="!editModel.title || !editModel.desc || !editModel.country || !editModel.city || !editModel.type || !editModel.count || !editModel.cols">
				    {{'ok_LABEL' | translate}}
				</button>
	        	
				<button type="submit" class="btn btn-secondary" ng-click="closeEdit();">
				    {{'cancel_LABEL' | translate}}
				</button>
				
	        </div>
			
		</div>
		
	</div>

	<div class="card">
		
		<div class="card-header f-row">
			
			<span class="mr-auto">{{'mosaicpage_IMAGE' | translate}}</span>
			<span>{{rows().length}}x{{mosaic.cols}}</span>
			
		</div>
		
		<div class="card-block">
			
	        <div class="f-row" ng-repeat="i in rows()">
	            <div ng-repeat="j in cols()" style="flex:0 0 16.666667%;">
	                <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{getImage(i, j)}}=s100); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
	            </div>
	        </div>
		</div>
		
	</div>

	<div class="card">
		
		<div class="card-header f-row">
			
			<span class="mr-auto">{{'mosaicpage_ROADMAP' | translate}}</span>
			<span>{{mosaic._distance | number:3}} km</span>
			
		</div>
		
		<div class="card-block">
			
	    	<div id="map" ng-init="initMap();"></div>
	    	
		</div>
		
	</div>
	
	<div class="card">
		
		<div class="loading" ng-show="reorderLoading">
			<img src="/static/front/img/loading.png" />
		</div>
		
		<div class="card-header f-row">
			
			<span class="mr-auto">{{'mosaicpage_MISSIONS' | translate}}</span>
			<span>{{mosaic.missions.length}} &middot; {{mosaic.type}}</span>
			
		</div>
		
        <table class="card-table" ng-show="!reorderMode && !addMode">
            <tbody>
                <tr ng-repeat="item in mosaic.missions">
                	
                    <td class="text-white text-center" style="width:2rem;" ng-if="user.name == mosaic.registerer.name">
                    	<a ng-click="remove(item.ref);">
                    		<i class="fa fa-trash"></i>
                    	</a>
                    </td>
                    
                    <td class="text-white text-center" style="width:2rem;">
                    	#{{item.order}}
                    </td>
                    
                    <td>
                        {{item.title}}
                    </td>
                    
                    <td class="text-center" style="width:2rem;">
                        <a href="https://www.ingress.com/mission/{{item.ref}}" target="blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                    
                </tr>
            </tbody>
        </table>
		
        <table class="card-table" ng-show="reorderMode">
            <tbody>
                <tr ng-repeat="item in reorderModel.missions">
                	
	                <td style="width:3rem;">
	                	<input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" />
	                </td>
	                
	                <td>
	                	{{item.title}}
	                </td>
                    
                </tr>
            </tbody>
        </table>
		
		<div class="card-block" ng-if="user.name == mosaic.registerer.name"  ng-show="reorderMode">
			
			<div class="form-button-bar">
				
				<a class="btn btn-primary" ng-click="reorder();">
					{{'ok_LABEL' | translate}}
				</a>
				
				<a class="btn btn-secondary" ng-click="closeReorder();">
					{{'cancel_LABEL' | translate}}
				</a>
			
			</div>

		</div>
		
        <table class="card-table" ng-show="addMode">
            <tbody>
                <tr ng-repeat="item in potentials">
                	
	                <td style="width:3rem;">
	                	<input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" />
	                </td>
	                
	                <td>
	                	{{item.name}}
	                </td>
	            	
	                <td style="width:3rem;">
	                	<button class="btn btn-primary" ng-click="add(item);">
	                		{{'add_BTN' | translate}}
	                	</button>
	                </td>
                    
                </tr>
            </tbody>
        </table>
		
		<div class="card-block" ng-if="user.name == mosaic.registerer.name"  ng-show="addMode">
			
			<div class="form-button-bar">
				
				<a class="btn btn-primary" ng-click="closeAdd();">
					{{'close_LABEL' | translate}}
				</a>

			</div>

		</div>
		
		<div class="card-block" ng-if="user.name == mosaic.registerer.name"  ng-show="!reorderMode && !addMode">
			
			<div class="form-button-bar">
				
				<a class="btn btn-secondary" ng-click="openReorder();">
					{{'mosaicpage_REORDER' | translate}}
				</a>
				
				<a class="btn btn-secondary" ng-click="openAdd();">
					{{'mosaicpage_ADD' | translate}}
				</a>
			
			</div>

		</div>
		
	</div>
	
	<div class="card" ng-if="user.name == mosaic.registerer.name">
		
		<div class="card-header">
			{{'mosaicpage_DELETETITLE' | translate}}
		</div>

		<div class="card-block f-row">
			
			<input type="text" class="form-control mr-2" />
			
			<button type="submit" class="btn btn-primary ml-2" ng-model="deleteModel.name" ng-click="delete();">
				{{'mosaicpage_DELETE' | translate}}
			</button>

		</div>
		
	</div>

</div>
