<ng-include src="'/static/front/pages/_header.html'" />

<section ng-if="!mosaic">
	
	<div class="text-danger text-center mr-2 ml-2">
		{{'nomosaic_TEXT' | translate}}
	</div>

</section>

<section ng-if="mosaic" ui-view="">
	
	<meta itemscope itemtype="http://schema.org/Article" />
	<meta itemprop="headline" content="{{mosaic.title}}" />
	<meta itemprop="description" content="{{mosaic.desc}}" />

	<article>
		
        <div class="grid-row" ng-repeat="i in rows()">
            <div ng-repeat="j in cols()" style="flex:0 0 16.666667%;">
                
                <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{getImage(i, j)}}=s100); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
                
            </div>
        </div>
        
	</article>
	
	<article>
        
		<h4>
			<div style="position:relative;" ng-show="!editname">
				{{mosaic.title}}
				<i class="fa fa-pencil-square-o icon-edit" ng-if="user.name == mosaic.registerer.name" ng-click="nameClick();"></i>
	            <div class="loading loading-edit" ng-show="loadingname">
	            	<img src="/static/front/img/loading.png" />
	            </div>
			</div>
			<div ng-show="editname">
				<input id="input-name" type="text" class="form-control" ng-model="newname" ng-blur="nameBlur(newname);" />
			</div>
		</h4>
		
        <h5>{{mosaic.country}} &middot; {{mosaic.city}}</h5>
		<h5><pre class="mt-0 mb-0" style="font: inherit; white-space: pre-line;">{{mosaic.desc}}</pre></h5>
        
        <div class="group">
        	{{'mosaic_BY' | translate}}
        	<span class="ml-2" ng-repeat="creator in mosaic.creators" ng-class="{'text-enligtened': creator.faction == 'E', 'text-resistance': creator.faction == 'R',}">{{creator.name}}</span>
        </div>
        
        <div>
        	{{mosaic.type}} &middot; {{rows().length}}x{{mosaic.cols}} &middot; {{mosaic._distance | number:3}} km
        </div>
        
	</article>
	
	<article>
		
		<h4>
			{{'mosaicpage_ROADMAP' | translate}}
			<a ui-sref="root.mosaic.edit" ng-if="user.name == mosaic.registerer.name">
				<i class="fa fa-pencil-square-o icon-edit"></i>
			</a>
		</h4>
		
	    <div id="map" ng-init="initMap();"></div>
        
	</article>
	
	<article>

        <table class="mb-2">
            <tbody>
                <tr ng-repeat="item in mosaic.missions">
                	
                    <td class="text-white" style="width:2rem;">
                    	#{{item.order}}
                    </td>
                    
                    <td>
                        {{item.title}}
                    </td>
                    
                    <td class="text-center" style="width:1rem;">
                        <a href="https://www.ingress.com/mission/{{item.ref}}" target="blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </td>
                    
                </tr>
            </tbody>
        </table>

	</article>

</section>
