<div ng-if="!user.authenticated">
    
    <div class="text-danger text-center mt-4 mr-2 ml-2">
	    {{'restricted_TEXT' | translate}}
    </div>

</div>

<div ng-if='user.authenticated'>
    
    <div class="card">
        
        <div class="card-header">
            
            <span class="text-medium">{{'mymosaics_SUBTITLE' | translate}}</span>
            
        </div>
        
        <div ng-if="!mosaics">
            
            <p class="text-danger">{{'mymosaics_NOMOSAIC' | translate}}</p>
            
        </div>
    
        <div ng-if="mosaics">
            
            <table class="card-table">
                
                <thead>
                    <tr>
                        <th>
                            {{'mymosaics_COLNAME' | translate}}
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr ng-repeat="item in mosaics" ng-click="go(item);">
                        <td class="text-link">{{item.name}}</td>
                    </tr>
                </tbody>
                
            </table>
            
        </div>
    
    </div>
            
</div>