<div class="loading" ng-if="region_loading">
	<img src="/static/front/img/loading.png" />
</div>

<ol class="breadcrumb" ng-if="!region_loading">
    <li class="breadcrumb-item"><a ng-click="goToCountry();">{{country_name}}</a></li>
    <li class="breadcrumb-item active">{{region_name}}</li>
</ol>

<div class="card" ng-if="!region_loading">
    
    <div class="card-header" ng-if="!cities">
    	<span class="text-danger">{{'nocity_LABEL' | translate}}</span>
    </div>
    
    <div ng-if="cities">
	    
	    <div class="card-header f-row">
	    	
	    	<label class="mb-0 mr-2">{{'filter_LABEL' | translate}}</label>
	    	<input type="text" class="form-control" ng-model="keywords" />
	    	
	    </div>
	    
	    <table class="card-table">
	        	
	        <thead>
	            <tr>
	                <th class="text-center" width="80px" style="cursor:pointer;" ng-click="sortByMosaics();">
	                    <i class="fa mr-2" ng-class="{'fa-caret-up':sortMosaics == 'asc', 'fa-caret-down':sortMosaics == 'desc', 'fa-sort text-muted':sortMosaics == ''}"></i>
	                	{{'world_COLMOSAICS' | translate}}
	                </th>
	                <th style="cursor:pointer;" ng-click="sortByName();">
	                    <i class="fa mr-2" ng-class="{'fa-caret-up':sortName == 'asc', 'fa-caret-down':sortName == 'desc', 'fa-sort text-muted':sortName == ''}"></i>
	                	{{'world_COLCITY' | translate}}
	                </th>
	                <th></th>
	            </tr>
	        </thead>
	        
	        <tbody>
	            <tr ng-repeat="item in cities | filter:keywords" ng-click="go(item);">
	            	
	                <td class="text-right text-center" width="80px">
	                	{{item.mosaics}}
	                </td>
	                
	                <td class="text-white">
	                    {{item.name}}
	                </td>
	                
	                <td class="text-center" style="width:2rem;">
	                	<i class="fa fa-arrow-circle-right text-link"></i>
	                </td>
	
	            </tr>
	        </tbody>
	
		</table>
	
	</div>
	
</div>

<div class="card" ng-if="!region_loading && user && user.superuser">

	<div class="card-header text-medium">
		Set region to city
	</div>

	<div class="card-block first last f-row">
		
		<input type="text" class="form-control mr-2" placeholder="City" ng-model="setRegionyModel.city" />
		<input type="text" class="form-control mr-2" placeholder="Region" ng-model="setRegionyModel.region" />
		
		<button type="submit" class="btn btn-primary ml-2" ng-click="setRegion();">
			Set
		</button>

	</div>

</div>
