<section>
	
	<article>
	
		<div id="toast-content"></div>
		
		<form name="form" novalidate>
	
			<div class="form-group">
				
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					<input type="text" class="form-control" placeholder="{{'register_user_PLACEHOLDER' | translate}}" name="username" ng-model="registerModel.username" required="" />
				</div>
				
				<div ng-show="form.$submitted || form.username.$touched">
					<p class="form-error" ng-show="form.username.$error.required">{{'error_REQUIRED' | translate}}</p>
				</div>
				
			</div>
	
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
					<input type="email" class="form-control" placeholder="{{'register_email_PLACEHOLDER' | translate}}" name="email" ng-model="registerModel.email" required="" />
				</div>
				<div ng-show="form.$submitted || form.email.$touched">
					<p class="form-error" ng-show="form.email.$error.required">{{'error_REQUIRED' | translate}}</p>
					<p class="form-error" ng-show="form.email.$error.email">{{'error_EMAIL' | translate}}</p>
				</div>
			</div>
	
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
					<input type="password" class="form-control" placeholder="{{'register_pwd1_PLACEHOLDER' | translate}}" name="password1" ng-model="registerModel.password1" required="" />
				</div>
				<div ng-show="form.$submitted || form.password1.$touched">
					<p class="form-error" ng-show="form.password1.$error.required">{{'error_REQUIRED' | translate}}</p>
				</div>
			</div>
	
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
					<input type="password" class="form-control" placeholder="{{'register_pwd2_PLACEHOLDER' | translate}}" name="password2" ng-model="registerModel.password2" required="" />
				</div>
				<div ng-show="form.$submitted || form.password2.$touched">
					<p class="form-error" ng-show="form.password2.$error.required">{{'error_REQUIRED' | translate}}</p>
				</div>
			</div>
	
			<p class="text-center">
				{{'register_TEXT1' | translate}}
			</p>
			
			<div class="grid-row">
				<div class="cell pr-2">
					<button type="submit" class="btn btn-primary btn-block" ng-click="register(registerModel.username, registerModel.password1, registerModel.password2, registerModel.email);" ng-disabled="!registerModel.username || !registerModel.email || !registerModel.password1 || !registerModel.password2">{{'register_BTN' | translate}}</button>
				</div>
				<div class="cell pl-2 text-right">
					<a class="btn btn-secondary" ui-sref="root.login">{{'login_LINK' | translate}}</a>
				</div>
			</div>
			
		</form>
	    
	</article>

</section>