<div class="menu-overlay" ng-click="closeMenu();" ng-class="{'open': menu_open}"></div>

<div class="menu-pane" ng-click="closeMenu();" ng-class="{'open': menu_open}">
    
	<a class="menu-header" ui-sref="root.home">
		<img src="/static/front/img/logo.jpg" class="menu-header-logo" />
		MyIngressMosaics
	</a>
    
	<div class="menu-content">
		
		<nav class="menu-nav">
			
		    <a class="menu-nav-item" ui-sref="root.countries" ui-sref-active="active">
				<i class="fa fa-globe menu-nav-icon"></i>
		    	{{'countries_LINK' | translate}}
		    </a>
			
		    <a class="menu-nav-item" ui-sref="root.missions" ui-sref-active="active">
				<i class="fa fa-plus-square menu-nav-icon"></i>
		    	{{'missions_LINK' | translate}}
		    </a>
		    
		</nav>
		
		<nav class="menu-nav">
			
			<div class="menu-nav-title">
				{{'menu_title_USER' | translate}}
			</div>
			
			<a class="menu-nav-item" ui-sref="root.login" ng-show="!user.authenticated">
				<i class="fa fa-sign-in menu-nav-icon"></i>
				{{'login_LINK' | translate}}
			</a>
			
			<a class="menu-nav-item" ui-sref="root.register" ng-show="!user.authenticated">
				<i class="fa fa-hand-o-right menu-nav-icon"></i>
				{{'register_LINK' | translate}}
			</a>
			
			<a class="menu-nav-item" ui-sref="root.profile" ng-show="user.authenticated">
				<i class="fa fa-user menu-nav-icon"></i>
				{{'profile_LINK' | translate}}
			</a>
			
			<a class="menu-nav-item" ui-sref="root.mymosaics" ng-show="user.authenticated">
				<i class="fa fa-th menu-nav-icon"></i>
				{{'mymosaics_LINK' | translate}}
			</a>
			
			<a class="menu-nav-item" href="javascript:;"  ng-show="user.authenticated" ng-click="logout();">
				<i class="fa fa-sign-out menu-nav-icon"></i>
				{{'logout_LINK' | translate}}
			</a>
		    
		</nav>
		
		<nav class="menu-nav">
			
			<div class="menu-nav-title">
				{{'menu_title_LANG' | translate}}
			</div>
			
			<a class="menu-nav-item" href="/en{{state.current.url}}">
				<span class="flag-icon flag-icon-gb menu-nav-icon"></span>
				English
			</a>
			
			<a class="menu-nav-item" href="/fr{{state.current.url}}">
				<span class="flag-icon flag-icon-fr menu-nav-icon"></span>
				Français
			</a>
			
		</nav>
		
		<nav class="menu-nav">
			
			<div class="menu-nav-title">
				{{'menu_title_CONTACT' | translate}}
			</div>
			
			<a class="menu-nav-item" href="mailto:freddec.ingress@gmail.com">
				<i class="fa fa-envelope menu-nav-icon"></i>
				{{'menu_contact_EMAIL' | translate}}
			</a>
			
			<a class="menu-nav-item" href="https://plus.google.com/u/1/communities/104595846633880114608" target="_blank">
				<i class="fa fa-google-plus-square menu-nav-icon"></i>
				{{'menu_contact_COMMUNITY' | translate}}
			</a>
			
		</nav>
		
		<nav class="menu-nav">
			
			<div class="menu-nav-title">
				2017 © Copyright
			</div>
			
			<div class="menu-nav-title">
				DECONINCK Frédéric
			</div>
			
		</nav>
		
	</div>
    
</div>

<div class="page-pane">
	
	<header class="page-header">
	    
	    <div class="page-header-brand">
	    	
			<div class="menu-toggler" ng-click="openMenu();">
				<i class="fa fa-bars"></i>
			</div>
		    
			<h1 class="page-header-title">
				{{state.current.data.title | translate}}
			</h1>
			
		</div>
		
	</header>
	
	<div id="toast-content"></div>
	
	<div class="page-content">

		<div class="page-container" ui-view="">
		    
			<div class="loading">
				<img src="/static/front/img/loading.png" />
			</div>
	
		</div>
	</div>

</div>