<div class="card mt-4">

	<div class="card-block first last f-row">
		
		<input type="text" class="form-control mr-2" ng-model="searchModel.text" />
		
		<button type="submit" class="btn btn-primary ml-2" ng-click="search();">
			{{'search_LABEL' | translate}}
		</button>

	</div>
	
</div>

<div class="loading" ng-if="search_loading">
	<img src="/static/front/img/loading.png" />
</div>

<div class="card">

	<div class="card-header">
		<span class="text-medium">{{'country_LABEL' | translate}}</span>
	</div>
		
    <table class="card-table">

        <tbody>
            <tr ng-repeat="item in countries" ng-click="goToCountry(item.name);">
            	
                <td class="text-right text-center" width="80px">
                	{{item.mosaics}}
                </td>
                
                <td class="text-white">
                	<span class="flag-icon mr-2" style="position:relative; top:-2px;" ng-class="{
                		'flag-icon-fr': item.name == 'France',
                		'flag-icon-gb': item.name == 'United Kingdom',
                		'flag-icon-my': item.name == 'Malaysia',
                		'flag-icon-sg': item.name == 'Singapore',
                		'flag-icon-us': item.name == 'United States',
                		'flag-icon-mx': item.name == 'México',
                	}"></span>
                    {{item.name}}
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>
    </table>

</div>

<div class="card">

	<div class="card-header">
		<span class="text-medium">{{'region_LABEL' | translate}}</span>
	</div>
	
    <table class="card-table">
        	
        <tbody>
            <tr ng-repeat="item in regions | filter:keywords" ng-click="goToRegion(item.name);" ng-show="item.mosaics > 0">
            	
                <td class="text-right text-center" width="80px">
                	{{item.mosaics}}
                </td>
                
                <td ng-class="{'text-danger': item.name == 'Not specified', 'text-white': item.name != 'Not specified'}">
                    {{item.name}}
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>
        
    </table>

</div>

<div class="card">

	<div class="card-header">
		<span class="text-medium">{{'city_LABEL' | translate}}</span>
	</div>

    <table class="card-table">
        
        <tbody>
            <tr ng-repeat="item in cities | filter:keywords" ng-click="goToCity(item.name);">
            	
                <td class="text-right text-center" width="80px">
                	{{item.mosaics}}
                </td>
                
                <td class="text-white">
                    {{item.name}}
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>

	</table>

</div>

<div class="card">

	<div class="card-header">
		<span class="text-medium">{{'creator_LABEL' | translate}}</span>
	</div>

    <table class="card-table">
        
        <tbody>
            <tr ng-repeat="item in creators | filter:keywords" ng-click="goToCreator(item.name);">
            	
                <td class="text-right text-center" width="80px">
                	{{item.mosaics}}
                </td>
                
                <td class="text-white">
                    {{item.name}}
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>

	</table>

</div>

<div class="card">

	<div class="card-header">
		<span class="text-medium">{{'mosaics_LABEL' | translate}}</span>
	</div>
	
    <table class="card-table">

        <tbody>
            <tr ng-repeat="item in mosaics" ng-click="goToMosaic(item.ref);">
            	
            	<td width="96px">
            		
            		<div class="f-row f-wrap f-justify-center pr-2">
			            <div ng-repeat="m in item.missions | reverse" style="flex:0 0 16.666667%;">
			                <img src="/static/front/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s10); background-size: 85% 85%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
			            </div>
		            </div>
            		
            	</td>
            	
                <td>
                	<div class="text-white">{{item.title}}</div>
                	<div class="">{{item.count}} &middot; {{item._distance | number:3}} km &middot; {{item.type}}</div>
                </td>
                
                <td class="text-center" style="width:2rem;">
                	<i class="fa fa-arrow-circle-right text-link"></i>
                </td>

            </tr>
        </tbody>
        
    </table>

</div>
