{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmCityCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none">
			
			<span class="block">Country</span>
			
			<select class="control" ng-model="country_id" ng-change="selectCountry(country_id);">
				<option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</value>
			</select>

		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="country_id">
			
			<span class="block">Region</span>
			
			<select class="control" ng-model="region_id" ng-change="selectRegion(region_id);">
				<option ng-repeat="region in regions" value="{{region.id}}">{{region.name}}</value>
			</select>
			
			<div class="mt-small" ng-show="region_id">
				<a ng-click="refreshRegion();">Refresh</a>
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="cities.length > 0">
			
			<span class="block">Create new city</span>
			
			<div class="row">
				
				<div class="item grow">
					<input class="control" placeholder="name" ng-model="name">
				</div>
				
				<div class="item grow">
					<input class="control" placeholder="locale" ng-model="locale">
				</div>
				
				<div class="item">
					<button class="btn" ng-click="createCity(region_id, name, locale);">
						Create
					</button>
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="cities.length > 0">
			
			<span class="block">Merge 2 cities</span>
			
			<div class="row">
				
				<div class="item grow">
					<select class="control" ng-model="src_id">
						<option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</value>
					</select>
				</div>
				
				<div class="item grow">
					<select class="control" ng-model="dest_id">
						<option ng-repeat="city in cities" value="{{city.id}}">{{city.name}}</value>
					</select>
				</div>
				
				<div class="item">
					<button class="btn" ng-click="mergeCities(src_id, dest_id);">
						Merge
					</button>
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="cities.length > 0">
			
			<span class="block">Autocomplete</span>
			
			<div class="row">
				
				<div class="item grow">
					<input id="city_input" class="control" placeholder="City name">
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="cities.length > 0">
			
			<span class="block">Manage cities</span>
			
			<div class="row" ng-repeat="city in cities">
				
				<div class="item grow">
					<input class="control" placeholder="name" ng-model="new_name" ng-init="new_name = city.name;">
				</div>
				
				<div class="item grow">
					<input class="control" placeholder="locale" ng-model="new_locale" ng-init="new_locale = city.locale;">
				</div>
				
				<div class="item">
					<button class="btn" ng-click="updateCity(city.id, new_name, new_locale);">
						Update
					</button>
				</div>
				
				<div class="item self-center text-center" style="width:40px;">
					<span ng-class="{'color-danger':city.mosaic_count < 1}">{{city.mosaic_count}}</span>
				</div>
				
				<div class="item">
					<button class="btn btn-danger" ng-click="deleteCity(city.id);">
						Delete
					</button>
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="cities.length > 0">
			
			<span class="block">Teleportation</span>
			
			<div class="row">
				
				<div class="item grow">
					<select class="control" ng-model="teleport_city_id">
						<option ng-repeat="teleport_city in cities" value="{{teleport_city.id}}">{{teleport_city.name}}</value>
					</select>
				</div>
				
				<div class="item grow">
					<select class="control" ng-model="teleport_region_id">
						<option ng-repeat="teleport_region in regions" value="{{teleport_region.id}}">{{teleport_region.name}}</value>
					</select>
				</div>
				
				<div class="item">
					<button class="btn" ng-click="teleportCity(teleport_region_id, teleport_city_id);">
						Teleport
					</button>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}

{% block script %}
<script src="/static/front.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&language=en&libraries=places"></script>
{% endblock %}
