{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Admin</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Admin - Regions' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="AdmRegionCtrl">
    
{% verbatim %}

	<div ng-if="loading_page" class="p-2 ta-center">
		<i class="fa fa-spinner rotating mr-1"></i>
		Loading data...
	</div>
	
	<div ng-if="!loading_page">
		
		<div class="section p-2">
			<div class="item bg-dark">
				<form class="f-row">
					<div class="item" style="flex:1;">
						<select class="form-control" ng-model="selectedCountry">
							<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
						</select>
					</div>
					<div class="item">
						<button type="submit" class="btn btn-primary" ng-click="refresh(selectedCountry);" ng-disabled="loading_regions || !selectedCountry">
	            			<span ng-show="loading_regions">
	            				<i class="fa fa-spinner rotating mr-1"></i>
	            			</span>
							Refresh
						</button>
					</div>
				</form>
			</div>
		</div>

		<div ng-show="!loading_regions && regions" class="section">
		
			<div class="item">
				<div class="ttrans-uppercase border-light-b">
					Regions - {{regions.length}}
				</div>
			</div>
		
			<div class="item">
				<div class="panel border-dark-b" ng-repeat="region in regions">
					<div class="f-row">
						<div class="item" style="flex:1;">
							<input type="text" class="form-control" placeholder="" ng-model="region.newname" />
						</div>
						<div class="item">
							<button type="submit" class="btn btn-primary" ng-click="rename(region);">
								Rename
							</button>
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
	</div>

</div>

{% endverbatim %}
{% endblock %}