{% extends 'base.html' %}

{% load jsonify %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmCityCtrl">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			{% if city_doublons %}
			<div class="section">
				
				<div class="flex-col">
					
					<div class="item">
						<span class="color-normal">Doublon of city</span>
					</div>
					
					{% for city in city_doublons %}
					<div class="item">
						<div class="bg-block flex align-center text-small pl-small pr-small">
							
							<div class="item">
								<span class="color-light">{{city.name}}</span>
								<span class="color-light">, {{city.region_name}}</span>
								<span class="color-light">, {{city.country_name}}</span>
							</div>
							
						</div>
					</div>
					{% endfor %}
					
				</div>
				
			</div>
			{% endif %}
			
			<div class="section">
				
				<div class="flex-col">
					
					<div class="item flex-col">
						<span class="mb-small color-normal">Country</span>
						<select class="control" ng-model="current_country_id" ng-change="changeCurrentCountry(current_country_id)">
							<option ng-repeat="country in countries" value="[[country.id]]">[[country.name]]</option>
						</select>
					</div>
					
					<div class="item flex" ng-show="country_changing">
						<i class="color-normal fa fa-spinner rotating"></i>
						<span class="ml-small color-normal">Refreshing...</span>
					</div>
					
					<div class="item flex-col" ng-show="regions.length > 0">
						<span class="mb-small color-normal">Region</span>
						<select class="control" ng-model="current_region_id" ng-change="changeCurrentRegion(current_region_id)">
							<option ng-repeat="region in regions" value="[[region.id]]">[[region.name]]</option>
						</select>
					</div>
					
					<div class="item flex" ng-show="region_changing">
						<i class="color-normal fa fa-spinner rotating"></i>
						<span class="ml-small color-normal">Refreshing...</span>
					</div>
					
					<div class="item flex-col" ng-show="cities.length > 0">
						<span class="mb-small color-normal">Cities</span>
					</div>
					
					<div class="item" ng-repeat="city in cities">
						<div class="bg-block flex align-center text-small pl-small pr-small">
							
							<div class="item">
								<a href="/admin/api/city/[[city.id]]/change" target="blank">
									<i class="fa fa-lock"></i>
								</a>
							</div>
							
							<div class="item">
								<span class="color-dark">[[city.id]]</span>
							</div>
							
							<div class="item grow">
								<span class="color-normal">[[city.name]]</span>
							</div>
							
							<div class="item">
								<select class="control" ng-model="[[city.id]]_merge_city_id">
									<option ng-repeat="merge_city in cities" value="[[merge_city.id]]">[[merge_city.name]]</option>
								</select>
							</div>
							
							<div class="item">
								<a ng-click="merge(city.id, [[city.id]]_merge_city_id)">
									Merge
								</a>
							</div>
							
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
