{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Admin</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Admin - Registration' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="AdmRegistrationCtrl">
    
	<div ng-show="loading_page" class="mt-4 px-2 py-1">
			
		<div class="loading-line px-2 py-1">
			<img src="/static/img/loading.png" />
			{% trans 'Loading page...' %}
		</div>
		
	</div>
    
    <div ng-show="!loading_page" class="mt-4">
        
        {{mosaics}}
        
        <div class="panel mb-4" ng-repeat="mosaic in mosaics">
            
            <div class="f-row">

                <div class="">
                    <a ng-click="toggle(mosaic);">
                    	<i ng-hide="mosaic.expanded" class="mr-2 fa fa-caret-right"></i>
                    	<i ng-show="mosaic.expanded" class="mr-2 fa fa-caret-down"></i>
                    </a>
                </div>

                <div class="mr-auto">
                    {{mosaic.name}}
                    <input readonly type="text" class="form-control" style="width:25rem;" ng-model="mosaic.name" />
                </div>
                
                <div class="">
                    <input readonly type="text" class="form-control text-right" ng-model="mosaic.count" />
                </div>
                
            </div>
            
            <div ng-show="mosaic.expanded" class="">
                
                <div class="f-row">
                
        	        <div class="group width-4 pr-1">
        	            <label class="m-0">Title</label>
        	            <input type="text" class="form-control" ng-model="mosaic.title" />
        	        </div>
        	        
        	        <div class="group width-4 px-1">
        	            <label class="m-0">Type</label>
        	            <select class="form-control" ng-model="mosaic.type">
        	                <option value="sequence">sequence</option>
        	                <option value="serie">serie</option>
        	            </select>
        	        </div>
    
        	        <div class="group width-4 pl-1">
        	            <label class="m-0">Columns</label>
        	            <select class="form-control" ng-model="mosaic.columns" />
            	                <option value="6">6</option>
            	                <option value="5">5</option>
            	                <option value="4">4</option>
            	                <option value="3">3</option>
            	                <option value="2">2</option>
            	                <option value="1">1</option>
           	            </select>
        	        </div>
        	        
                </div>
                
                
            </div>
            
        </div>
		
	</div>
    
</div>

{% endblock %}