{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmMissionCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="section">
			
			<div class="flex-col">
			    
			    <div class="item pb-none">
			        <span class="color-normal">Ref</span>
			    </div>
			    
			    <div class="item">
    			    <input class="control" ng-model="mission_ref" />
                </div>

    			<div class="item">
    				<a ng-click="selectMission(mission_ref);">Refresh</a>
    			</div>
                    
            </div>
			
		</div>
		
		<div class="section" ng-show="loading">
			
			<div class="item">
				<i class="item fa fa-spinner rotating"></i>
				<span class="item">Loading...</span>
			</div>
			
		</div>
		
		<div class="section" ng-hide="loading || mission">
			<div class="flex-col">
			    
			    <div class="item pb-none">
			        <span class="color-normal">Name</span>
			    </div>
			    
			    <div class="item">
    			    <input class="control" ng-model="mission.name" />
                </div>

    			<div class="item">
    				<a ng-click="updateMission(mission);">Update</a>
    			</div>
                    
            </div>
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}