{% extends 'base.html' %}

{% load jsonify %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmTagCtrl" ng-init="init();">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
				
				<div class="item pb-none">
					<span class="color-normal">Search for mosaics</span>
				</div>
				
				<form class="self-stretch flex">
					
					<div class="item grow">
						<input class="control" ng-model="searchtext" />
					</div>
					
					<div class="item">
						<button class="btn" type="submit" ng-click="search(searchtext);">
							<i class="fa fa-search"></i>
						</button>
					</div>
					
				</form>
				
				<div class="flex align-center" ng-show="searching">
					<i class="item fa fa-spinner rotating"></i>
					<span class="item">Searching...</span>
				</div>
				
			</div>
			
			<div class="section" ng-show="!searching && mosaics.length < 1">
				<div class="item">
					<span class="color-dark">No result</span>
				</div>
			</div>
			
			<div class="section" ng-show="!searching && mosaics.length > 0">

				<div class="item" ng-repeat="mosaic in mosaics track by $index">
					<div class="bg-block">
						
						<div class="flex">
							<span class="color-light">[[mosaic.title]]</span>
						</div>
						
						<div class="flex">
							
							<div class="item grow">
								<input class="control" ng-model="tag" />
							</div>
							
							<div class="item">
								<button class="btn" type="submit" ng-click="addTag(tag);">
									Add tag
								</button>
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
