{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmRegionCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none">
			
			<span class="block">Country</span>
			
			<select class="control" ng-model="selected_country_name" ng-change="selectCountry(selected_country_name);">
				<option ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</value>
			</select>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="regions.length > 0">
			
			<span class="block">Merge 2 regions</span>
			
			<div class="row">
				
				<div class="item grow">
					<select class="control" ng-model="src_id">
						<option ng-repeat="region in regions" value="{{region.id}}">{{region.name}}</value>
					</select>
				</div>
				
				<div class="item grow">
					<select class="control" ng-model="dest_id">
						<option ng-repeat="region in regions" value="{{region.id}}">{{region.name}}</value>
					</select>
				</div>
				
				<div class="item">
					<button class="btn" ng-click="mergeRegions(src_id, dest_id);">
						Merge
					</button>
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="regions.length > 0">
			
			<span class="block">Manage regions</span>
			
			<div class="row" ng-repeat="region in regions">
				
				<div class="item grow">
					<input class="control" ng-model="new_name" ng-init="new_name = region.name;">
				</div>
				
				<div class="item grow">
					<input class="control" ng-model="new_locale" ng-init="new_locale = region.locale;">
				</div>
				
				<div class="item">
					<button class="btn" ng-click="updateRegion(region.id, new_name, new_locale);">
						Update
					</button>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}