{% extends 'base.html' %}

{% load jsonify %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmCompareCtrl" ng-init="init({{countries|jsonify}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
				<div class="item" ng-repeat="country in countries">

					<div class="flex align-center text-small bg-block mb-small">
						
						<div class="item" ng-show="country.regions.length>0">
							<a ng-show="!country.open" ng-click="country.open=true;"><i class="fa fa-plus-square text-small"></i></a>
							<a ng-show="country.open" ng-click="country.open=false;"><i class="fa fa-minus-square text-small"></i></a>
						</div>
						
						<div class="item">
							<span class="color-muted">IM</span>
						</div>
						
						<div class="item">
							<span class="color-light">[[country.name]]</span>
						</div>
						
						<div class="item">
							<span class="color-dark">[[country.count]]</span>
						</div>
						
						<div class="item">
							<span class="color-muted">vs</span>
						</div>
						
						<div class="item">
							<span class="color-muted">MIM</span>
						</div>
						
						<div class="item">
							<span ng-show="country.compare_name" class="color-light">[[country.compare_name]]</span>
							<span ng-show="!country.compare_name" class="color-danger">not specified</span>
						</div>
						
						<div class="item" ng-show="!country.compare_name">
							<a href="/admin/api/imcountry/[[country.id]]/change/" target="blank"><i class="fa fa-external-link"></i></a>
						</div>
						
						<div class="item grow" ng-show="country.compare_name">
							<span class="color-dark">[[country.compare_count]]</span>
						</div>
						
						<div class="item" ng-show="country.compare_name">
							<span ng-class="{'color-success':country.diff>-1, 'color-danger':country.diff<0}">[[country.diff]]</span>
						</div>

					</div>
					
					<div ng-show="country.open" style="margin-left:15px;">
						
						<div class="flex-col" ng-repeat="region in country.regions">
							
							<div class="flex align-center text-small bg-block mb-small">
						
								<div class="item" ng-show="region.cities.length>0">
									<a ng-show="!region.open" ng-click="region.open=true;"><i class="fa fa-plus-square text-small"></i></a>
									<a ng-show="region.open" ng-click="region.open=false;"><i class="fa fa-minus-square text-small"></i></a>
								</div>
								
								<div class="item">
									<span class="color-muted">IM</span>
								</div>
								
								<div class="item">
									<span class="color-light">[[region.name]]</span>
								</div>
								
								<div class="item">
									<span class="color-dark">[[region.count]]</span>
								</div>
								
								<div class="item">
									<span class="color-muted">vs</span>
								</div>
								
								<div class="item">
									<span class="color-muted">MIM</span>
								</div>
								
								<div class="item">
									<span ng-show="region.compare_name" class="color-light">[[region.compare_name]]</span>
									<span ng-show="!region.compare_name" class="color-danger">MIM not specified</span>
								</div>
								
								<div class="item" ng-show="!region.compare_name" >
									<a href="/admin/api/imregion/[[region.id]]/change/" target="blank"><i class="fa fa-external-link"></i></a>
								</div>
								
								<div class="item grow" ng-show="region.compare_name">
									<span class="color-dark">[[region.compare_count]]</span>
								</div>
								
								<div class="item" ng-show="region.compare_name">
									<span ng-class="{'color-success':region.diff>-1, 'color-danger':region.diff<0}">[[region.diff]]</span>
								</div>
						
							</div>
						
							<div ng-show="region.open" style="margin-left:15px;">
								
								<div class="flex-col bg-block mb-small" ng-repeat="city in region.cities">
									
									<div class="flex align-center text-small">
								
										<div class="item" ng-show="city.mosaics.length>0">
											<a ng-show="!city.open" ng-click="city.open=true;"><i class="fa fa-plus-square text-small"></i></a>
											<a ng-show="city.open" ng-click="city.open=false;"><i class="fa fa-minus-square text-small"></i></a>
										</div>
										
										<div class="item">
											<span class="color-muted">IM</span>
										</div>
										
										<div class="item">
											<span class="color-light">[[city.name]]</span>
										</div>
										
										<div class="item">
											<span class="color-dark">[[city.count]]</span>
										</div>
										
										<div class="item">
											<span class="color-muted">vs</span>
										</div>
										
										<div class="item">
											<span class="color-muted">MIM</span>
										</div>
										
										<div class="item">
											<span ng-show="city.compare_name" class="color-light">[[city.compare_name]]</span>
											<span ng-show="!city.compare_name" class="color-danger">not specified</span>
										</div>
										
										<div class="item" ng-show="!city.compare_name">
											<a href="/admin/api/imcity/[[city.id]]/change/" target="blank"><i class="fa fa-external-link"></i></a>
										</div>
										
										<div class="item grow" ng-show="city.compare_name">
											<span class="color-dark">[[city.compare_count]]</span>
										</div>
										
										<div class="item" ng-show="city.compare_name">
											<span ng-class="{'color-success':city.diff>-1, 'color-danger':city.diff<0}">[[city.diff]]</span>
										</div>
								
									</div>
	
									<div ng-show="city.open" style="margin-left:15px;">
										
										<div class="flex-col" ng-repeat="mosaic in city.mosaics" style="border-top:1px solid #000;">
											
											<div class="flex align-center text-small">
												
												<div class="item">
													<span class="color-dark">[[mosaic.count]]</span>
												</div>
										
												<div class="item grow">
													<span class="color-light">[[mosaic.name]]</span>
												</div>
										
												<div class="item">
													<a href="/searcg/[[mosaic.name]]" target="blank"><i class="fa fa-search"></i></a>
												</div>
												
												<div class="item">
													<span ng-show="mosaic.dead" class="color-dark">dead</span>
													<span ng-show="mosaic.excluded" class="color-muted">excluded</span>
													<span ng-show="mosaic.registered" class="color-success">registered</span>
													<span ng-show="!mosaic.dead && !mosaic.excluded && !mosaic.registered" class="color-danger">not registered</span>
												</div>
												
												<div class="item" ng-show="!mosaic.dead && !mosaic.excluded && !mosaic.registered">
													<a ng-click="die(mosaic, city);">die</a>
												</div>
												
												<div class="item" ng-show="!mosaic.dead && !mosaic.excluded && !mosaic.registered">
													<a ng-click="exclude(mosaic, city);">exclude</a>
												</div>
												
												<div class="item" ng-show="!mosaic.dead && !mosaic.excluded && !mosaic.registered">
													<a ng-click="register(mosaic, city);">register</a>
												</div>
												
											</div>
												
										</div>
										
									</div>
							
								</div>
								
							</div>
								
						</div>
					
					</div>
					
				</div>
			</div>

		</div>
	
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
