{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmMosaicCtrl" ng-init="init('{{ref}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none">
			
			<span class="block">Ref</span>
			
			<input class="control" ng-model="mosaic_ref" />

			<div class="mt-small">
				<a ng-click="selectMosaic(mosaic_ref);">Refresh</a>
			</div>
			
		</div>
		
		<div class="mt-normal item flex justify-center" ng-show="loading">
			
			<div class="item">
				<i class="item fa fa-spinner rotating"></i>
				<span class="item">Loading...</span>
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="mosaic">
			
			<span class="block mb-small">Edit this mosaic</span>
			
			<span class="block mb-small color-dark">Title</span>
			<input class="mb-small control" ng-model="mosaic.title" />
			
			<span class="block mb-small color-dark">City ({{city_name}}, {{region_name}}, {{country_name}})</span>
			<input id="city_input" class="mb-small control" />
			
			<div class="row">
				
				<div class="item">
					<button class="btn" ng-click="editMosaic(mosaic);">
						Edit
					</button>
				</div>
				
			</div>
			
		</div>
		
		<div class="mt-normal p-normal pr-xl-none pl-xl-none" ng-show="mosaic">
			
			<span class="block">Delete this mosaic</span>
			
			<div class="row">
				
				<div class="item">
					<button class="btn btn-danger" ng-click="deleteMosaic(mosaic);">
						Delete
					</button>
				</div>
				
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}