{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:title" content="MIM - Administration">
	<meta property="og:headline" content="MIM - Administration">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmChecksCtrl" ng-init="init({{refs_without_preview}}, {{refs_without_mission_count}}, {{regionsids_without_locale}}, {{mosaics_to_tag}});">
		
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='mosaic'" ng-class="{'active':current_tab=='mosaic'}">
						Mosaic
					</div>
				
					<div class="tab" ng-click="current_tab='region'" ng-class="{'active':current_tab=='region'}">
						Region
					</div>
				
					<div class="tab" ng-click="current_tab='tag'" ng-class="{'active':current_tab=='tag'}">
						Tag
					</div>
					
				</div>
			</div>
			
			<div ng-show="current_tab=='mosaic'">
				
				<div class="section">
					
					<div class="flex item text-small">
						
						<div class="flex align-center bg-block">
							
							<div class="item">
								<span class="color-dark">Number of mosaics without small preview</span>
							</div>
	
							<div class="item grow">
								<span class="color-normal">[[refs_without_preview.length]]</span>
							</div>
	
							<div class="item">
								<a ng-click="startPreviewGeneration();" ng-hide="preview_generation">Generate</a>
								<span class="color-light" ng-show="preview_generation">Generating...</span>
							</div>
							
						</div>
						
					</div>
					
					<div class="flex item text-small">
					
						<div class="flex align-center bg-block">
							
							<div class="item">
								<span class="color-dark">Number of mosaics without mission count</span>
							</div>
	
							<div class="item">
								<span class="color-normal">[[refs_without_mission_count.length]]</span>
							</div>
	
							<div class="item">
								<a ng-click="startComputing();" ng-hide="computing">Compute</a>
								<span class="color-light" ng-show="computing">Computing...</span>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<div ng-show="current_tab=='region'">
				
				<div class="section">
					
					<div class="flex item text-small">
						
						<div class="flex align-center bg-block">
							
							<div class="item">
								<span class="color-dark">Number of regions without locale</span>
							</div>
	
							<div class="item grow">
								<span class="color-normal">[[regionsids_without_locale.length]]</span>
							</div>
							
						</div>
						
					</div>
					
				</div>
				
			</div>
			
			<div ng-show="current_tab=='tag'">
				
				<div class="section">
					
					<div class="flex align-center bg-block mb-small text-small" ng-repeat="mosaic in mosaics_to_tag">
						
						<div class="grow">
							<span class="color-normal">[[mosaic.title]]</span>
						</div>
						
						<a ng-click="addTag('#MissionDay');">Add tag</a>

					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&language=en&libraries=places"></script>

{% endblock %}
