{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmRegistationCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="section">
			<div class="flex justify-center align-center">
				<div class="item">
					<button class="btn" ng-click="refresh_potentials">
						Refresh
					</button>
				</div>
			</div>
		</div>
		
		<div class="section" ng-show="refreshing_potentials">
			<div class="flex justify-center align-center">
				
				<div class="item">
					<i class="fa fa-spinner rotating"></i>
				</div>
				
				<div class="item">
					<span class="color-normal">Refreshing... </span>
				</div>
				
			</div>
		</div>
		
		<div class="section" ng-hide="refreshing_potentials">
			<div class="item" ng-repeat="potential in potentials">
				<div class="bg-block">
					
					<div class="flex justify-center align-center">
						<div class="item">
							<span class="color-normal">{{potential.name}}</span>
						</div>
					</div>
					
				</div>
			</div>
		</div>

	</div>
	
{% endverbatim %}

</div>
{% endblock %}