{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Admin</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Admin - Regions' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="AdmRegionCtrl">
    
	<!-- Loading page line -->
	
	<div ng-show="loading_page" class="mt-4 px-2 py-1">
			
		<div class="loading-line px-2 py-1">
			<img src="/static/img/loading.png" />
			{% trans 'Loading page...' %}
		</div>
		
	</div>
    
    <div ng-show="!loading_page">
    
	    <!-- Country selection -->
	    
	    <div class="mt-4 px-2 py-1">
	    
	    	<form class="card-block f-row f-nowrap p-2">
	    		<span ng-repeat="country in countries">{{country}}</span>
	    		<input type="text" class="form-control" placeholder="country name" ng-model="country">
	    		<input type="submit" class="btn btn-primary ml-2" ng-click="refresh(country);" value="Refresh" />
	    	</form>
	    	
	    </div>
	    
		<!-- Loading regions line -->
		
		<div ng-show="loading_regions" class="mt-4 px-2 py-1">
				
			<div class="loading-line px-2 py-1">
				<img src="/static/img/loading.png" />
				{% trans 'Loading regions...' %}
			</div>
			
		</div>
	     
	    <!-- Regions -->
	    
	    <div class="mt-2 px-2 py-1" ng-repeat="region in regions">
	    	
	    	<form class="card-block f-row f-nowrap p-2">
	    		{{region.name}}
	    		<input type="text" class="form-control" placeholder="" ng-model="region.newname" />
	    		<input type="submit" class="btn btn-primary ml-2" ng-click="rename(region);" value="Rename" />
	    	</form>
			
		</div>
		
	</div>
    
</div>

{% endblock %}