{% extends 'base.html' %}

{% load i18n %}
{% load jsonify %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmPreviewsCtrl" ng-init="init({{countries}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
		
			<div class="section">
				<div class="tab-row">
		    
					<div class="tab" ng-click="current_tab='cleaning'" ng-class="{'active':current_tab=='cleaning'}">
						{% trans "Cleaning" %}
					</div>
					
        		</div>
    		</div>
			
			<div ng-show="current_tab=='cleaning'">
		    
				<div class="section" style="margin:0;">

    				<div class="flex align-center">
    				    
						<div class="item">
							<select class="control" ng-model="cleaning_country_id" ng-change="cleaningSelectCountry(cleaning_country_id);">
								<option ng-repeat="country in countries" value="[[country.id]]">[[country.name]]</option>
							</select>
						</div>
    				    
						<div class="item">
							<select class="control" ng-model="cleaning_region_id" ng-change="cleaningSelectRegion(cleaning_region_id);">
								<option ng-repeat="region in cleaning_regions" value="[[region.id]]">[[region.name]]</option>
							</select>
						</div>
						
						<div class="item">
							<button class="btn" ng-click="checkCleaning();" ng-disabled="cleaning_chekcing">
								{% trans "Check" %}
							</button>
						</div>
						
						<div class="item" ng-show="cleaning_chekcing">
						    <i class="item fa fa-spinner rotating"></i>
						    <span class="item">{% trans "Checking..." %}</span>
						</div>
						
            		</div>
             		
					<div class="item" ng-show="!cleaning_chekcing && to_be_cleaned.length < 1">
					    <span class="color-dark">No mosaic</span>
 					</div>
          		
					<div class="item" ng-show="!cleaning_chekcing && to_be_cleaned.length > 0">
					    
						<div class="bg-block pr-small pl-small">
							<div ng-repeat="mosaic in to_be_cleaned track by $index" style="border-bottom:1px solid #000;">
								<div class="flex align-center text-small">

									<div class="item grow">
										<span class="color-light">[[mosaic.title]]</span>
									</div>

								</div>
							</div>
						</div>
						
        				<div class="flex align-center">
        				    
    						<div class="item">
    							<button class="btn" ng-click="generateCleaning();" ng-disabled="cleaning_generating">
    								{% trans "Generate all" %}
    							</button>
    						</div>
						
						</div>
						
					</div>
            		
        		</div>
		    
    		</div>
		    
		</div>
		
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
