{% extends 'base.html' %}

{% load jsonify %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="AdmMissionsCtrl" ng-init="init({{tobereviewed_missions|jsonify}}, {{yetreviewed_missions|jsonify}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">Loading page...</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='tobereviewed'" ng-class="{'active':current_tab=='tobereviewed'}">
						To be reviewed
						<span class="ml-normal badge">{{tobereviewed_missions|length}}</span>
					</div>
				
					<div class="tab" ng-click="current_tab='waiting'" ng-class="{'active':current_tab=='waiting'}">
						Waiting
						<span class="ml-normal badge">{{yetreviewed_missions|length}}</span>
					</div>
					
				</div>
			</div>
			
			<div ng-show="current_tab=='tobereviewed'">
				
				<div class="item pt-none">
	
					<div class="item">
						<div class="bg-block pr-small pl-small">
							<div ng-repeat="mission in missions track by $index" style="border-bottom:1px solid #000;">
								<div class="flex align-center text-small">
									
									<div class="item">
										<span class="color-dark">[[mission.num_name]]</span>
									</div>
									
									<div class="item grow">
										<span class="color-light">[[mission.name]]</span>
									</div>
									
									<div class="item">
										<span class="color-normal">[[mission.creator]]</span>
									</div>
									
									<div class="item">
										<a href="/adm/potential/[[mission.name]]" target="_blank"><i class="fa fa-external-link"></i></a>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
	
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>

{% endblock %}
