{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Administration</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="AdmRegistationCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal pr-xl-none pl-xl-none mt-normal" ng-repeat="mosaic in mosaics">
			
			<div class="mb-normal">
				<span class="block">Name</span>
				<div class="row align-center">
					
					<div class="item grow">
						<input id="name_input_{{$index}}" type="text" class="control" ng-model="mosaic.name" />
					</div>
					
					<div class="item text-center" style="width:50px;" ng-show="!mosaic.open">
						<span ng-class="{'color-danger':!isMissionCountValid(mosaic)}">{{mosaic.missions.length}}</span>
					</div>
					
					<div class="item text-center" ng-show="!mosaic.open">
						<a href="https://ingressmosaik.com/search?f={{mosaic.creator}}" target="_blank">IM Creator</a>
					</div>
					
					<div class="item" ng-show="!mosaic.open">
						<a href="/registration/{{mosaic.creator}}" target="_blank">MIM Creator</a>
					</div>
					
					<div class="item" ng-show="!mosaic.open">
						<button class="btn" ng-click="openMosaic(mosaic, $index);">
							Open
						</button>
					</div>
					
				</div>
			</div>
			
			<div ng-show="mosaic.open">
				
				<div class="row" style="height:250px;">
					
					<div class="item grow flex-col" style="max-width:50%;">
						
						<span class="block">Preview</span>
						<div class="scrollable flex align-start" style="border: 1px solid #009688; border-radius: .125rem;">
							
							<div class="flex shrink grow wrap justify-center" style="padding:0 calc((6 - {{mosaic.columns}}) / 2 * 16.666667%);">
								
					            <div ng-repeat="m in mosaic.offset track by $index" style="flex:0 0 calc(100% / {{mosaic.columns}});">
					            </div>
					            
					            <div ng-repeat="mission in mosaic.missions | reverse" class="mission-vignet" style="flex:0 0 calc(100% / {{mosaic.columns}});">
					                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{mission.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
					            </div>
					            
				            </div>
						
						</div>
						
					</div>
					
					<div class="item grow">
						
						<div class="mb-normal">
							<span class="block">Columns</span>
							<select class="control" ng-model="mosaic.columns" ng-change="computeOffsetMosaic(mosaic);">
								<option value="6">6</option>
								<option value="5">5</option>
								<option value="4">4</option>
								<option value="3">3</option>
								<option value="2">2</option>
								<option value="1">1</option>
							</select>
						</div>
						
						<div class="mb-normal">
							<span class="block">City</span>
							<input id="city_input_{{$index}}" type="create" class="control" />
						</div>
						
					</div>
					
				</div>
				
				<div class="row mt-normal align-center">
					
					<div class="grow flex align-center">
						
						<div class="item text-center">
							<span class="color-normal">{{mosaic.missions.length}} missions</span>
						</div>
							
						<div class="item text-center">
							<a ng-click="reorderAscMosaic(mosaic);">Reorder</a>
						</div>
						
						<div class="item text-center">
							<a ng-click="reorderDescMosaic(mosaic);">Reverse order</a>
						</div>
						
					</div>
					
					<div class="item text-center">
						<a href="//ingressmosaik.com/search?f={{mosaic.missions[0].creator}}" target="blank">IM Creator</a>
					</div>
						
					<div class="item text-center">
						<a href="/registration/{{mosaic.missions[0].creator}}" target="_blank">MIM Creator</a>
					</div>
					
				</div>
				
				<div class="col mb-normal mt-normal scrollable" style="max-height:300px; height:auto;">
					
					<div class="flex noshrink align-center" ng-repeat="mission in mosaic.missions">
						
						<div class="item">
							<a ng-click="excludeMission(mosaic, mission);">
								<i class="fa fa-trash"></i>
							</a>
						</div>
						
						<div class="item">
							<a href="https://www.ingress.com/intel?ll={{mission.startLat}},{{mission.startLng}}&z=17&pll={{mission.startLat}},{{mission.startLng}}" target="_blank">
								<i class="fa fa-external-link"></i>
							</a>
						</div>
						
						<div class="item" style="min-width:45px;max-width:45px;">
							<input type="text" class="control text-center" style="padding:0;" ng-model="mission.order" ng-blur="reorderMosaic(mosaic);" />
						</div>
						
						<div class="item grow" title="{{mission.desc}}">
							{{mission.title}}
						</div>
						
						<div class="item">
							<span ng-class="{'color-enlightened': mission.faction == 'E', 'color-resistant': mission.faction == 'R'}">
								{{mission.creator}}
							</span>
						</div>
						
					</div>
					
				</div>

				<div class="row pt-normal mb-normal">
					
					<div class="item grow">
						<button class="btn btn-danger" ng-click="excludeMosaic(mosaic);">
							Exclude
						</button>
					</div>
					
					<div class="item">
						<button class="btn" ng-click="createMosaic(mosaic);" ng-disabled="!mosaic.name || mosaic.missions.length < 1 || !mosaic.columns || !mosaic.country || !mosaic.region || !mosaic.city">
							Create
						</button>
					</div>
					
				</div>
				
				<hr>
				
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}