{% extends 'base_front.html' %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block content %}

	<div class="wrapper" ui-view="" ng-app="HomeApp" ng-controller="HomeCtrl">
		
		<div class="loading">
			<img src="/static/img/loading.png" />
		</div>

	</div>
	
{% endblock %}

{% block extra-script %}

	<script src="/static/home.js"></script>
	
{% endblock %}