{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - {{city}}, {{region}}, {{country}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country}}/{{region}}/{{city}}">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MIM - {{city}}, {{region}}, {{country}}">
	<meta property="og:description" content="MIM - {{city}}, {{region}}, {{country}} - Ingress Mosaics, Banners and Mission series">
	
{% endblock %}

{% block header %}

	City
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="CityCtrl" ng-init="loadCity('{{country}}', '{{region}}', '{{city}}');">

{% verbatim %}
	
	<div class="block">
		<div class="title ttrans-normal">
		<div class="row">
			<div class="item grow">
				<a href="/"><i class="fa fa-home text-separator" style="margin-left:0;"></i> Home</a>
				<span class="text-separator">></span>
				<a href="/world/{{country.name}}">{{country.locale}}</a>
				<span class="text-separator">></span>
				<a href="/world/{{country.name}}/{{region.name}}">{{region.locale}}</a>
			</div>
			<div class="item">
				<a href="/map/{{city.name}},{{region.name}},{{country.name}}">
					<i class="fa fa-map text-separator"></i>
					Map
				</a>
			</div>
		</div>
	</div>
	</div>

	<div class="block">
		
		<h2 class="heading">
			{{city.locale}}
		</h2>
		
		<h3 class="subheading">
			<span ng-if="city.locale != city.name">
				{{city.name}}
				<span class="text-separator">&middot;</span>
			</span>
			{{mosaics.length|number}} Mosaics
		</h3>
		
	</div>

	<div class="block">
	
			
		<div class="title subblock">
			
			<div class="row valign-baseline">
			
				<div class="item grow">
					{{mosaics.length|number}} mosaics
				</div>
				
				<div class="item">
					<a class="badge-link badge-mini" ng-class="{'active': sort=='missions'}", ng-click="sortByMissions();">Missions</a>
				</div>

				<div class="item">
					<a class="badge-link badge-mini" ng-class="{'active': sort=='name'}" ng-click="sortByName();">Name</a>
				</div>
				
			</div>
			
		</div>
		
		<div class="row">
			<div class="item-6 item-xl-3" ng-repeat="mosaic in mosaics">
				<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
			</div>
		</div>
		
	</div>
	
</div>

{% endverbatim %}
{% endblock %}
