{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - {{city_label}}, {{region_label}}, {{country_label}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country_label}}/{{region_label}}/{{city_label}}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="MIM - {{country_label}}, {{region_label}}, {{city_label}}">
	<meta property="og:headline" content="MIM - {{country_label}}, {{region_label}}, {{city_label}}">
	<meta property="og:description" content="Ingress mosaics in {{city_label}}, {{region_label}}, {{country_label}}">

	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	
{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCityCtrl" ng-init="loadCity('{{country_name}}', '{{region_name}}', '{{city_name}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="section">
			
			<div class="flex align-center">
				
				<div class="item flex">
					<span class="flag-icon flag-icon-{{city.region.country.code}}"></span>
				</div>
				
				<div class="item flex">
					<a href="/world/{{city.region.country.name}}">{{city.region.country.name}}</a>
				</div>
				
				<div class="item flex">
					<span class="color-dark">></span>
				</div>
				
				<div class="item flex">
					<a href="/world/{{city.region.country.name}}/{{city.region.name}}">{{city.region.name}}</a>
				</div>
				
			</div>
			
		</div>
		
		<div class="section">
				
			<div class="item flex-col">
				<span class="text-big color-light">{{city.name}}</span>
				<a class="color-link" ng-show="user.authenticated && !notified" ng-click="notify();">To be notified</a>
				<a class="color-normal" ng-show="user.authenticated && notified" ng-click="unnotify();">Notified</a>
			</div>
		
		</div>
		
		<div class="section" ng-show="(potentials.length + mosaics.length) > 2">
			
			<div class="flex wrap">
				
				<div class="item">
					<a class="text-small" ng-click="sortByMissionCount();" ng-class="{'active': sorting=='by_mission_count'}">
						By mission count
					</a>
				</div>
				
				<div class="item">
					<a class="text-small" ng-click="sortByDate();" ng-class="{'active': sorting=='by_date'}">
						Most Recent
					</a>
				</div>
				
				<div class="item">
					<a class="text-small" ng-click="sortByName();" ng-class="{'active': sorting=='by_name'}">
						Alphabetical
					</a>
				</div>
				
				<div class="item">
					<a class="text-small" ng-click="sortByUniques();" ng-class="{'active': sorting=='by_uniques'}">
						By uniques
					</a>
				</div>
				
			</div>
			
		</div>
		
		<div class="section" ng-show="potentials.length > 0">
			
			<div class="item flex">
				<span class="color-dark">{{potentials.length}} potentials</span>
			</div>
			
			<div class="flex wrap">
				<div class="item width-12 width-xl-4" ng-repeat="potential in potentials">
					<a class="item link-block flex align-center" href="/registration/{{potential.title}}">
						
						<div class="item width-11 flex-col">
							<span class="text-medium color-light ellipsis" title="{{potential.title}}">{{potential.title}}</span>
							<span class="text-small color-muted">{{potential.count}} missions</span>
						</div>
						
						<div class="item width-1 text-center">
							<i class="fa fa-angle-right"></i>
						</div>
						
					</a>
				</div>
			</div>
			
		</div>
		
		<div class="section" ng-show="mosaics.length > 0">
			
			<div class="item flex">
				<span class="color-dark">{{mosaics.length}} mosaics</span>
			</div>
			
			<div class="flex wrap">
				<div class="item width-12 width-xl-4 flex-col" ng-repeat="mosaic in mosaics">
					<div class="item link-block flex-col">
						
						<a class="flex align-center" href="/mosaic/{{mosaic.ref}}" target="_blank">
							
		    				<div class="item width-11 flex-col">
		    					<span class="text-medium color-light ellipsis" title="{{mosaic.title}}">{{mosaic.title}}</span>
		    					<span class="text-small color-muted">{{mosaic.missions.length}} missions</span>
		    				</div>
							
							<div class="item width-1 text-center">
								<i class="fa fa-angle-right"></i>
							</div>
		    				
		 	   			</a>
		    			
		    			<div class="item pt-none">
		    				<a ng-show="!mosaic.preview" ng-click="mosaic.preview=true;">Preview</a>
		    				<a ng-show="mosaic.preview" ng-click="mosaic.preview=false;">Close</a>
		    			</div>
		    			
	    				<div class="item" ng-show="mosaic.preview">
							<div class="flex wrap shrink" style="max-width:200px; padding-right:calc((6 - {{mosaic.cols}}) * 16.666667%);">
								
					            <div ng-repeat="m in mosaic.offset track by $index" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					            </div>
					            
					            <div ng-repeat="m in mosaic.missions | reverse" class="mission-vignet" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					                <img src="/static/img/mask.png" style="background-image:url({{m.image}}=s25);" />
					            </div>
					            
				            </div>
	    				</div>
	    				
	    			</div>
				</div>
			</div>
			
		</div>

	</div>
	
{% endverbatim %}

</div>
{% endblock %}

{% block script %}
<script src="/static/front.js"></script>

<script>
	var app = new Vue({
		el:'#content',
		
		data:{
			
			loaded:false,
			notified:false,
			
			city_name:{{city_name}},
			region_name:{{region_name}},
			country_name:{{country_name}},
			
			sorting:'by_mission_count',
			
			mosaics:[],
			potentials:[],
		},
		
		created: function () {
			
			var self = this;
			
			axios.get('/api/city/{{country_name}}/{{region_name}}/{{city_name}}')
				.then(function(response) {
					
					self.notified = response.notified;
					
					self.mosaics = response.mosaics;
					self.potentials = response.potentials;
					
					for (var mosaic of self.mosaics) {
						
						var temp = 0;
						if (mosaic.missions.length > mosaic.cols) {
							temp = mosaic.cols - mosaic.missions.length % mosaic.cols;
							if (temp < 0 || temp > (mosaic.cols - 1)) temp = 0;
						}
						
						mosaic.offset = new Array(temp);
					}
					
					self.sortByMissionCount();
					
					self.loaded = true;
				});
		},
		
		methods:{
			
			notify:function() {
				
				this.notified = true;
				
				var data = { 'country_name':this.country_name, 'region_name':this.region_name, 'city_name':this.city_name }
				axios.post('/api/notif/create', data);
			},
			
			unnotify:function() {
				
				this.notified = false;
				
				var data = { 'country_name':this.country_name, 'region_name':this.region_name, 'city_name':this.city_name }
				axios.post('/api/notif/delete', data);
			},
			
			sortByDate:function() {
		
				this.sorting = 'by_date';
					
				this.potentials.sort(function(a, b) {
					
					if (a.id > b.id) return -1;
					if (a.id < b.id) return 1;
					
					return 0;
				});
				
				
				this.mosaics.sort(function(a, b) {
					
					if (a.id > b.id) return -1;
					if (a.id < b.id) return 1;
					
					return 0;
				});
			},
			
			sortByName:function() {
				
				this.sorting = 'by_name';
					
				this.potentials.sort(function(a, b) {
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
				
				this.mosaics.sort(function(a, b) {
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
			},
			
			sortByUniques:function() {
				
				this.sorting = 'by_uniques';
					
				this.potentials.sort(function(a, b) {
					
					if (a.count > b.count) return -1;
					if (a.count < b.count) return 1;
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
				
				this.mosaics.sort(function(a, b) {
					
					if (a.uniques > b.uniques) return -1;
					if (a.uniques < b.uniques) return 1;
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
			},
			
			sortByMissionCount:function() {
				
				this.sorting = 'by_mission_count';
					
				this.potentials.sort(function(a, b) {
					
					if (a.count > b.count) return -1;
					if (a.count < b.count) return 1;
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
				
				this.mosaics.sort(function(a, b) {
					
					if (a.missions.length > b.missions.length) return -1;
					if (a.missions.length < b.missions.length) return 1;
					
					if (a.title > b.title) return 1;
					if (a.title < b.title) return -1;
					
					return 0;
				});
			},
		},
	});
	
	var token = window.localStorage.getItem('satellizer_token');
	axios.defaults.headers.common['authorization'] = 'Token ' + token;
</script>

{% endblock %}
