{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - {{city_label}}, {{region_label}}, {{country_label}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country_label}}/{{region_label}}/{{city_label}}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="MIM - {{country_label}}, {{region_label}}, {{city_label}}">
	<meta property="og:headline" content="MIM - {{country_label}}, {{region_label}}, {{city_label}}">
	<meta property="og:description" content="Ingress mosaics in {{city_label}}, {{region_label}}, {{country_label}}">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCityCtrl" ng-init="loadCity('{{country_name}}', '{{region_name}}', '{{city_name}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="section">
			
			<div class="item flex-col justify-center align-center">
				
				<span class="text-big color-light text-center">{{city.name}}</span>
				
				<div class="flex justify-center align-center">
					<span class="mr-small flag-icon flag-icon-{{city.region.country.code}}" style="line-height: inherit;"></span>
					<a class="mr-big" href="/world/{{city.region.country.name}}">{{city.region.country.name}}</a>
					<a href="/world/{{city.region.country.name}}/{{city.region.name}}">{{city.region.name}}</a>
				</div>
				
			</div>
			
		</div>
		
		<div class="section">
			
			<span class="item pb-none color-normal">{{mosaics.length}} mosaics</span>
		
			<div class="item">
				<hr>
			</div>
		
			<div class="flex wrap">
				<div class="width-12 width-xl-6 item" ng-repeat="mosaic in mosaics">
					<a class="item link-block flex" href="/mosaic/{{mosaic.ref}}" target="_blank">
						
	    				<div class="item flex justify-center align-start pl-xl-none" style="width:125px; max-width:125px; max-height:92px; min-height:92px; overflow-y:auto;">
	    					
							<div class="flex wrap shrink justify-center" style="padding:0 calc((6 - {{mosaic.cols}}) / 2 * 16.666667%);">
								
					            <div ng-repeat="m in mosaic.offset track by $index" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					            </div>
					            
					            <div ng-repeat="m in mosaic.missions | reverse" class="mission-vignet" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
					            </div>
					            
				            </div>
	    					
	    				</div>
	    				
	    				<div class="item grow" style="max-height:92px;">
	    					
	    					<span class="text-medium color-light block">{{mosaic.title}}</span>
	
	    					<span class="block text-small color-dark">
								{{mosaic.missions.length}} missions
	    					</span>
	    					
	    				</div>
	    				
 		   			</a>
				</div>
			</div>

		</div>

	</div>
	
{% endverbatim %}

</div>
{% endblock %}