{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - {{country}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCountryCtrl" ng-init="loadCountry('{{country}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">

		<div class="p-normal mt-normal">
			<div class="row align-center justify-center">
				
				<div class="item">
	    			<span class="text-big text-center color-light block" ng-show="!country.locale">{{country.name}}</span>
					<span class="text-big text-center color-light block" ng-show="country.locale">{{country.locale}}</span>
					<span class="text-small text-center color-normal block" ng-show="country.locale"><span class="color-muted mr-normal">EN</span>{{country.name}}</span>
				</div>

			</div>
		</div>

	    <div class="p-normal mt-big">
	    	<span class="block text-center">{{regions.length}} regions with {{count}} mosaics</span>
	    </div>
		
		<hr>
		
    	<div class="mb-big">
	    	<div ng-repeat="region in regions">
	    		
	    		<a class="p-normal block pl-xl-none pr-xl-none" href="/world/{{country.name}}/{{region.name}}">
		    		<div class="row">
		    			
		    			<div class="item flex-col justify-center grow">
		    				<span class="block color-light text-medium" ng-show="!region.locale">{{region.name}}</span>
		    				<span class="block color-light text-medium" ng-show="region.locale">{{region.locale}}</span>
		    				<span class="block color-normal text-small" ng-show="region.locale"><span class="color-muted mr-normal">EN</span>{{region.name}}</span>
		    			</div>
		     			
		    			<div class="item flex-col justify-center" style="width:75px;">
		    				<span class="btn btn-mini">
		    					{{region.mosaics|number}}
		    					<i class="item fa fa-angle-double-right pr-none"></i>
		    				</span>
		    			</div>
		     			
	    			</div>
	    		</a>
	    		
	    		<hr>
	    		
	    	</div>
    	</div>

	</div>
	
{% endverbatim %}

</div>
{% endblock %}