{% extends 'base.html' %}

{% load i18n %}
{% load humanize %}

{% block extra-head %}
	
	<link rel="canonical" href="https://www.myingressmosaics.com/world/{{country.name}}" />
	
	<link rel="alternate" href="https://www.myingressmosaics.com/en/world/{{country.name}}" hreflang="en" />
	<link rel="alternate" href="https://www.myingressmosaics.com/fr/world/{{country.name}}" hreflang="fr" />
	<link rel="alternate" href="https://www.myingressmosaics.com/pt/world/{{country.name}}" hreflang="pt" />

	<title>MIM - {{country.name}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country.name}}">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/img/logo.jpg">
	<meta property="og:title" content="MIM - {{country.name}}">
	<meta property="og:headline" content="MIM - {{country.name}}">
	<meta property="og:description" content="Ingress Mosaics in {{country.name}}">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="CountryPageCtrl" ng-init="init({{country}}, {{regions}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
	
			<div class="section">
				
				<div class="item flex-col">
				
					<div class="flex align-center">
						<span class="text-big color-light">{{country.name}}</span>
					</div>
					
					<div class="flex-col">
						<span class="color-normal mb-small">{{country.mosaic_count|intcomma}} {% trans "mosaics" %}</span>
						<a class="color-link hidden" ng-show="!country.notified" ng-click="notify();">{% trans "To be notified about new mosaics" %}</a>
						<a class="color-normal hidden" ng-show="country.notified" ng-click="unnotify();">{% trans "Notified" %}</a>
					</div>
	
					<div class="mt-small flex-col hidden" ng-show="need_signin">
						<span class="color-danger mb-small">{% trans "You must be signed in to be notified." %}</span>
						<a ng-click="signin('google', '/world/{{country.name}}');">{% trans "Sign in" %}</a>
					</div>
				
				</div>
				
			</div>
			
			<div class="section">
				
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='regions'" ng-class="{'active':current_tab=='regions'}">
						{% trans "Regions" %}
					</div>
					
				</div>
				
			</div>
			
			<div ng-if="current_tab=='regions'">
				
				<div class="item">
					
					<div class="flex wrap">
						
						<div class="item">
							<span class="color-muted">
								{% trans "sort" %}
							</span>
						</div>
						
						<div class="item">
							<a ng-click="sortRegionsByMosaics();" ng-class="{'active': regions_sorting=='by_mosaics'}">
								{% trans "By mosaics" %}
							</a>
						</div>
						
						<div class="item">
							<a ng-click="sortRegionsByName();" ng-class="{'active': regions_sorting=='by_name'}">
								{% trans "By name" %}
							</a>
						</div>

					</div>
					
				</div>
				
				<div class="item pt-none">
					
					<div class="flex wrap">
						<div class="width-12 width-xl-4 item" ng-repeat="region in regions">
							<a class="link-block flex align-center" href="/world/{{country.name}}/[[region.name]]">
							
								<div class="item">
									<span class="flag-icon flag-icon-{{country.code}}" style="width:1.3rem; line-height:1.4rem;"></span>
								</div>
									
								<div class="item grow flex-col" style="flex:1; min-width:0;" title="[[region.name]], [[region.locale]]">
									<span class="color-light text-medium ellipsis">[[region.name]]</span>
									<span class="color-dark text-small ellipsis">[[region.locale]]</span>
								</div>
									
								<div class="item">
									<span class="badge">[[region.mosaic_count]]</span>
								</div>
								
							</a>
						</div>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>

{% endblock %}
