{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - {{country}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country}}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="MIM - {{country}}">
	<meta property="og:headline" content="MIM - {{country}}">
	<meta property="og:description" content="Ingress mosaics in {{country}}">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCountryCtrl" ng-init="loadCountry('{{country}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">

		<div class="section">
			
			<div class="item flex-col justify-center align-center">
   			
	   			<span class="text-big color-light text-center">{{country.name}}</span>
				
	    		<div class="flex justify-center align-center">
					<span class="color-normal">{{count}} mosaics</a>
	    		</div>
    			
			</div>
			
		</div>
		
		<div class="section">
			
			<span class="item pb-none color-normal">{{regions.length}} regions with mosaics</span>
		
			<div class="item">
				<hr>
			</div>
		
			<div class="flex wrap">
				<div class="width-12 width-xl-4 item" ng-repeat="region in regions">
					<a class="item link-block flex align-center" href="/world/{{country.name}}/{{region.name}}">
					
						<div class="item grow">
							<span class="block color-light text-medium">{{region.name}}</span>
							<span class="block color-dark text-small" ng-show="region.locale">{{region.locale}}</span>
						</div>
		
						<div class="item flex-col align-center justify-center">
							<span class="color-normal">{{region.mosaics|number}}</span>
						</div>
						
					</a>
				</div>
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}