{% extends 'base.html' %}

{% load i18n %}
{% load jsonify %}

{% block extra-head %}

	<title>MIM - {{name}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/creator/{{name}}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="MIM - {{name}}">
	<meta property="og:headline" content="MIM - {{name}}">
	<meta property="og:description" content="Ingress mosaics by {{name}}">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="CreatorPageCtrl" ng-init="init('{{name}}', '{{faction}}', {{mosaics|jsonify}}, {{missions|jsonify}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
		    
		    <div class="section">
		        
		        <div class="flex">
		        	
			        <div class="item">
			            <span class="text-big" ng-class="{'color-enlightened': faction == 'E', 'color-resistant': faction == 'R'}">[[name]]</span>
		            </div>
		            
	            </div>
	            
		    </div>
		    
			<div class="section">
				
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='mosaics'" ng-class="{'active':current_tab=='mosaics'}">
						{% trans "Mosaics" %}
						<span class="ml-normal badge">[[mosaics.length]]</span>
					</div>
					
					<div class="tab" ng-click="current_tab='missions'" ng-class="{'active':current_tab=='missions'}">
						{% trans "Missions" %}
						<span class="ml-normal badge">[[missions.length]]</span>
					</div>
	
				</div>
				
		    </div>
		    
			<div ng-show="current_tab=='mosaics'">
				
				<div class="section">
					<div class="flex wrap">
						<mosaic ng-repeat="mosaic in mosaics track by $index" mosaic="mosaic"></mosaic>
					</div>
				</div>
				
			</div>
			
			<div ng-show="current_tab=='missions'">
				
				<div class="section">
					<div class="flex wrap">
						<mission ng-repeat="mission in missions track by $index" mission="mission"></mission>
					</div>
				</div>
				
			</div>
	
		</div>
		
	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
