{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Welcome' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="HomeCtrl">

	<h2 class="p-4 fs-5 c-highlight text-center" style="padding-bottom: 0px!important;">
		{% trans 'Search, Register and Share all Ingress Mosaics' %}
	</h2>
	
	<div class="f-row f-wrap f-justify-center p-2">
	     
		<div style="width:33%">
	    <a class="btn btn-primary fitem-grow f-col mx-2 my-2" href="/map">
	        <i class="fa fa-map p-2" style="font-size:2rem;"></i>
	        {% trans 'Map' %}
	    </a>
	    </div>
	     
		<div style="width:33%">
	    <a class="btn btn-primary fitem-grow f-col mx-2 my-2" href="/search">
	        <i class="fa fa-search p-2" style="font-size:2rem;"></i>
	        {% trans 'Search' %}
	    </a>
	    </div>
	
		<div style="width:33%">
	    <a class="btn btn-primary fitem-grow f-col mx-2 my-2" href="/registration">
	        <i class="fa fa-plus-square p-2" style="font-size:2rem;"></i>
	        {% trans 'Registration' %}
	    </a>
	    </div>
	
	</div>
	
	<div class="f-row f-justify-around m-4" style="height:20px;">
		
		<div class="pr-2 text-right" style="width:50%;">
			
			<div id="fb-root"></div>
			
			<script>
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
			</script>
			
			<div class="fb-share-button" data-href="https://www.myingressmosaics.com" data-layout="button_count" data-size="small" data-mobile-iframe="true">
				<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
					Share
				</a>
			</div>
		
		</div>
		
		<div class="pl-2" style="width:50%;">
			
			<script src="https://apis.google.com/js/platform.js" async defer></script>
			<div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://www.myingressmosaics.com"></div>			
			
		</div>
		
	</div>
	
	<div class="f-row pt-4 mt-4 mx-4 text-uppercase bordered-b">
		{% trans 'Countries' %}
	</div>
	
	<div class="f-row f-wrap f-justify-around">
			
		<div class="loading" ng-hide="!countries_loading">
			<img src="/static/img/loading.png" />
		</div>
		
	</div>
	
	<div id="countries_block" class="hidden f-row f-wrap px-3 py-1">
		
{% verbatim %}
		<div class="width-12 width-xl-3 p-1" ng-repeat="country in countries">
			
			<a href="/map/{{country.name}}" class="btn btn-primary p-2 f-align-start">
				
				<div class="text-white mr-auto" style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;">
					
					<span class="flag-icon mr-1 text-highlight" style="position:relative; top:-2px;" ng-class="{
			            'flag-icon-fr': country.name == 'France',
			            'flag-icon-gb': country.name == 'United Kingdom',
			            'flag-icon-my': country.name == 'Malaysia',
			            'flag-icon-sg': country.name == 'Singapore',
			            'flag-icon-us': country.name == 'United States',
			            'flag-icon-mx': country.name == 'Mexico',
			            'flag-icon-nz': country.name == 'New Zealand',
			            'flag-icon-mv': country.name == 'Maldives',
			            'flag-icon-do': country.name == 'Dominican Republic',
			            'flag-icon-au': country.name == 'Australia',
			            'flag-icon-hu': country.name == 'Hungary',
			            'flag-icon-lk': country.name == 'Sri Lanka',
			            'flag-icon-id': country.name == 'Indonesia',
			            'flag-icon-de': country.name == 'Germany',
			            'flag-icon-pl': country.name == 'Poland',
				        'flag-icon-ru': country.name == 'Russia',
				        'flag-icon-hk': country.name == 'Hong Kong',
				        'flag-icon-mu': country.name == 'Mauritius',
				        'flag-icon-th': country.name == 'Thailand',
				        'flag-icon-cz': country.name == 'Czechia',
				        'flag-icon-cn': country.name == 'China',
				        'flag-icon-es': country.name == 'Spain',
				        'flag-icon-ch': country.name == 'Switzerland',
				        'flag-icon-ca': country.name == 'Canada',
				        'flag-icon-at': country.name == 'Austria',
				        'flag-icon-is': country.name == 'Iceland',
				        'flag-icon-za': country.name == 'South Africa',
				        'flag-icon-ad': country.name == 'Andorra',
				        'flag-icon-it': country.name == 'Italy',
				        'flag-icon-il': country.name == 'Israel',
				        'flag-icon-pt': country.name == 'Portugal',
				        'flag-icon-ie': country.name == 'Ireland',
				        'flag-icon-gr': country.name == 'Greece',
				        'flag-icon-tr': country.name == 'Turkey',
			        }"></span>
			        
		        	{{country.name}}
		        	
		        </div>
		        
		        <div class="text-normal ml-2">{{country.mosaics}}</div>
	        </a>
	        
		</div>
{% endverbatim %}

	</div>
	
	<div class="f-row pt-4 mt-4 mx-4 text-uppercase bordered-b">
		{% trans 'Latest mosaics' %}
	</div>
	
	<div class="f-row f-wrap f-justify-around">
			
		<div class="loading" ng-hide="!latest_loading">
			<img src="/static/img/loading.png" />
		</div>
		
	</div>
	
	<div id="latest_block" class="hidden f-row f-wrap f-justify-around px-3 py-1">
		
		<div class="width-6 width-xl-3 p-1" ng-repeat="mosaic in mosaics">
			<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
		</div>
		
	</div>

</div>

{% endblock %}