{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Welcome' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="HomeCtrl">

{% verbatim %}
	
	<h2 class="heading">
		Search, Register and Share all Ingress Mosaics
	</h2>
	
	<div class="block">
		
		<div class="row">
			
			<div class="item-6 item-xl-3">
			    <a class="btn-primary btn-block" href="/map">
			    	<div class="row">
				        <div class="item-12">
				        	<i class="fa fa-map" style="font-size:2rem;"></i>
				        </div>
				        <div class="item-12">
				        	Map
				        </div>
			        </div>
			    </a>
		    </div>
			
			<div class="item-6 item-xl-3">
			    <a class="btn-primary btn-block" href="/search">
			    	<div class="row">
				        <div class="item-12">
					        <i class="fa fa-search" style="font-size:2rem;"></i>
				        </div>
				        <div class="item-12">
				        	Search
				        </div>
			        </div>
			    </a>
		    </div>
			
			<div class="item-6 item-xl-3">
			    <a class="btn-primary btn-block" href="/world">
			    	<div class="row">
				        <div class="item-12">
					        <i class="fa fa-globe" style="font-size:2rem;"></i>
				        </div>
				        <div class="item-12">
				        	World
				        </div>
			        </div>
			    </a>
		    </div>
			
			<div class="item-6 item-xl-3">
			    <a class="btn-primary btn-block" href="/registration">
					<div class="row">
					    <div class="item-12">
					        <i class="fa fa-plus-square" style="font-size:2rem;"></i>
				        </div>
				        <div class="item-12">
				        	Registration
				        </div>
			        </div>
			    </a>
		    </div>
		
		</div>
		
	</div>
	
	<div class="block" style="height:37px;">
		
		<div class="row">
			
			<div class="item-6 ta-right">
				
				<div id="fb-root"></div>
				
				<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
				
				<div class="fb-share-button" data-href="https://www.myingressmosaics.com" data-layout="button_count" data-size="small" data-mobile-iframe="true">
					<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">
					</a>
				</div>
			
			</div>
			
			<div class="item-6">
				
				<script src="https://apis.google.com/js/platform.js" async defer></script>
				<div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://www.myingressmosaics.com"></div>			
				
			</div>
			
		</div>
		
	</div>

</div>

{% endverbatim %}
{% endblock %}