{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Login</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewLoginCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal flex justify-center mt-big">
			
			<a href="javascript:;" class="btn btn-facebook" style="width:300px;" ng-click="socialLogin('google')">
				<i class="fa fa-facebook-official mr-normal"></i>
				Sign in with Google
			</a>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}