{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Login</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewLoginCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal flex justify-center mt-big">
			
			<a href="javascript:;" class="btn btn-facebook" style="width:300px;" ng-click="socialLogin('google')">
				<i class="fa fa-facebook-official mr-normal"></i>
				Sign in with Google
			</a>
			
			<a href="javascript:;" class="btn btn-facebook" style="width:300px;" ng-click="socialLogin('facebook')">
				<i class="fa fa-facebook-official mr-normal"></i>
				Sign in with Facebook
			</a>
			
		</div>
		
		<div class="p-normal flex justify-center mt-big">
			<div class="flex-col" style="width:300px;">
				
				<span class="self-center mb-normal">Sign in with a local account</span>
				<input type="text" class="control mb-small" placeholder="username" name="username" ng-model="loginModel.username" required="" />
				<input type="password" class="control mb-normal" placeholder="password" name="password" ng-model="loginModel.password" required="" />
				<button class="btn mb-big" ng-click="localLogin(loginModel.username, loginModel.password);" ng-disabled="signingin || !loginModel.username || !loginModel.password">Sign in</button>
				<a class="text-center" href="/register">Create a local account</a>
				
			</div>
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}