{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Sign in' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="LoginCtrl">

{% verbatim %}

	<div class="section">
		
		<div class="item">
	
			<a href="javascript:;" class="btn btn-block btn-facebook ta-center" ng-click="socialLogin('facebook')">
				<div class="item">
					<i class="fa fa-facebook-official mr-2"></i>
					Sign in with Facebook
				</div>
			</a>
			
		</div>
		
	</div>
		
	<div class="section">
		
		<div class="item">
			<div class="ttrans-uppercase border-light-b">
				Sign in with local account
			</div>
		</div>

		<div class="item">
	
			<form class="panel" name="form" novalidate>
		
				<div ng-if="unknown" class="item">
					<span class="c-danger">Username or password incorrect</span>
				</div>
				
				<div class="item">
					
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input type="text" class="form-control" placeholder="username" name="username" ng-model="loginModel.username" required="" />
					</div>
					
					<div ng-show="form.$submitted || form.username.$touched">
						<p class="item c-danger" ng-show="form.username.$error.required">Field required</p>
					</div>
					
				</div>
		
				<div class="item">
					
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
						<input type="password" class="form-control" placeholder="password" name="password" ng-model="loginModel.password" required="" />
					</div>
					
					<div ng-show="form.$submitted || form.password.$touched">
						<p class="item c-danger" ng-show="form.password.$error.required">Field required</p>
					</div>
					
				</div>
		
				<div class="item f-row">
					
					<div class="item width-6 ta-right">
						<button class="btn btn-primary" ng-click="localLogin(loginModel.username, loginModel.password);" ng-disabled="signingin || !loginModel.username || !loginModel.password">
							<span class="mx-4">Sign in</span>
						</button>
					</div>
					
					<div class="item width-6">
						<a class="btn" href="/register">
							<span class="mx-4">Sign up</span>
						</a>
					</div>
					
				</div>
	
			</form>
		    
		</div>
	
	</div>

</div>

{% endverbatim %}
{% endblock %}
