{% extends 'base.html' %}

{% load i18n %}
{% load jsonify %}

{% block extra-head %}
	
	<link rel="canonical" href="https://www.myingressmosaics.com/manage/{{mosaic.ref}}" />
	
	<link rel="alternate" href="https://www.myingressmosaics.com/en/manage/{{mosaic.ref}}" hreflang="en" />
	<link rel="alternate" href="https://www.myingressmosaics.com/fr/manage/{{mosaic.ref}}" hreflang="fr" />
	<link rel="alternate" href="https://www.myingressmosaics.com/pt/manage/{{mosaic.ref}}" hreflang="pt" />

	<title>MIM - {{mosaic.title}}</title>
	
	<meta property="og:url" content="https://www.myingressmosaics.com/manage/{{mosaic.ref}}" />
	<meta property="og:image" content="https://www.myingressmosaics.com/preview/{{mosaic.ref}}">
	<meta property="og:title" content="MIM - {{mosaic.title}}">
	<meta property="og:headline" content="MIM - {{mosaic.title}}" />
	<meta property="og:description" content="{{mosaic.country_name}} > {{mosaic.region_name}} > {{mosaic.city_name}} &middot; {{missions|length}} missions &middot; {{mosaic.unique_count}} uniques" />

	<meta name="description" content="{{mosaic.country_name}} > {{mosaic.region_name}} > {{mosaic.city_name}} &middot; {{missions|length}} missions &middot; {{mosaic.unique_count}} uniques" />

{% endblock %}

{% block content %}

	<div id="content" ng-controller="ManagePageCtrl" ng-init="init({{mosaic|jsonify}}, {{missions|jsonify}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		{% if not_allowed %}
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
				
				<div class="item flex-col">
					<span class="mb-small color-danger">{% trans "You are not allowed to access this page." %}</span>
				</div>
				
			</div>
			
		</div>
		{% endif %}
		
		{% if not not_allowed %}
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
			
				<div class="flex-col">
					
					<div class="item pb-none">
						<a href="/mosaic/{{mosaic.ref}}">
							<i class="fa fa-long-arrow-left"></i>
							{% trans "Back" %}
						</a>
					</div>
					
					<div class="item pt-none">
						<span class="text-big color-light">[[mosaic.title]]</span>
					</div>
					
				</div>
				
			</div>
			
			<div class="section">
				
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='details'" ng-class="{'active':current_tab=='details'}">
						{% trans "Details" %}
					</div>
				
					<div class="tab" ng-click="current_tab='missions'" ng-class="{'active':current_tab=='missions'}">
						{% trans "Missions" %}
					</div>
				
					<div class="tab" ng-click="current_tab='adding'" ng-class="{'active':current_tab=='adding'}">
						{% trans "Adding" %}
					</div>
				
					<div class="tab" ng-click="current_tab='deleting'" ng-class="{'active':current_tab=='deleting'}">
						{% trans "Deletion" %}
					</div>
					
				</div>
				
			</div>
			
			<div ng-show="current_tab=='details'">
				
				<div class="section">
					<div class="flex-col">
						
						<div class="item pb-none">
							<span class="mb-small color-normal">{% trans "Rename" %}</span>
						</div>
						
						<div class="flex">
							
							<div class="item grow">
								<input type="text" class="control" ng-model="newname" ng-init="newname=mosaic.title;" />
							</div>
							
							<div class="item">
								<button class="btn" type="submit" ng-click="rename(newname);">
									{% trans "Save" %}
								</button>
							</div>
							
						</div>
						
					</div>
				</div>
				
				<div class="section">
					<div class="flex-col">
						
						<div class="item pb-none">
							<span class="mb-small color-normal">{% trans "Change location" %}</span>
						</div>
						
						<div class="flex">
							
							<div class="item grow">
								<input type="text" class="control" />
							</div>
							
							<div class="item">
								<button class="btn" type="submit" ng-click="move();">
									{% trans "Save" %}
								</button>
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
			
			<div ng-show="current_tab=='missions'">
				
				<div class="section">
					<div class="flex-col">
						
						<div class="item" ng-repeat="mission in missions track by $index">
							<div class="bg-block flex pl-small pr-small">
								
								<div class="item">
									<input type="text" class="control" ng-model="neworder" ng-init="neworder=mission.order;" />
								</div>
								
								<div class="item">
									<a ng-click="">
										Save
									</a>
								</div>
								
								<div class="item">
									<span class="color-normal">[[mission.name]]</span>
								</div>
								
								<div class="item">
									<a ng-click="">
										Remove
									</a>
								</div>
								
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
			
			<div ng-show="current_tab=='adding'">
				
				<div class="section">
					<div class="flex">
					</div>
				</div>
				
			</div>
			
			<div ng-show="current_tab=='deleting'">
				
				<div class="section">
					<div class="flex">
					</div>
				</div>
				
			</div>
			
		</div>
		{% endif %}
		
	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}
