{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}
	
	<link rel="alternate" href="https://www.myingressmosaics.com/en/map" hreflang="en"/>
	<link rel="alternate" href="https://www.myingressmosaics.com/fr/map" hreflang="fr"/>

	<title>MIM - {% trans "Map" %}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/map">
	<meta property="og:title" content="MIM - {% trans "Map" %}">
	<meta property="og:headline" content="MIM - {% trans "Map" %}">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="MapPageCtrl">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}" style="flex:1 1 100%; max-width:100%; width:100%;">
			
			<div class="item pb-none flex justify-center">
				
				<form class="grow flex align-center" style="z-index:5;max-width:720px;">
	
					<div class="item grow">
						<input id="address" class="control" type="text" placeholder="{% trans "Enter location" %}" value="" />
					</div>
					
					<div class="item">
						<button id="submit" class="btn" type="submit">
							{% trans "Go" %}
						</button>
					</div>
					
				</form>
				
			</div>
				
			<div class="grow flex">
				
				<div class="item grow flex">
					<div id="map" class="grow" ng-init="initMap();"></div>
				</div>
				
			</div>
			
			<div class="item flex justify-center align-center">
				
				<div ng-show="mosaics.length < 1 && !flag_loading && !flag_zoom_in" class="item">
					<span class="color-normal">{% trans "No mosaic. Please try to zoom out." %}</span>
				</div>
				
				<div ng-show="flag_zoom_in" class="item">
					<span class="color-normal">{% trans "Current map is too larger to be scanned. Please try to zoom in." %}</span>
				</div>
				
				<div ng-show="flag_loading" class="flex align-center justify-center">
					<i class="item fa fa-spinner rotating"></i>
					<span class="item">{% trans "Loading data..." %}</span>
				</div>
				
				<div ng-show="mosaics.length > 0 && !flag_loading && !flag_zoom_in">
					<div class="flex align-center">
						<span class="item">[[mosaics.length]] {% trans "mosaics" %}</span>
					</div>
				</div>
				
			</div>
			
		</div>
	
	</div>
	
{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&language=en&libraries=places"></script>

{% endblock %}
