{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Map</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewMapCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}" style="flex:1 1 100%; max-width:100%">
		
		<div class="modal-container align-center" ng-show="flag_no_mosaic">
			
			<div class="modal-box">
				
				<div class="modal-content flex align-center">
					
					<div class="item">
						<span class="color-normal">No mosaic. Please try to zoom out.</span>
					</div>

					<div class="item">
						<span class="close" ng-click="flag_no_mosaic=false;">
							<i class="fa fa-times"></i>
						</span>
					</div>

				</div>
				
			</div>
			
		</div>
		
		<div class="flex justify-center">
			
			<form class="grow flex align-center" style="z-index:5;max-width:720px;">

				<div class="item grow">
					<input id="address" class="control" type="text" placeholder="Enter location" value="" />
				</div>
				
				<div class="item">
					<button id="submit" class="btn" type="submit">
						Go
					</button>
				</div>
				
			</form>
			
		</div>
			
		<div class="grow flex">
			
			<div class="item grow flex">
				<div id="map" class="grow" ng-init="initMap();"></div>
			</div>
			
		</div>
		
	</div>
	
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    
{% endverbatim %}

</div>
{% endblock %}