{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Map' %}
	
{% endblock %}

{% block content %}

<div class="block" style="z-index:5;">
	<div class="row">
		
		<div class="item grow">
			<input id="address" class="form-control" type="textbox" placeholder="Enter location" value="" />
		</div>
		
		<div class="item">
			<button id="submit" class="btn-primary" type="submit">
				Go
			</button>
		</div>
		
	</div>
</div>

<div id="map" ng-controller="MapCtrl" ng-init="initMap('{{location}}');" style="height:100%; position:absolute; top:0px; left:0px; right:0px;"></div>

{% endblock %}

{% block extra-script %}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>
	
{% endblock %}