{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - {{name}}</title>
	
	<meta name="abstract" content="{{desc}}" />
	<meta name="description" content="{{desc}}" />

	<meta property="og:type" content="article" />
	<meta property="og:url" content="https://www.myingressmosaics.com/mosaic/{{ref}}" />
	<meta property="og:site_name" content="MIM - MyIngressMosaics" />
	<meta property="og:image" content="https://storage.googleapis.com/myingressmosaics-previews/{{ref}}.png" />
	<meta property="og:image:secure_url" content="https://storage.googleapis.com/myingressmosaics-previews/{{ref}}.png" />
	<meta property="og:headline" content="MIM - {{name}}" />
	<meta property="og:description" content="{{desc}}" />
	<meta property="og:image:width" content="632" />
	<meta property="og:image:height" content="{{img_height}}" />

{% endblock %}

{% block header %}

	{% trans 'Mosaic' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="MosaicCtrl" ng-init="loadMosaic('{{ref}}');">

{% verbatim %}

	<div ng-show="!mosaic" class="block ta-center c-danger">
		No mosaic found
	</div>

	<div ng-show="mosaic">
		
		<div class="block">
			
			<div class="panel">
				
				<div class="item-12 c-white ts-big">
					{{mosaic.title}}
				</div>
				
				<div class="item-12">
					<div style="display:flex; align-items:center; justify-content:center; background:#0b0c0d; padding:.25rem;">
					
						<div class="row" style="align-items:center; justify-content:center; padding:0 calc((6 - {{mosaic.cols}}) / 2 * 16.666667%); width:100%;">
				            <div ng-repeat="m in mosaic.missions | reverse" style="flex:0 0 calc(100% / {{mosaic.cols}});">
				                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
				            </div>
			            </div>
			
					</div>
				</div>
				
				<div class="item-6 ta-right">
					<button class="btn-primary btn-mini" ng-click="love();" ng-disabled="!user.authenticated">
						{{mosaic.lovers}}
						<i class="fa fa-heart" ng-class="{'c-red':mosaic.is_loved}"></i>
					</button>
				</div>
				
				<div class="item-6">
					<button class="btn-primary btn-mini" ng-click="complete();" ng-disabled="!user.authenticated">
						{{mosaic.completers}}
						<i class="fa fa-check-square" ng-class="{'c-green':mosaic.is_completed}"></i>
					</button>
				</div>
				
				<div class="item-12">
				    <a href="/map/{{mosaic.country}}">{{mosaic.country}}</a>
				    <span class="text-separator">></span>
				    <a href="/map/{{mosaic.region}},{{mosaic.country}}">{{mosaic.region}}</a>
				    <span class="text-separator">></span>
				    <a href="/map/{{mosaic.city}},{{mosaic.region}},{{mosaic.country}}">{{mosaic.city}}</a>
				</div>
				
				<div class="item-12">
					{{mosaic.missions.length}} <i class="fa fa-th mx-1"></i>
					<span class="text-separator">&middot;</span>
					{{mosaic.type}}
					<span class="text-separator">&middot;</span>
					{{mosaic.portals}} waypoints
					<span class="text-separator">&middot;</span>
					{{mosaic.uniques}} uniques
					<span ng-show="mosaic.type ==  'sequence'">
						<span class="text-separator">&middot;</span>
						{{mosaic.distance | number:2}} km
						<span ng-show="mosaic.distance > 10.0" class="text-separator">&middot;</span>
						<i ng-show="mosaic.distance > 10.0 && mosaic.distance < 30.0" class="fa fa-bicycle"></i>
						<i ng-show="mosaic.distance > 30.0" class="fa fa-car"></i>
					</span>
				</div>
				
				<div class="item-12 row">
		        	<div class="item" ng-repeat="creator in mosaic.creators" ng-class="{'c-enligtened': creator.faction == 'E', 'c-resistance': creator.faction == 'R',}">
		        		{{creator.name}}
		        	</div>
				</div>
				
				<div class="item-12 row" style="height:37px;">
					
					<div class="item-6 ta-right">
						
						<div id="fb-root"></div>
						
						<script>
							(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						
						{% endverbatim %}
						<div class="fb-share-button" data-href="https://www.myingressmosaics.com/mosaic/{{ref}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
							<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"></a>
						</div>
						{% verbatim %}
					
					</div>
					
					<div class="item-6">
						
						{% endverbatim %}
						<script src="https://apis.google.com/js/platform.js" async defer></script>
						<div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://www.myingressmosaics.com/mosaic/{{ref}}"></div>			
						{% verbatim %}
						
					</div>
					
				</div>
				
				<div class="item-12">
					<div id="map"></div>
				</div>

			</div>
			
		</div>
		
		<div class="block-tabs">
				
			<div class="item-6 ta-right">
				<button class="btn-secondary btn-mini" style="width:130px;" ng-click="missionsMode = true; commentsMode = false;" ng-class="{'active': missionsMode}">
					Missions
				</button>
			</div>
			
			<div class="item-6">
				<button class="btn-secondary btn-mini" style="width:130px;" ng-click="missionsMode = false; commentsMode = true;" ng-class="{'active': commentsMode}">
					Comments ({{mosaic.comments.length}})
				</button>
			</div>
			
		</div>
		
		<div ng-show="missionsMode" class="block">
			
			<div class="panel" ng-repeat="item in mosaic.missions">
				
				<div class="item-12 row hover" ng-click="toggleMission(item);">
					
                    <div class="item c-white">
                    	<i ng-hide="item.expanded" class="mr-2 fa fa-caret-right"></i>
                    	<i ng-show="item.expanded" class="mr-2 fa fa-caret-down"></i>
                    </div>
                    
                    <div class="item grow c-white">
                        {{item.title}}
                    </div>
                    
                    <div class="item">
                        <a href="https://www.ingress.com/mission/{{item.ref}}" target="blank">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                    
                </div>
                
                <div ng-show="item.expanded">
					
					<div class="item-12">
						{{item.portals.length}} waypoints
						<i class="text-separator fa fa-long-arrow-right"></i>
        				<span class="" ng-repeat="portal in item.portals">
        					<span ng-if="$index > 0" class="text-separator">&middot;</span>
        					<span ng-class="{'c-lighter':!portal.unavailable, 'c-danger':portal.unavailable}">
        						<span ng-if="portal.action == 0">Objectives</span>
        						<span ng-if="portal.action == 1">Hack</span>
        						<span ng-if="portal.action == 2">Capture or Upgrade</span>
        						<span ng-if="portal.action == 7">View</span>
        						<span ng-if="portal.action == 8">Passphrase</span>
        					</span>
        				</span>
        			</div>
					
					<div class="item-12">
                        {{item.desc}}
                    </div>
					
                </div>
                
            </div>
            
		</div>
		
		<div ng-show="commentsMode" class="block">
            
            <div ng-show="user.authenticated && !addComment" class="row">
            	
	            <div class="item-12 ta-center">
	            	<a ng-click="addComment=true;">Add a comment</a>
	            </div>
	            
            </div>
            
            <div ng-show="addComment" class="panel">
            	
            	<div class="item-12">
            		<textarea class="form-control" ng-model="newCommentText">
            		</textarea>
            	</div>
            	
            	<div class="item">
            		<button class="btn-primary btn-mini" ng-click="createComment(newCommentText);" ng-disabled="addingComment">
	        			<span ng-show="addingComment">
            				<i class="fa fa-spinner rotating"></i>
            			</span>
            			Save
            		</button>
            	</div>
            	
            	<div class="item">
            		<button class="btn-secondary btn-mini" ng-click="addComment=false;">
            			Cancel
            		</button>
            	</div>
            	
            </div>
            
            <div class="row">
            	<div class="item-12">
           	
		            <div class="panel" ng-repeat="item in mosaic.comments">
		            	
		            	<div class="item-12">
		            		<span ng-class="{'c-enligtened': item.faction == 'E', 'c-resistance': item.faction == 'R',}">{{item.username}}</span>
		            	</div>
		             	
		            	<div ng-show="!item.edit" class="item-12">
		            		{{item.text}}
		            	</div>
		           	
		            	<div ng-show="item.edit" class="item-12">
		            		<textarea class="form-control" ng-model="item.text">
		            			{{item.text}}
		            		</textarea>
		            	</div>
		            	
		            	<div ng-show="item.edit" class="item">
		            		<button class="btn-primary btn-mini" ng-click="editComment(item);" ng-disabled="item.editing">
			        			<span ng-show="item.editing">
		            				<i class="fa fa-spinner rotating"></i>
		            			</span>
		            			Save
		            		</button>
		            	</div>
		            	
		            	<div ng-show="item.edit" class="item">
		            		<button class="btn-secondary btn-mini" ng-click="item.edit=false;">
		            			Cancel
		            		</button>
		            	</div>
		            	
		            	<div ng-show="!item.edit" class="item-12">
		            		<a ng-click="item.edit=true;">Edit</a>
		            		<span class="text-separator">&middot;</span>
		            		<a ng-click="deleteComment(item.id, $index);">Delete</a>
		            	</div>
		            	
		            </div>
	            
		        </div>
	        </div>
            
		</div>
		
		<div ng-if="user.superuser" class="block">
			
			<div class="f-row mb-2">
				
				<button class="btn btn-secondary mr-2" ng-click="openMissions();">
					Missions
				</button>
				
				<button class="btn btn-secondary" ng-click="openDelete();">
					Delete
				</button>
				
			</div>
			
			<div ng-show="admMissionsMode" class="panel mb-4">
				
		        <table class="mb-4">
		            <tbody>
		                <tr ng-repeat="item in mosaic.missions">
		                	<td class="px-1">
								<div class="f-row f-align-center">
									
	    							<div class="mr-2" style="width:2.5rem;">
	    								<input class="form-control text-center" ng-model="item.order" ng-blur="reorderMission($index, item.ref, item.order);" />
	    							</div>
	
	    							<div class="mr-auto">
	    								{{item.title}}
	    							</div>
	
	    							<div class="ml-4">
	    								<a ng-click="remove(item.ref, $index);"><i class="fa fa-trash"></i></a>
	    							</div>
								
								</div>
		                    </td>
		                </tr>
		            </tbody>
		       </table>
	   		
			</div>
			
			<div ng-show="deleteMode" class="panel mb-4">
				
				<div class="f-row">
					<input type="text" class="form-control mr-2" placeholder="" ng-model="deleteModel.name" />
	    			<button class="btn btn-primary" ng-click="delete();">
	    				Delete
	    			</button>
	    		</div>
				
			</div>
			
		</div>
		
	</div>

</div>

{% endverbatim %}
{% endblock %}

{% block extra-script %}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>
	
{% endblock %}