{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - {{name}}</title>
	
	<meta name="abstract" content="{{desc}}" />
	<meta name="description" content="{{desc}}" />

	<meta property="og:type" content="article">
	<meta property="og:image" content="https://www.myingressmosaics.com/mosaic/{{ref}}/preview">
	<meta property="og:headline" content="MIM - {{name}}">
	<meta property="og:description" content="{{desc}}">

{% endblock %}

{% block header %}

	{% trans 'Mosaic' %}
	
{% endblock %}

{% block content %}

	<div id="page-mosaic" class="container" ng-controller="MosaicCtrl" ng-init="loadMosaic('{{ref}}');">

		<!-- Loading block -->
		
		<div id="block-loading" class="mt-4 px-2 py-1">
				
			<div class="loading-line px-2 py-1">
				<img src="/static/img/loading.png" />
				{% trans 'Loading data...' %}
			</div>
			
		</div>
		
		<!-- No mosaic block -->
		
		<div id="block-nomosaic" class="mt-4 px-2 py-1 hidden">
			
			<div class="error-line px-2 py-1">
				{% trans 'No mosaic found' %}
			</div>
			
		</div>
		
		<!-- Mosaic block -->
		
		<div id="block-mosaic" class="mt-2 px-2 py-1 hidden">
			
			<div class="panel">
				
{% verbatim %}
				<div class="my-2 text-white text-big">
					{{mosaic.title}}
				</div>
				
				<div class="mosaic-img mb-4">
					
					<div class="content-{{mosaic.cols}}">
			            <div class="item" ng-repeat="m in mosaic.missions | reverse">
			                <img src="/static/img/mask.png" style="background-image:url({{m.image}}=s100);" />
			            </div>
		            </div>
		
				</div>
				
				<div class="mb-2">
				    <a href="/map/{{mosaic.country}}">{{mosaic.country}}</a><span class="mx-1">></span><a href="/map/{{mosaic.region}},{{mosaic.country}}">{{mosaic.region}}</a><span class="mx-1">></span><a href="/map/{{mosaic.city}},{{mosaic.region}},{{mosaic.country}}">{{mosaic.city}}</a>
				</div>
				
				<div class="mb-2">
					{{mosaic.missions.length}} <i class="fa fa-th mx-1"></i><span class="mx-1">&middot;</span>{{mosaic.type}}
				</div>
				
				<div class="mb-2">
					{{mosaic.portals}} waypoints<span class="mx-1">&middot;</span>{{mosaic.uniques}} uniques<span ng-show="mosaic.type ==  'sequence'"><span class="mx-1">&middot;</span>{{mosaic._distance | number:2}} km
					<span ng-show="mosaic._distance > 10.0" class="mx-1">&middot;</span><i ng-show="mosaic._distance > 10.0 && mosaic._distance < 30.0" class="fa fa-bicycle mx-1"></i><i ng-show="mosaic._distance > 30.0" class="fa fa-car mx-1"></i>
				</div>
				
				<div class="mb-2">
		        	<span class="mr-1">{{'mosaic_BY' | translate}}</span>
		        	<a class="mr-2" ng-repeat="creator in mosaic.creators" ng-class="{'text-enligtened': creator.faction == 'E', 'text-resistance': creator.faction == 'R',}" ng-click="goToCreator(creator.name);">
		        		{{creator.name}}
		        	</a>
				</div>
{% endverbatim %}
		
				<div class="f-row my-4" style="height:20px;">
					
					<div class="pr-2 text-right" style="width:50%;">
						
						<div id="fb-root"></div>
						
						<script>
							(function(d, s, id) {
								var js, fjs = d.getElementsByTagName(s)[0];
								if (d.getElementById(id)) return;
								js = d.createElement(s); js.id = id;
								js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
								fjs.parentNode.insertBefore(js, fjs);
							}(document, 'script', 'facebook-jssdk'));
						</script>
						
						<div class="fb-share-button" data-href="https://www.myingressmosaics.com/mosaic/{{ref}}" data-layout="button_count" data-size="small" data-mobile-iframe="true">
							<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"></a>
						</div>
					
					</div>
					
					<div class="pl-2" style="width:50%;">
						
						<script src="https://apis.google.com/js/platform.js" async defer></script>
						<div class="g-plus" data-action="share" data-annotation="bubble" data-href="https://www.myingressmosaics.com/mosaic/{{ref}}"></div>			
						
					</div>
					
				</div>
				
{% verbatim %}
				
			    <div id="map" class="mb-2"></div>

		        <table class="card-table">
		            <tbody>
		                <tr ng-repeat="item in mosaic.missions">
		                	<td class="px-1">
		                		
		                		<div class="f-row" ng-click="toggleMission(item);">
		                			
				                    <div ng-if="mosaic.type == 'sequence'" class="text-white" style="width:3rem;">
				                    	<i ng-hide="item.expanded" class="mr-2 fa fa-fw fa-caret-right"></i>
				                    	<i ng-show="item.expanded" class="mr-2 fa fa-fw fa-caret-down"></i>
				                    	#{{item.order}}
				                    </div>
				                    
				                    <div class="mr-auto">
				                        {{item.title}}
				                    </div>
				                    
				                    <div class="text-right" style="width:2rem;">
				                        <a href="https://www.ingress.com/intel?ll={{item.lat}},{{item.lng}}&z=15" target="blank">
				                            <i class="fa fa-external-link"></i>
				                        </a>
				                    </div>
				                    
			                    </div>
			                    
		                		<div ng-show="item.expanded" class="f-row mt-2">
		                			
		                			<div class="" style="white-space:normal;">
				                        {{item.desc}}
				                    </div>
		                			
			                    </div>
			                    
		                    </td>
		                </tr>
		            </tbody>
		       </table>
				
			</div>
			
		</div>
		
		<!-- Edit block -->
		
		<div id="block-edit" class="row mt-4 px-2 py-1 hidden">
			
			<div class="f-row mx-2 mb-4 form-button-bar">
			
				<a class="btn btn-secondary" ng-click="openEdit();">
					{{'edit_LABEL' | translate}}
				</a>
			
				<a class="btn btn-secondary" ng-click="openReorder();">
					{{'mosaicpage_REORDER' | translate}}
				</a>
				
				<a class="btn btn-secondary" ng-click="openAdd();">
					{{'mosaicpage_ADD' | translate}}
				</a>
				
				<a class="btn btn-secondary" ng-click="openDelete();">
					{{'mosaicpage_DELETE' | translate}}
				</a>
			
			</div>
				
			<div class="card-block first last f-col" ng-show="editMode">
				
				<div class="loading" ng-show="editLoading">
					<img src="/static/img/loading.png" />
				</div>
				
		        <div class="group">
		            <label>{{'mosaic_TITLE' | translate}}</label>
		            <input type="text" class="form-control" ng-model="editModel.title" />
		        </div>
		        
		        <div class="f-row">
		            
		            <div class="group fitem-grow pr-1">
		                <label>{{'mosaic_ROWS' | translate}}</label>
		                <input type="number" class="form-control" ng-model="editModel.rows" />
		            </div>
		            
		            <div class="group fitem-grow pr-1 pl-1">
		                <label>{{'mosaic_COLS' | translate}}</label>
		                <select class="form-control" ng-model="editModel.cols" convert-to-number>
		                    <option value="6">6</option>
		                    <option value="5">5</option>
		                    <option value="4">4</option>
		                    <option value="3">3</option>
		                    <option value="2">2</option>
		                    <option value="1">1</option>
		                </select>
		            </div>
		            
		            <div class="group fitem-grow pl-1">
		                <label>{{'mosaic_TYPE' | translate}}</label>
		                <select class="form-control" ng-model="editModel.type">
		                    <option value="sequence">{{'mosaic_SEQUENCE' | translate}}</option>
		                    <option value="serie">{{'mosaic_SERIE' | translate}}</option>
		                </select>
		            </div>
		            
		        </div>
		        
		        <div class="group">
		            <label>{{'mosaic_DESC' | translate}}</label>
		            <textarea rows="4" cols="50" class="form-control" style="height:auto; padding:.5rem;" ng-model="editModel.desc"></textarea>
		        </div>
		        
		        <div class="f-row">
		            
		            <div class="group fitem-grow pr-1">
		                <label>{{'mosaic_COUNTRY' | translate}}</label>
		                <input type="text" class="form-control" ng-model="editModel.country" />
		            </div>
		            
		            <div class="group fitem-grow pr-1 pl-1">
		                <label>{{'mosaic_REGION' | translate}}</label>
		                <input type="text" class="form-control" ng-model="editModel.region" />
		            </div>
		            
		            <div class="group fitem-grow pl-1">
		                <label>{{'mosaic_CITY' | translate}}</label>
		                <input type="text" class="form-control" ng-model="editModel.city" />
		            </div>
		            
		        </div>
		        
		        <div class="form-button-bar">
		        	
					<button type="submit" class="btn btn-primary" ng-click="edit();" ng-disabled="!editModel.title || !editModel.desc || !editModel.region|| !editModel.country || !editModel.city || !editModel.type || !editModel.rows || !editModel.cols">
					    {{'ok_LABEL' | translate}}
					</button>
		        	
					<button type="submit" class="btn btn-secondary" ng-click="closeEdit();">
					    {{'cancel_LABEL' | translate}}
					</button>
					
		        </div>
				
			</div>
	
			<div class="card-block first last f-col" ng-show="reorderMode">
		
				<div class="loading" ng-show="reorderLoading">
					<img src="/static/img/loading.png" />
				</div>
				
		        <table class="card-table" ng-show="reorderMode">
		            <tbody>
		                <tr ng-repeat="item in reorderModel.missions">
		                	
		                    <td class="text-white text-center" style="width:2rem;" ng-if="user.name == mosaic.registerer.name || user.superuser">
		                    	<a ng-click="remove(item.ref, $index);">
		                    		<i class="fa fa-trash"></i>
		                    	</a>
		                    </td>
		                    
			                <td ng-show="mosaic.type == 'sequence'" style="width:3rem;">
			                	<input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" />
			                </td>
			                
			                <td>
			                	{{item.title}}
			                </td>
		                    
		                </tr>
		            </tbody>
		        </table>
				
				<div class="card-block last" ng-if="user.name == mosaic.registerer.name || user.superuser"  ng-show="reorderMode">
					
					<div class="form-button-bar">
						
						<a class="btn btn-primary" ng-click="reorder();">
							{{'ok_LABEL' | translate}}
						</a>
						
						<a class="btn btn-secondary" ng-click="closeReorder();">
							{{'cancel_LABEL' | translate}}
						</a>
					
					</div>
		
				</div>
				
			</div>
				
			<div class="card-block first" ng-show="addMode">
					
				<p>{{'add_TEXT' | translate}}</p>
		
				<p class="text-danger" ng-if="potentials.length < 1">{{'add_NOMISSION' | translate}}</p>
				
		        <table class="card-table">
		            <tbody>
		                <tr ng-repeat="item in potentials">
		                	
			                <td ng-show="mosaic.type == 'sequence'" style="width:3rem;">
			                	<input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" />
			                </td>
			                
			                <td>
			                	{{item.name}}
			                </td>
			            	
			                <td style="width:3rem;">
			                	<button class="btn btn-primary" ng-click="add(item, item.order);">
			                		{{'add_LABEL' | translate}}
			                	</button>
			                </td>
		                    
		                </tr>
		            </tbody>
		        </table>
				
				<div class="card-block last" ng-if="user.name == mosaic.registerer.name || user.superuser"  ng-show="addMode">
					
					<div class="form-button-bar">
						
						<a class="btn btn-secondary" ng-click="closeAdd();">
							{{'close_LABEL' | translate}}
						</a>
		
					</div>
		
				</div>
			
			</div>
				
			<div class="card pt-4" ng-show="deleteMode">
				
				<div class="card-block first last f-row f-nowrap">
					
					<input type="text" class="form-control mr-1" plaveholder="{{'mosaicpage_DELETETITLE' | translate}}" ng-model="deleteModel.name" />
					
					<button type="submit" class="btn btn-primary ml-1" ng-click="delete();">
						{{'mosaicpage_DELETE' | translate}}
					</button>
		
				</div>
				
			</div>
			
		</div>
		
	</div>

{% endverbatim %}
{% endblock %}

{% block extra-script %}

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>
	
{% endblock %}