{% extends 'new_base.html' %}

{% block extra-head %}

	<title>MIM - Country</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCountryCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal">
			<div class="row align-center">
				
				<div class="item">
					<span class="text-small color-muted">Country</span>
				</div>
				
				<div class="item grow">
					<span class="text-medium color-light">{{country.name}}</span>
				</div>
				
				<div class="item">
					<button class="btn btn-mini">
						Change
					</button>
				</div>
				
			</div>
		</div>
		
		<hr>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}