{% extends 'new_base.html' %}

{% block extra-head %}

	<title>MIM - Register</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewRegisterCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal flex justify-center mt-big">
			<div class="flex-col" style="width:300px;">
		
				<span class="self-center mb-normal">Create a local account</span>
				<input type="text" class="control mb-small" placeholder="username" name="username" ng-model="registerModel.username" required="" />
				<input type="email" class="control mb-small" placeholder="email address" name="email" ng-model="registerModel.email" required="" />
				<input type="password" class="control mb-small" placeholder="password" name="password1" ng-model="registerModel.password1" required="" />
				<input type="password" class="control mb-normal" placeholder="confirm password" name="password2" ng-model="registerModel.password2" required="" />
				<button type="submit" class="btn mb-big" ng-click="register(registerModel.username, registerModel.password1, registerModel.password2, registerModel.email);" ng-disabled="registering || !registerModel.username || !registerModel.email || !registerModel.password1 || !registerModel.password2">Sign up</button>
				<a class="text-center" href="/register">Sign in with an existing account</a>
				
			</div>
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}