{% extends 'new_base.html' %}

{% block extra-head %}

	<title>MIM - Country</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewCountryCtrl" ng-init="loadCountry('{{country}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal">
			<div class="row align-center">
				
				<div class="item">
					<span class="text-small color-muted">Country</span>
				</div>
				
				<div class="item grow">
					<span class="text-medium color-light">{{country.name}}</span>
				</div>
				
				<div class="item">
					<button class="btn btn-mini">
						Change
					</button>
				</div>
				
			</div>
		</div>
		
		<hr>
		
	    <div class="p-normal mt-big">
	    	<span class="block text-center">Regions with mosaics</span>
	    </div>
		
		<hr>
		
    	<div ng-repeat="region in regions">
    		
    		<a class="p-normal row" href="/world/{{country.name}}/{{region.name}}">
    			
    			<div class="item flex-col justify-center grow">
    				<span class="block color-light text-medium">{{region.locale}}</span>
    				<span class="block color-normal text-small">{{region.name}}</span>
    			</div>
     			
    			<div class="item flex-col justify-center" style="width:75px;">
    				<span class="btn btn-mini">
    					{{region.mosaics|number}}
    					<i class="item fa fa-angle-double-right pr-none"></i>
    				</span>
    			</div>
     			
    		</a>
    		
    		<hr>
    		
    	</div>

	</div>
	
{% endverbatim %}

</div>
{% endblock %}