<!DOCTYPE html>
<html>
	
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="7 days">
		
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Coda:100,300,400,700" type="text/css">
		
		<link rel="stylesheet" href="/static/newfront.css" />
		
	</head>
	
	<body ng-app="FrontModule" ng-controller="RootCtrl">
		
		<div id="header">
			<div class="container active">
				
				<a class="item">
					<i class="icon fa fa-home"></i>
					<span class="text">Home</span>
				</a>
				
				<a class="item">
					<i class="icon fa fa-search"></i>
					<span class="text">Search</span>
				</a>
				
				<a class="item">
					<i class="icon fa fa-map"></i>
					<span class="text">Map</span>
				</a>
				
				<a class="item">
					<i class="icon fa fa-plus-square"></i>
					<span class="text">Hunt</span>
				</a>
				
				<a class="item">
					<i class="icon fa fa-user"></i>
					<span class="text">Profile</span>
				</a>
			
			</div>
		</div>
		
		<div id="content" ng-controller="NewMosaicCtrl" ng-init="load_mosaic('{{ref}}');">

{% verbatim %}

			<div id="loading" ng-hide="loaded">
				<i class="fa fa-spinner rotating mr-small"></i>
				Loading page...
			</div>
			
			<div class="container" ng-class="{'active':loaded}">

				<div class="grow col">
					
					<div class="row align-center mb-small">
						<span class="font-size-big color-light">
							{{mosaic.title}}
						</span>
					</div>
					
					<div class="grid row align-center mb-normal">
						
						<div class="item">
							
							<div id="fb-root"></div>
							
							<script>
								(function(d, s, id) {
									var js, fjs = d.getElementsByTagName(s)[0];
									if (d.getElementById(id)) return;
									js = d.createElement(s); js.id = id;
									js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
									fjs.parentNode.insertBefore(js, fjs);
								}(document, 'script', 'facebook-jssdk'));
							</script>
							
							{% endverbatim %}
								<div class="fb-like"
									data-href="https://www.myingressmosaics.com/mosaic/{{ref}}"
									data-layout="button"
									data-size="small"
									data-mobile-iframe="true">
								</div>
							{% verbatim %}
	
						</div>
		
						<div class="item">
							
							{% endverbatim %}
								<script src="https://apis.google.com/js/platform.js" async defer></script>
								<div class="g-plus" data-action="share" data-annotation="none" data-href="https://www.myingressmosaics.com/mosaic/{{ref}}"></div>			
							{% verbatim %}
							
						</div>
						
						<div class="item">
							<button class="badge" ng-click="toggle_love(user);" ng-class="{'active':mosaic.is_loved}">
								<i class="fa fa-heart icon"></i>
								<span class="text">{{mosaic.lovers}}</span>
							</button>
						</div>
						
						<div class="item">
							<button class="badge" ng-click="toggle_complete();" ng-class="{'active':mosaic.is_completed, 'transparent':!user.authenticated}" ng-disabled="!user.authenticated">
								<i class="fa fa-check-square icon"></i>
								<span class="text">{{mosaic.completers}}</span>
							</button>
						</div>
						
					</div>
					
					<hr class="mb-small">
					
					<div class="modal-container" ng-if="mission_selected">
						
						<div class="modal-box">
							
							<div class="modal-header">
								
								<span class="title">
									{{mission_selected.title}}
								</span>
								
								<span class="close" ng-click="closeMissionDetails();">
									<i class="fa fa-times"></i>
								</span>
								
							</div>
							
							<div class="modal-content">
								
								<div class="grid row mb-normal">
									
									<div class="item">
										<img  width="64px" height="64px" src="{{mission_selected.image}}">
									</div>
									
									<div class="item">
										<dl>
											
											<dt class="w4">Order</dt>
											<dd class="w8">#{{mission_selected.order}}</dd>
											
											<dt class="w4">Creator</dt>
											<dd class="w8 font-size-small" ng-class="{'color-enlightened':mission_selected.faction=='E', 'color-resistant':mission_selected.faction=='R'}">{{mission_selected.creator}}</dd>
											
										</dl>
									</div>
									
								</div>
								
								<hr class="mb-normal">
								
								<div class="grid row align-center mb-normal">
									
									<div class="item">
				                        <a class="btn" href="https://www.ingress.com/intel?ll={{mission_selected.startLat}},{{mission_selected.startLng}}&z=17&pll={{mission_selected.startLat}},{{mission_selected.startLng}}" target="blank">
				                            <i class="fa fa-fw fa-external-link"></i>
				                        </a>
									</div>
									
									<div class="item">
				                        <a class="btn" href="https://www.google.com/maps/dir//{{mission_selected.startLat}},{{mission_selected.startLng}}" target="blank">
				                            <i class="fa fa-fw fa-map-marker"></i>
				                        </a>
									</div>
									
									<div class="item">
				                        <a class="btn" href="https://waze.com/ul?ll={{mission_selected.startLat}},{{mission_selected.startLng}}" target="blank">
				                            <img src="/static/img/waze.png">
				                        </a>
									</div>
									
								</div>
								
								<div class="mb-normal font-size-small color-dark">
									{{mission_selected.desc}}
								</div>
								
								<hr class="mb-normal">
								
								<ul class="grid col">
									
									<li class="item grid row" ng-repeat="portal in mission_selected.portals">
										<div class="item noshrink font-size-small color-muted" style="width:40px; padding-top:9px;">
											#{{$index + 1}}.
										</div>
										<div class="item">
											<div class="font-size-normal color-light">
												{{portal.title}}
											</div>
											<div class="font-size-small color-dark">
												<span ng-show="portal.action==1">Hack this Portal</span>
												<span ng-show="portal.action==2">Capture or Upgrade Portal</span>
												<span ng-show="portal.action==7">View this Field Trip Waypoint</span>
												<span ng-show="portal.action==8">Enter the Passphrase</span>
											</div>
										</div>
									</li>

								</ul>
								
							</div>
							
						</div>
						
					</div>
					
					<div class="grow tab col" ng-show="current_tab == 1">
						
						<div class="scrollable mb-small">
							<div class="row wrap align-center" style="padding:0 calc((6 - {{mosaic.cols}}) / 2 * 16.666667%);">
								
					            <div ng-repeat="m in mosaic.missions | reverse" class="mission-vignet" style="flex:0 0 calc(100% / {{mosaic.cols}});" ng-click="displayMissionDetails(m);">
					            	
					                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
					            
					            	<div class="preview">
					            		
					            		<div class="text-center font-size-small mb-small">
						            		<span class="color-muted">#{{mosaic.missions.length - $index}}.</span>
						            		<span class="color-light">{{m.title}}</span>
						            	</div>
						            	
						            	<div class="text-center font-size-small">
						            		<a>Details</a>
						            	</div>
						            	
					            	</div>
					            	
					            </div>
					            
				            </div>
						</div>
				            
			            <div class="font-size-small color-muted text-center mb-small">
			            	Click on mission image to display details
			            </div>
	
					</div>
					
					<div class="grow tab col" ng-show="current_tab == 2">
						
						<div class="scrollable mb-small">
							<dl>
								
								<dt class="w4">Location</dt>
								<dd class="w8">{{mosaic.city.name}}</dd>
								
								<dt class="w4">Missions</dt>
								<dd class="w8">
									{{mosaic.missions.length}}
									<span ng-show="mosaic.type=='sequence'">&nbsp;in sequence</span>
									<span ng-show="mosaic.type=='serie'">&nbsp;in serie</span>
								</dd>
								
								<dt class="w4">Waypoints</dt>
								<dd class="w8">{{mosaic.uniques}} uniques / {{mosaic.portals}} total</dd>
								
								<dt class="w4" ng-show="mosaic.type=='sequence'">Distance</dt>
								<dd class="w8" ng-show="mosaic.type=='sequence'">{{mosaic.distance | number:2}} km</dd>
								
								<dt class="w4 self-valign-top">Creators</dt>
								<dd class="w8 col">
									<span ng-repeat="creator in mosaic.creators" ng-class="{'color-enlightened': creator.faction == 'E', 'color-resistant': creator.faction == 'R'}">
										{{creator.name}}
									</span>
								</dd>
								
							</dl>
						</div>
						
					</div>
					
					<div class="grow tab col" ng-show="current_tab == 3">
						
						<ul class="scrollable">
						</ul>
						
						<div>
						</div>
						
					</div>
				
				</div>
				
				<div class="tabs">
					
					<div class="item" ng-click="open_tab(1);" ng-class="{'active':current_tab == 1}">
						<span class="text">Preview</span>
					</div>
					
					<div class="item" ng-click="open_tab(2);" ng-class="{'active':current_tab == 2}">
						<span class="text">Details</span>
					</div>
					
					<div class="item row align-center" ng-click="open_tab(3);" ng-class="{'active':current_tab == 3}">
						<span class="text">Comments</span>
						<span class="ml-small badge">{{mosaic.comments.length}}</span>
					</div>

				</div>
				
			</div>
			
{% endverbatim %}

		</div>

		<script>
		
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-66838342-2', 'auto');
			ga('send', 'pageview');
		
		</script>

		<script src="/static/front.js"></script>

		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>

	</body>
	
</html>