{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Plugin' %}
	
{% endblock %}

{% block content %}
{% verbatim %}

<div id="page-container" ng-controller="PluginCtrl">

<div class="card">
    
    <div class="card-header f-row">
        
        <span class="text-medium mr-auto">{{'plugin_SUBTITLE' | translate}}</span>

    </div>
    
    <div class="card-block first last mb-4">
    	{{'plugin_TEXT1' | translate}}
    </div>
    
    <div class="card-block first last mb-4">
    	<p class="text-highlight">{{'plugin_SUBTITLE2' | translate}}</p>
    	<p>{{'plugin_TEXT2' | translate}}</p>
    	<p><a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="blank">Tampermonkey</a></p>
    	<p><a class="btn btn-primary" href="/static/mim.scan.user.js">{{'download_LABEL' | translate}}</a></p>
    </div>
    
</div>

</div>

{% endverbatim %}
{% endblock %}
