{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Profile' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="ProfileCtrl">

{% verbatim %}

<div ng-if="!user.authenticated" class="section">
    
    <div class="item c-danger ta-center">
	    Restricted area
    </div>

	<div class="item f-row">
	
		<div class="item width-6 ta-right">
			<a class="btn btn-secondary" href="/login">
				Sign in
			</a>
		</div>
	
		<div class="item width-6">
			<a class="btn btn-secondary" href="/register">
				Sign up
			</a>
		</div>

	</div>
			
</div>

<div ng-if="user.authenticated">
	
	<div class="card">
	
		<div class="card-header f-row">
			
			<span class="mr-auto text-medium">Profile</span>
	
			<a ng-show="!editMode" ng-click="openEdit();">
				Edit
			</a>

		</div>
		
		<div class="card-block first last" ng-show="!editMode">
			
			<div class="f-row">
				
				<span class="mr-auto">Username</span>
				<span class="text-white text-medium">{{user.name}}</span>
				
			</div>
			
		</div>
		
		<div class="card-block first last" ng-show="editMode">
			
            <div class="loading" ng-show="loadingname">
            	<img src="/static/img/loading.png" />
            </div>
            
	        <div class="group">
	            <label>Username</label>
	            <input type="text" class="form-control" ng-model="editModel.name" />
	        </div>
	            
	        <div class="form-button-bar">
	        	
				<button class="btn btn-primary" ng-click="edit();" ng-disabled="!editModel.name">
				    Ok
				</button>
	        	
				<button class="btn btn-secondary" ng-click="closeEdit();">
				    Cancel
				</button>
				
	        </div>
			
		</div>

	</div>

	<div class="f-row mx-2 my-4 form-button-bar">
	
		<a class="btn btn-primary" ng-click="logout();" style="width:auto;">
			Sign out
		</a>

	</div>

</div>

</div>

{% endverbatim %}
{% endblock %}
