{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Profile' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="ProfileCtrl">

{% verbatim %}

<div ng-if="!user.authenticated" class="section">
    
    <div class="item c-danger ta-center">
	    Restricted area
    </div>

	<div class="item f-row">
	
		<div class="item width-6 ta-right">
			<a class="btn btn-secondary ta-center" href="/login" style="width:100px;">
				<span class="mx-4">Sign in</span>
			</a>
		</div>
	
		<div class="item width-6">
			<a class="btn btn-secondary ta-center" href="/register" style="width:100px;">
				<span class="mx-4">Sign up</span>
			</a>
		</div>

	</div>
			
</div>

<div ng-if="user.authenticated">
	
	<div class="section">
	
		<div class="item">
			
	        <div class="panel">
	        	
	        	<div class="f-row">
	        		
		            <div class="item" style="flex:1;">
		            	<input type="text" class="form-control" ng-model="user.name" />
					</div>
					
					<div class="item">
						<button class="btn btn-primary ta-center" style="width:100px;" ng-click="editName(user.name);" ng-disabled="editLoading || !user.name">
	            			<span ng-show="editLoading">
	            				<i class="fa fa-spinner rotating mr-1"></i>
	            			</span>
						    Save
						</button>
					</div>
					
		        </div>
					
	        </div>
			
		</div>

	</div>

	<div class="section">
	
		<div class="item">
			<a class="btn btn-primary" ng-click="logout();">
				<span class="mx-4">Sign out</span>
			</a>
		</div>

	</div>

</div>

</div>

{% endverbatim %}
{% endblock %}
