{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Profile' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="ProfileCtrl">

{% verbatim %}

	<div ng-if="!user.authenticated">
	    
	    <div class="block">
	    	
	    	<div class="row">
	    	
			    <div class="item-12 c-danger ta-center">
				    Restricted area
			    </div>
			
				<div class="item-6 ta-right">
					<a class="btn-secondary" href="/login" style="width:100px;">
						Sign in
					</a>
				</div>
			
				<div class="item-6">
					<a class="btn-secondary" href="/register" style="width:100px;">
						Sign up
					</a>
				</div>

			</div>
			
		</div>
		
	</div>
	
	<div ng-if="user.authenticated">
		
		<div class="block">
		
	        <div class="panel">

	            <div class="item-12">
	            	<input type="text" class="form-control" ng-model="user.name" />
				</div>

	            <div class="item-12">
	            	<select class="form-control" ng-model="user.faction">
	            		<option value="E">Enlightened</option>
	            		<option value="R">Resistant</option>
	            	</select>
				</div>
				
				<div class="item-6">
					<button class="btn-primary" style="width:100px;" ng-click="edit(user.name, user.faction);" ng-disabled="editLoading || !user.name">
            			<span ng-show="editLoading">
            				<i class="fa fa-spinner"></i>
            			</span>
					    Save
					</button>
				</div>
				
				<div class="item-6 ta-right">
					<button class="btn-danger" style="width:100px;" ng-click="logout();">
						Sign out
					</button>
				</div>

	        </div>

		</div>
		
		<div class="title d-flex">
			
			<div class="grow">
				{{loved.length}} mosaic loved
			</div>
			
			<div ng-show="!show_loved && loved.length > 0">
				<a ng-click="show_loved = true;">
					Show all
				</a>
			</div>
				
			<div ng-show="show_loved && loved.length > 0">
				<a ng-click="show_loved = false;">
					Hide all
				</a>
			</div>
			
		</div>
		
		<div class="block">
			
			<div class="row">
					
				<div ng-show="show_loved" class="item-6 item-xl-3" ng-repeat="mosaic in loved">
					<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
				</div>
			
			</div>
			
		</div>
		
		<div class="title d-flex">
			
			<div class="grow">
				{{completed.length}} mosaic completed
			</div>
			
			<div ng-show="!show_completed && completed.length > 0">
				<a ng-click="show_completed = true;">
					Show all
				</a>
			</div>
				
			<div ng-show="show_completed && completed.length > 0">
				<a ng-click="show_completed = false;">
					Hide all
				</a>
			</div>
			
		</div>
		
		<div class="block">
			
			<div class="row">
					
				<div ng-show="show_completed" class="item-6 item-xl-3" ng-repeat="mosaic in completed">
					<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
				</div>
			
			</div>
			
		</div>

	</div>

</div>

{% endverbatim %}
{% endblock %}
