{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners and Mission series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MIM - Ingress Mosaics, Banners and Mission series">
	<meta property="og:description" content="MIM - Ingress Mosaics, Banners and Mission series">
	
{% endblock %}

{% block header %}

	{% trans 'Recruitment' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="RecruitmentCtrl">

{% verbatim %}

	<div class="block">
    	<div class="row align-center">
    		
        	<div class="item">
        	    <img src="/static/img/we-need-you.png" width="40px" style="margin-right:.75rem;">
        	</div>
        	
        	<div class="item">
        	    
        		<h2 class="heading">
        			We need you!
        		</h2>
        		
        		<h3 class="subheading">
        			Become a mosaic hunter
        		</h3>
        		
        	</div>
    		
    	</div>
	</div>
	
	<div class="block ta-center">
	    MIM site is a collaborative site, so we need mosaic hunters in every country. You love missions, you love mosaics, please join us! No need to be level 16 to be a good mosaic hunter ;)
	</div>
	
	<div class="block">
	    
    	<div class="subblock title ttrans-uppercase c-white">
    	    How to become a mosaic hunter?
    	</div>
    	
    	<div>
    	    <a href="/login">Sign in/Sign up</a> to MIM site ; you could sign in with Facebook
    	</div>
    	
	</div>
	
	<div class="block">
	    
    	<div class="subblock title ttrans-uppercase c-white">
    	    How to register missions to MIM site?
    	</div>
    	
    	<div class="subblock">
        	Install our Chrome extension <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">MIM Hunting Tool.</a>
    	</div>
    	
    	<div class="">
    	    Once installed you could register missions in 1 click! A contextual help is embedded.
    	</div>
    	
	</div>
	
	<div class="block">
	    
    	<div class="subblock title ttrans-uppercase c-white">
    	    How to create mosaics to MIM site?
    	</div>
     	
    	<div class="subblock">
    	    Go to <a href="/registration">Registration page</a> ; your registered missions will be displayed.
    	</div>
    	
    	<div class="subblock">
    	    Select some missions, verify data and mosaic image preview, then click on "Create" button.
    	</div>
    	
    	<div class="">
    	    That's it! You have just created your first mosaic to MIM site.
    	</div>
    	
	</div>

</div>

{% endverbatim %}
{% endblock %}
