{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{{region}}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="RegionCtrl" ng-init="loadRegion('{{country}}', '{{region}}');">

{% verbatim %}

	<div class="title ttrans-normal">
		<div class="row">
			<div class="item grow">
				<a href="/world">World</a>
				<span class="text-separator">></span>
				<a href="/world/{{country}}">{{country}}</a>
				<span class="text-separator">></span>
				<span class="c-white">{{region}}</span>
			</div>
			<div class="item">
				<a href="/map/{{region}},{{country}}">
					<i class="fa fa-map text-separator"></i>
					Map
				</a>
			</div>
		</div>
	</div>
	
	<div class="block">
	
		<div class="row">
			
			<div class="item-12 item-xl-3" ng-repeat="city in cities">
				
				<a href="/world/{{country}}/{{region}}/{{city.name}}" class="btn-primary btn-block">
					
					<div class="row valign-center">
						
						<div class="item grow ta-left ellipsis">
				        	{{city.name}}
				        </div>
				        
				        <div class="item c-lighter">
				        	{{city.mosaics}}
				        </div>
				        
					</div>
					
				</a>
		        
			</div>

		</div>
		
	</div>

</div>

{% endverbatim %}
{% endblock %}
