{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Registration' %}
	
{% endblock %}

{% block content %}
{% verbatim %}

<div id="page-container" ng-controller="MissionsCtrl">

<div ng-if="!user.authenticated">
    
    <div class="text-danger text-center mt-4 mr-2 ml-2">
	    {{'restricted_TEXT' | translate}}
    </div>

    <h2>{{'missions_HUNTERTITLE' | translate}}</h2>

    <div class="card">
        
        <div class="card-block first last mb-4">
            <p>
                
                {{'missions_PLUGIN' | translate}}
                
				<a href="/plugin">
					{{'plugin_LINK' | translate}}
				</a>
				
            </p>
        </div>
        
        <div class="card-block first last">
            
            <ol>
                <li>
                    {{'missions_HELP1' | translate}}
                    <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">MyIngressMosaics Hunting Tool</a>
                </li>
                <li>
                    {{'missions_HELP2' | translate}}
                </li>
                <li>
                    {{'missions_HELP3' | translate}}
                </li>
                <li>
                    {{'missions_HELP4' | translate}}
                </li>
            </ol>
            
        </div>
        
    </div>

</div>

<div ng-if="user.authenticated">

    <div class="card">
        
        <div class="card-block first last my-4">
            <p>
                
                {{'missions_PLUGIN' | translate}}
                
				<a href="/plugin">
					{{'plugin_LINK' | translate}}
				</a>
				
            </p>
        </div>
                
        <div ng-if="!missions && !mosaics">
            
            <div class="card-block first last">
                
                <p class="text-danger">{{'missions_NOMISSION' | translate}}</p>
                
                <p>
                    
                    {{'missions_UPDATENAME' | translate}}
                    
    				<a ui-sref="root.profile">
    					{{'profile_LINK' | translate}}
    				</a>
    				
                </p>
    
                <p>
                    
                    {{'missions_HUNTINGTOOL' | translate}}

                    <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">
                        MyIngressMosaics Hunting Tool
                    </a>
                    
                </p>
                
            </div>
            
        </div>
        
    	<div class="my-4" style="position:relative;" ng-repeat="mosaic in mosaics">
    		
			<div class="loading" ng-show="mosaic.creating">
				<img src="/static/img/loading.png" />
			</div>
    		
    		<div class="f-row">
    			<span class="text-normal mr-auto">{{mosaic.missions.length}} missions</span>
    			<a href="" ng-click="deleteMosaic(mosaic);">{{'delete_LABEL' | translate}}</a>
    		</div>
    		
    		<div class="f-row">
    			<input type="text" class="form-control" ng-model="mosaic.name" />
    		</div>
    		
            <table class="card-table card-table-compressed">
                <tbody>
                    <tr ng-repeat="item in mosaic.missions">
	                    <td class="text-white text-center" style="width:2rem;">
	                    	<a ng-click="delete(mosaic, item, $index);">
	                    		<i class="fa fa-trash"></i>
	                    	</a>
	                    </td>
                        <td style="width:3rem;"><input type="number" class="form-control text-center" style="padding:.25rem;" ng-model="item.order" /></td>
                        <td style="width:50%;">{{item.name}}</td>
                        <td style="width:25%;" ng-class="{'text-enligtened': item.faction == 'E', 'text-resistance': item.faction == 'R',}" ng-click="$event.stopPropagation(); toggle($index, $event, item);">{{item.creator}}</td>
                        <td class="text-right">
                            <a href="https://www.ingress.com/mission/{{item.ref}}" class="ml-2" target="blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div class="card-block last form-button-bar">
        		<button class="btn btn-primary" ng-click="btn_disabled = true; createMosaic(mosaic);" ng-disabled="btn_disabled">
        		    {{'create_BTN' | translate}}
        		</button>
            </div>
            
    	</div>
	
        <div ng-if="missions.length > 0">
            
            <div class="card-header text-right">
                
                <a href="" ng-click="deleteAll();">{{'deleteall_LABEL' | translate}}</a>
                
            </div>
        
            <table class="card-table no-user-select">
                <thead>
                    <tr>
                        <th></th>
                        <th style="cursor:pointer;">
                            <i class="fa mr-2" ng-class="{'fa-caret-up':sortName == 'asc', 'fa-caret-down':sortName == 'desc', 'fa-sort text-muted':sortName == ''}"></i>
                            {{'missions_COLNAME' | translate}}
                        </th>
                        <th></th>
                        <th style="cursor:pointer;">
                            <i class="fa mr-2" ng-class="{'fa-caret-up':sortCreator == 'asc', 'fa-caret-down':sortCreator == 'desc', 'fa-sort text-muted':sortCreator == ''}"></i>
                            {{'missions_COLCREATOR' | translate}}
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in missions" ng-class="{'selected': isSelected(item.ref)}">
                        <td class="text-center" style="width:2rem;" ng-click="$event.stopPropagation(); toggle($index, $event, item);"><i class="fa fa-check-circle" ng-class="{'text-muted': !isSelected(item.ref)}"></i></td>
                        <td ng-click="$event.stopPropagation(); toggle($index, $event, item);">
                            {{item.name}}
                        </td>
                        <td class="text-center">
                            <a href="https://www.ingress.com/mission/{{item.ref}}" class="ml-2" target="blank">
                                <i class="fa fa-external-link"></i>
                            </a>
                        </td>
                        <td ng-class="{'text-enligtened': item.faction == 'E', 'text-resistance': item.faction == 'R',}" ng-click="$event.stopPropagation(); toggle($index, $event, item);">{{item.creator}}</td>
                        <td class="text-center" ng-click="delete(item);"><i class="fa fa-trash"></i></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="card-block last">
                
                <div class="form-button-bar f-justify-around">
                    
                    <div class="">
                        {{selected_missions.length}} / {{missions.length}}
                        {{'missions_selected' | translate}}
                        <br><a ng-click="unselectAll();">{{'unselectall_LABEL' | translate}}</a>
                    </div>
                    
            		<button class="btn btn-secondary f-align-baseline" ng-click="nextStep();" ng-disabled="!hasSelected();">
            		    {{'missions_BTN' | translate}}
            		    <i class="fa fa-fw fa-angle-double-right btn-icon ml-2"></i>
            		</button>
            		
        		</div>
                
            </div>
            
         </div>
        
    </div>
   
</div>

</div>

{% endverbatim %}
{% endblock %}

{% block extra-script %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>
{% endblock %}