{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - {{regionlabel}}, {{country}}</title>

	<meta property="og:url" content="https://www.myingressmosaics.com/world/{{country}}/{{regionlabel}}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="MIM - {{regionlabel}}, {{country}}">
	<meta property="og:headline" content="MIM - {{regionlabel}}, {{country}}">
	<meta property="og:description" content="Ingress mosaics in {{regionlabel}}, {{country}}">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewRegionCtrl" ng-init="loadRegion('{{country}}', '{{region}}');">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="section">
			
			<div class="item flex-col justify-center align-center">
				
				<span class="text-big color-light text-center">{{region.name}}</span>
				
	    		<div class="flex justify-center align-center">
					<span class="mr-small flag-icon flag-icon-{{region.country.code}}" style="line-height: inherit;"></span>
					<a class="mr-big" href="/world/{{region.country.name}}">{{region.country.name}}</a>
	    		</div>
	    		
			</div>
			
		</div>
		
		<div class="section">
    		
    		<span class="item pb-none color-normal">{{city_count}} cities with mosaics</span>
    		
			<div class="item">
				<hr>
			</div>
			
			<div class="flex">
				
				<div class="grow flex shrink" style="overflow-x:auto;">

					<div class="item" ng-repeat="index in indexes track by $index" ng-show="index.cities.length > 0">
						<a class="badge item" ng-click="setCurrentIndex(index);" ng-class="{'transparent color-link': current_index!=index}">
							{{index.letter}}
						</a>
					</div>
					
				</div>

			</div>
			
		</div>

		<div class="section" ng-repeat="city in current_index.cities | reverse">
			
			<div class="item pb-none color-normal">
				<span class="text-normal mr-normal">{{city.name}}</span>
				<span class="color-dark mr-normal" ng-show="city.locale">{{city.locale}}</span>
				<span class="color-muted">{{city.mosaics.length}}</span>
			</div>
			
			<div class="item">
				<hr>
			</div>
			
			<div class="flex wrap">
				<div class="width-12 width-xl-6 item" ng-repeat="mosaic in mosaics">
					<a class="item link-block flex" href="/mosaic/{{mosaic.ref}}" target="_blank">
						
	    				<div class="item flex justify-center align-start pl-xl-none" style="width:125px; max-width:125px; max-height:92px; overflow-y:auto;">
	    					
							<div class="flex wrap shrink justify-center" style="padding:0 calc((6 - {{mosaic.cols}}) / 2 * 16.666667%);">
								
					            <div ng-repeat="m in mosaic.offset track by $index" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					            </div>
					            
					            <div ng-repeat="m in mosaic.missions | reverse" class="mission-vignet" style="flex:0 0 calc(100% / {{mosaic.cols}});">
					                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
					            </div>
					            
				            </div>
	    					
	    				</div>
	    				
	    				<div class="item grow" style="max-height:92px;">
	    					
	    					<span class="text-medium color-light block">{{mosaic.title}}</span>
	
	    					<span class="block text-small color-dark">
								{{mosaic.missions.length}} missions
	    					</span>
	    					
	    				</div>
	    				
 		   			</a>
				</div>
			</div>
			
		</div>
		
	</div>
	
{% endverbatim %}

</div>
{% endblock %}