{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Registration' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="MissionsCtrl">
    
{% verbatim %}
	
    <div ng-if="!user.authenticated" class="section">
        
        <div class="item c-danger ta-center">
    	    Restricted area
        </div>
    
    	<div class="item f-row">
    	
    		<div class="item width-6 ta-right">
    			<a class="btn btn-secondary ta-center" href="/login" style="width:100px;">
    				<span class="mx-4">Sign in</span>
    			</a>
    		</div>
    	
    		<div class="item width-6">
    			<a class="btn btn-secondary ta-center" href="/register" style="width:100px;">
    				<span class="mx-4">Sign up</span>
    			</a>
    		</div>
    
    	</div>
    			
    </div>
    
    <div ng-if="user.authenticated">
    
        <div class="section">
            <p class="item">To scan missions from Ingress Intel Map: <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo" target="blank">Tampermonkey</a> + <a href="/static/mim.scan.user.js">MIM Scanning Plugin</a></p>
            <p class="item">To register manually missions that couldn't be scanned: <a href="https://chrome.google.com/webstore/detail/myingressmosaics-hunting/imafdiamhfamjabofbmkmbmncadhjfjk" target="_blank">MIM Hunting Tool</a></p>
        </div>

        <div id="searchBlock" class="section">
            
            <div class="panel">
                
            	<form class="item f-row f-nowrap">
            		<input type="text" class="form-control" placeholder="mosaic name, creator name" ng-model="searchModel.text" />
            		<button id="searchButton" type="submit" style="width:100px;" class="btn btn-primary ml-2 ta-center" ng-click="search();" ng-disabled="searching">
            			<span ng-show="searching">
            				<i class="fa fa-spinner rotating mr-1"></i>
            			</span>
            			Search
            		</button>
            	</form>
                
                <div class="item">
                    <div class="item pt-0 pb-0 bg-black scrollbar" style="overflow:auto; height:200px; border-top:4px solid #0B0C0D; border-bottom:4px solid #0B0C0D;">
                    
                        <div ng-if="searchModel.results.length < 1" class="item">No mission</div>
                        
        		        <table class="bg-dark">
        		            <tbody>
        		                <tr ng-repeat="item in searchModel.results">
        		                	<td>
        			                    
        			                    <div class="f-row">
        			                        
        			                         <div class="item">
        			                             <a ng-click="addMission(item);"><i class="fa fa-plus-square"></i></a>
        			                         </div>
        			                         
        			                        <div class="item c-normaL ellipsis mr-auto">
        				                        {{item.title}}
        				                    </div>
        				                    
                                            <div class="item" ng-class="{'c-enligtened': item.faction == 'E', 'c-resistance': item.faction == 'R',}">
                                                {{item.creator}}
                                            </div>
                                            
                                            <div class="item">
                                                <a href="https://www.ingress.com/mission/{{item.ref}}" target="blank">
                                                    <i class="fa fa-external-link"></i>
                                                </a>
                                            </div>
        			                        
        			                     </div>
        			                    
        		                    </td>
        		                </tr>
        		            </tbody>
        		       </table>
                        
                    </div>
                </div>
                
                <div class="item">
                    {{searchModel.results.length}} missions
                    <span ng-if="searchModel.results.length > 0" class="mx-1">&middot;</span>
                    <a ng-if="searchModel.results.length > 0" ng-click="addAll();">Add all</a>
                </div>
                
            </div>
            
        </div>
        
        <div id="createBlock" class="section">

            <div class="panel p-2">

            <div class="f-row">
            
    	        <div class="group width-4 pr-1">
    	            <label class="m-0">Title</label>
    	            <input type="text" class="form-control" ng-model="mosaicModel.title" />
    	        </div>
    	        
    	        <div class="group width-4 px-1">
    	            <label class="m-0">Type</label>
    	            <select class="form-control" ng-model="mosaicModel.type">
    	                <option value="sequence">sequence</option>
    	                <option value="serie">serie</option>
    	            </select>
    	        </div>

    	        <div class="group width-4 pl-1">
    	            <label class="m-0">Columns</label>
    	            <select class="form-control" ng-model="mosaicModel.columns" />
        	                <option value="6">6</option>
        	                <option value="5">5</option>
        	                <option value="4">4</option>
        	                <option value="3">3</option>
        	                <option value="2">2</option>
        	                <option value="1">1</option>
       	            </select>
    	        </div>
            </div>

            <div class="f-row">
    	        <div class="group width-4 pr-1">
    	            <label class="m-0">Country</label>
    	            <input type="text" class="form-control" ng-model="mosaicModel.country" />
    	        </div>

    	        <div class="group width-4 px-1">
    	            <label class="m-0">Region</label>
    	            <input type="text" class="form-control" ng-model="mosaicModel.region" />
    	        </div>

    	        <div class="group width-4 pl-1">
    	            <label class="m-0">City</label>
    	            <input type="text" class="form-control" ng-model="mosaicModel.city" />
    	        </div>
	        </div>
            
            <div class="f-row">
                
                <div class="width-6 pr-1">
                    <label class="m-0">Preview</label>
    				<div class="bg-black f-row f-justify-center" style="height:230px; overflow-y:auto; padding-top:4px; padding-bottom:4px; padding-left:4px;" ng-class="{'f-align-start scrollbar scrollbar-mini': mosaicModel.missions.length > 24, 'f-align-center pr-1': mosaicModel.missions.length <= 24}">
    					
    					<div class="f-row f-wrap f-justify-center f-align-center" style="padding:0 calc((6 - {{mosaicModel.columns}}) / 2 * 16.666667%); width:100%;">
    			            <div ng-repeat="m in mosaicModel.missions | reverse" style="flex:0 0 calc(100% / {{mosaicModel.columns}});">
    			                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
    			           </div>
    					</div>
    					
    				</div>
                </div>
                
                <div class="width-6 pl-1">
                    <label class="m-0">Missions</label>
                    <div class="bg-black px-1 scrollbar" style="border-top:4px solid black; border-bottom:4px solid black; flex:1; overflow:auto; height:230px;">
    		        <div ng-if="mosaicModel.missions < 1" class="p-2">No mission</div>
    		        <table class="card-table">
    		            <tbody>
    		                <tr ng-repeat="item in mosaicModel.missions">
    		                	<td class="px-1">
    			                    
    			                    <div class="f-row f-align-center">
    			                        
    			                        <div class="mr-2" style="width:2.5rem;">
    			                            <input type="text" class="form-control text-center" ng-blur="reorder();" ng-model="item.order" style="height:1.75rem;" />
    			                        </div>
    			                        
    			                        <div class="c-normal mr-auto" style="white-space:nowrap; text-overflow:ellipsis; overflow:hidden;">
    				                        {{item.title}}
    				                    </div>
    			                        
    			                        <a ng-click="removeMission(item);">
    			                            <i class="fa fa-minus-square mx-2"></i>
    			                        </a>
    			                        
    			                     </div>
    			                    
    		                    </td>
    		                </tr>
    		            </tbody>
    		       </table>
    		      </div>
    		      <div class="mt-2">
                    {{mosaicModel.missions.length}} missions
                    <span ng-if="mosaicModel.missions.length > 0" class="mx-1">&middot;</span>
                    <a ng-if="mosaicModel.missions.length > 0" ng-click="clearAll();">Clear all</a>
                </div>
    		      
                </div>
                
	        </div>
	        
	        	<div class="text-center text-danger mt-4">
	        	    No update allowed after creation. Please create mosaic only when it is complete.
	        	</div>
	        	
	        <div class="form-button-bar mt-4">
	        	
				<button class="btn btn-primary" ng-click="createMosaic();" ng-disabled="creating || !mosaicModel.title || !mosaicModel.type || !mosaicModel.columns || !mosaicModel.country || (mosaicModel.missions.length < 1)">
				    <span id="createButton">Create</span>
        			<div ng-show="creating" class="loading-line py-1">
        				<img src="/static/img/loading.png" />
        			</div>
				</button>

	        </div>
	        </div>
        </div>

    </div>

</div>

{% endverbatim %}
{% endblock %}

{% block extra-script %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&amp;language=en"></script>
{% endblock %}