{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/front/img/image.png">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Register' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="RegisterCtrl">

{% verbatim %}

	<div class="section p-2">
		
		<div class="item bg-dark">
			
			<form name="form" novalidate>
		
				<div ng-if="passwords" class="item">
					<span class="c-danger">The 2 passwords are not consistent</span>
				</div>
		
				<div ng-if="already" class="item">
					<span class="c-danger">Username already exists</span>
				</div>
				
				<div class="item">
					
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
						<input type="text" class="form-control" placeholder="username" name="username" ng-model="registerModel.username" required="" />
					</div>
					
					<div ng-show="form.$submitted || form.username.$touched">
						<p class="item c-danger" ng-show="form.username.$error.required">Field required</p>
					</div>
					
				</div>
		
				<div class="item">
					
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
						<input type="email" class="form-control" placeholder="email address" name="email" ng-model="registerModel.email" required="" />
					</div>
					
					<div ng-show="form.$submitted || form.email.$touched">
						<p class="item c-danger" ng-show="form.email.$error.required">Field required</p>
						<p class="item c-danger" ng-show="form.email.$error.email">A valid email address is required</p>
					</div>
					
				</div>
		
				<div class="item">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
						<input type="password" class="form-control" placeholder="password" name="password1" ng-model="registerModel.password1" required="" />
					</div>
					<div ng-show="form.$submitted || form.password1.$touched">
						<p class="item c-danger" ng-show="form.password1.$error.required">Field required</p>
					</div>
				</div>
		
				<div class="item">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
						<input type="password" class="form-control" placeholder="confirm password" name="password2" ng-model="registerModel.password2" required="" />
					</div>
					<div ng-show="form.$submitted || form.password2.$touched">
						<p class="item c-danger" ng-show="form.password2.$error.required">Field required</p>
					</div>
				</div>

				<div class="f-row">
					<div class="item width-6 ta-right">
						<button type="submit" class="btn btn-primary" ng-click="register(registerModel.username, registerModel.password1, registerModel.password2, registerModel.email);" ng-disabled="registering || !registerModel.username || !registerModel.email || !registerModel.password1 || !registerModel.password2">
							<span class="mx-4">Sign up</span>
						</button>
					</div>
					<div class="item width-6">
						<a class="btn" href="/login">
							<span class="mx-4">Sign in</span>
						</a>
					</div>
				</div>
				
			</form>
		    
		</div>
	
	</div>

</div>

{% endverbatim %}
{% endblock %}
