{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners and Mission series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">
	
{% endblock %}

{% block header %}

	{% trans 'Registration' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="RegistrationCtrl">
    
{% verbatim %}
	
	<div class="block">
		
		<h2 class="heading">
			Mosaic Registration
		</h2>
		
		<h3 class="subheading">
			Register mosaics based on missions you registered
		</h3>
		
	</div>
	
	<div ng-if="!user.authenticated">
	    
	    <div class="block">
	    	
	    	<div class="row">
	    	
			    <div class="item-12 c-danger ta-center">
				    You must be logged in to register mosaics.
			    </div>
			
				<div class="item-6 ta-right">
					<a class="btn-secondary" href="/login" style="width:100px;">
						Sign in
					</a>
				</div>
			
				<div class="item-6">
					<a class="btn-secondary" href="/register" style="width:100px;">
						Sign up
					</a>
				</div>

			</div>
			
		</div>
		
	</div>
    
    <div ng-if="user.authenticated">
		
		<div ng-if="!mode_advanced">
			
	        <div class="block ta-center">
	        	If you have many registered missions, the advanced mode should be more suitable.
        		<br><a ng-click="toggleAdvancedMode();">Go to Advanced mode</a>
	        </div>
	        
	        <div class="block">
	            
	            <div class="title subblock">
	            	Your registered missions
	            </div>
	            
	            <div class="panel">
		                
	                <div class="item grow row valign-center">
	                	
	                	<div class="item">
	                		
		              	  	<a ng-click="refreshMissions();">Refresh</a>
		                	<span class="text-separator">&middot;</span>
		              	  	
	              	  		Filter
	              	  		
		              	</div>
		              	
		                <div class="item grow">
		              	  	<input type="text" class="form-control" ng-model="filterText" ng-change="filterMissions(filterText);" />
		                </div>
		                
	                </div>
	
	                <div class="item-12">
	                	<div class="form-control" style="padding:0;">
	                    	<div style="height:400px; border:3px solid #0B0C0D;" ng-class="{'scrollbar':filteredMissions.length > 11}">
	                    
	                        <div ng-if="refreshingMissions" class="item ta-center">
	                        	<i class="fa fa-spinner"></i>
	                        	Refreshing...
	                        </div>
	                        
	                        <div ng-if="filteredMissions.length < 1 && !refreshingMissions" class="item ta-center">
	                        	No mission registered
	                        	<br><a href="https://www.myingressmosaics.com/recruitment">Become a mosaic hunter</a>
	                        </div>
	                        
		                    <div class="panel" ng-repeat="item in filteredMissions">
	
		                        <div class="item">
		                             <a ng-click="addMissionToModel(item);"><i class="fa fa-plus-square"></i></a>
		                         </div>
		                         
		                        <div class="item" style="padding-top:0; padding-bottom:0;">
		                        	<img src="/static/img/mask.png" style="width:26px; background-color:#000000; background-image:url({{item.image}}=s25); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
		                        </div>
		                         
		                        <div class="item grow ellipsis" title="{{item.title}} - {{item.desc}}">
			                        {{item.title}}
			                    </div>
			                    
	                            <div class="item" ng-class="{'c-enligtened': item.faction == 'E', 'c-resistance': item.faction == 'R',}">
	                                {{item.creator}}
	                            </div>
	                            
	                            <div class="item">
	                                <a href="https://www.ingress.com/intel?ll={{item.startLat}},{{item.startLng}}&z=17&pll={{item.startLat}},{{item.startLng}}" target="blank">
	                                    <i class="fa fa-external-link"></i>
	                                </a>
	                            </div>
	                            
	                            <div class="item">
	                                <a ng-click="deleteMission(item);">
	                                    <i class="fa fa-trash"></i>
	                                </a>
	                            </div>
	
		                     </div>
	                        
	                    </div>
	                    </div>
	                </div>
		                
	                <div class="item-12">
	
	                    <span ng-if="filteredMissions.length < 1">0</span>
	                    <span ng-if="filteredMissions.length > 0">{{filteredMissions.length}}</span>
	                    missions
						
	                	<span class="text-separator">&middot;</span>
	                    <a ng-click="addAllMissions();">Add all</a>
	              	  	
	                	<span class="text-separator">&middot;</span>
	                    <a ng-click="deleteAllMissions();">Clear all</a>
	
	                </div>
	                
	            </div>
	            
	        </div>
	        
	        <div class="block">
	            
	            <div class="title subblock">
	            	Mosaic registration
	            </div>
	
	            <div class="panel">
	
	    	        <div class="item-6 item-xl-4">
	    	            <label>Title</label>
	    	            <input type="text" class="form-control" ng-model="mosaicModel.title" />
	    	        </div>
		        
	    	        <div class="item-6 item-xl-4">
	    	            <label>Type</label>
	    	            <select class="form-control" ng-model="mosaicModel.type">
	    	                <option value="sequence">sequence</option>
	    	                <option value="serie">serie</option>
	    	            </select>
	    	        </div>
	
	    	        <div class="item-6 item-xl-4">
	    	            <label>Columns</label>
	    	            <select class="form-control" ng-model="mosaicModel.columns" ng-change="computeOffset();" />
	        	                <option value="6">6</option>
	        	                <option value="5">5</option>
	        	                <option value="4">4</option>
	        	                <option value="3">3</option>
	        	                <option value="2">2</option>
	        	                <option value="1">1</option>
	       	            </select>
	    	        </div>
	
	    	        <div class="item-6 item-xl-4">
	    	            <label>Country (EN)</label>
	    	            <select ng-show="countries.length > 0" class="form-control" ng-model="mosaicModel.country">
	    	            	<option ng-repeat="item in countries" value="{{item.name}}">{{item.name}}</option>
	    	            </select>
	    	            <input ng-hide="countries.length > 0" type="text" class="form-control" ng-model="mosaicModel.country" />
	    	        </div>
	
	    	        <div class="item-6 item-xl-4">
	    	            <label>Region (EN)</label>
	    	            <select ng-show="regions.length > 0" class="form-control" ng-model="mosaicModel.region">
	    	            	<option ng-repeat="item in regions" value="{{item.name}}">{{item.name}}</option>
	    	            </select>
	    	            <input ng-hide="regions.length > 0" type="text" class="form-control" ng-model="mosaicModel.region" />
	    	        </div>
	
	    	        <div class="item-6 item-xl-4">
	    	            <label>City (EN)</label>
	    	            <select ng-show="cities.length > 0" class="form-control" ng-model="mosaicModel.city">
	    	            	<option ng-repeat="item in cities" value="{{item.name}}">{{item.name}}</option>
	    	            </select>
	    	            <input ng-hide="cities.length > 0" type="text" class="form-control" ng-model="mosaicModel.city" />
	    	        </div>
	
	                <div class="item-12 item-xl-6">
	                	
	                    <label>Preview</label>
	                    
	                    <div class="form-control" style="padding:0; height:245px;">
		 					<div class="preview-container" ng-class="{'valign-start':mosaicModel.missions.length>24}">
							
								<div class="preview-content" style="padding:0 calc((6 - {{mosaicModel.columns}}) / 2 * 16.666667%);">
						            <div ng-repeat="m in mosaicModel.offset track by $index" style="flex:0 0 calc(100% / {{mosaicModel.columns}});">
						            </div>
						            <div ng-repeat="m in mosaicModel.missions | reverse" style="flex:0 0 calc(100% / {{mosaicModel.columns}});">
						                <img src="/static/img/mask.png" style="background-image:url({{m.image}}=s100);" />
						            </div>
					            </div>
					
							</div>
						</div>
	
	                </div>
	                
	                <div class="item-12 item-xl-6">
	                	
	                    <div class="row">
	                    	
	                        <div class="item-12">
		                        <label>
		                        	
		                        	Missions ({{mosaicModel.missions.length}})
		                        	
		                            <span ng-if="mosaicModel.missions.length > 0" class="text-separator">&middot;</span>
		                            <a ng-if="mosaicModel.missions.length > 0" ng-click="clearAll();">Clear all</a>
		                        	
		                            <span ng-if="mosaicModel.missions.length > 0" class="text-separator">&middot;</span>
		                            <a ng-if="mosaicModel.missions.length > 0" ng-click="orderAsc();">Order Asc</a>
		                        	
		                            <span ng-if="mosaicModel.missions.length > 0" class="text-separator">&middot;</span>
		                            <a ng-if="mosaicModel.missions.length > 0" ng-click="orderDesc();">Order Desc</a>

		                        </label>
		                        <div class="form-control" style="padding:0;">
			                    	<div style="overflow:auto; height:200px; background:#0B0C0D; border:3px solid #0B0C0D;" ng-class="{'scrollbar': mosaicModel.missions.length > 4}">
		            		        
		            		        <div ng-if="mosaicModel.missions < 1" class="item">
		            		        	No mission
		            		        </div>
		            		        
		    		                <div class="panel valign-center" ng-repeat="item in mosaicModel.missions">
		    		                	
		    		                	<div class="item">
					                        <a ng-click="removeMission(item);">
					                            <i class="fa fa-minus-square"></i>
					                        </a>
		    		                    </div>
		    		                	
	 	    		                	<div class="item">
		    			                    <input type="text" class="form-control ta-center" ng-blur="reorder();" ng-model="item.order" style="min-width:2.5rem; width:2.5rem; min-height:1.5rem; line-height:1.5rem;" />
		    		                	</div>
		    		                	
		    		                	<div class="item grow ellipsis" title="{{item.title}} - {{item.desc}}" ng-class="{'c-danger':item.title=='Fake mission'}">
		    			                     {{item.title}}
		    		                	</div>
			                            
			                            <div class="item">
			                                <a href="https://www.ingress.com/intel?ll={{item.startLat}},{{item.startLng}}&z=17&pll={{item.startLat}},{{item.startLng}}" target="blank">
			                                    <i class="fa fa-external-link"></i>
			                                </a>
			                            </div>
			    		                    
		    		                </div>
		    		                
		                        </div>
		                        </div>
	                        </div>
				        	
				        	<div class="item-12">
				        		
						     	<form class="row">
	
						        	<div class="item-8 c-danger ta-right">
						        	    If your mosaic is not complete, you could add 'fake' missions and complete it later.
						        	</div>
						        	
									<div class="item grow">
										<input type="text" class="form-control ta-center" placeholder="order" ng-model="fakeorder" />
									</div>
									
									<div class="item">
										<button type="submit" class="btn-primary" ng-click="addFake(fakeorder); fakeorder=null;" ng-disabled="creating || !mosaicModel.title || !mosaicModel.type || !mosaicModel.columns || !mosaicModel.country || !mosaicModel.region || !mosaicModel.city || (mosaicModel.missions.length < 1)">
											Add
										</button>
									</div>
									
								</form>
				        		
				        	</div>
		        	
	                    </div>
	                    
	                </div>
		        
	    	        <div class="item-12 ta-center">
	    	        	
	    				<button class="btn-primary ta-center" style="width:100px;" ng-click="createMosaic();" ng-disabled="creating || !mosaicModel.title || !mosaicModel.type || !mosaicModel.columns || !mosaicModel.country || !mosaicModel.region || !mosaicModel.city || (mosaicModel.missions.length < 1)">
	            			<span ng-show="creating">
	            				<i class="fa fa-spinner"></i>
	            			</span>
	    				    Create
	    				</button>
	    
	    	        </div>
	
		        </div>
		        
	        </div>
		
		</div>

		<div ng-if="mode_advanced">
			
			<div class="block ta-center">
				In advanced mode, your registered missions are grouped by name to identify easily mosaics.
				<br><a ng-click="toggleAdvancedMode();">Go back to Simple mode</a>
			</div>
			
			<div ng-if="refreshingPotentials">
				
				<div class="ta-center">
					<i class="fa fa-spinner"></i>
					Loading potentials...
				</div>
				
			</div>
			
			<div ng-if="!refreshingPotentials">
				
				<div class="block" ng-repeat="item in potentials">
					
					<div class="panel hover">

	                    <div class="item c-white" ng-click="togglePotential(item);">
	                    	<i ng-hide="item.open" class="mr-2 fa fa-fw fa-caret-right"></i>
	                    	<i ng-show="item.open" class="mr-2 fa fa-fw fa-caret-down"></i>
	                    </div>
						
	                    <div class="item grow c-white" ng-click="togglePotential(item);">
	                        {{item.title}}
	                        <span ng-class="{'c-danger':isCountValid(item.count)}">({{item.count}})</span>
	                    </div>
	                    
	                    <div class="item" ng-show="!item.loading && item.open">
	                    	<a ng-click="refreshPotential(item);">Refresh</a>
	                    </div>
	                    
					</div>
					
					<div ng-if="item.loading && item.open" class="item-12 ta-center">
						<i class="fa fa-spinner"></i>
						Loading missions...
					</div>
					
					<div ng-if="!item.loading && item.open" class="panel">
						
		    	        <div class="item-6 item-xl-4">
		    	            <label>Title</label>
		    	            <input type="text" class="form-control" ng-model="item.title" />
		    	        </div>
			        
		    	        <div class="item-6 item-xl-4">
		    	            <label>Type</label>
		    	            <select class="form-control" ng-model="item.type">
		    	                <option value="sequence">sequence</option>
		    	                <option value="serie">serie</option>
		    	            </select>
		    	        </div>
		
		    	        <div class="item-6 item-xl-4">
		    	            <label>Columns</label>
		    	            <select class="form-control" ng-model="item.columns" />
		        	                <option value="6">6</option>
		        	                <option value="5">5</option>
		        	                <option value="4">4</option>
		        	                <option value="3">3</option>
		        	                <option value="2">2</option>
		        	                <option value="1">1</option>
		       	            </select>
		    	        </div>
		
		    	        <div class="item-6 item-xl-4">
		    	            <label>Country (EN)</label>
		    	            <input type="text" class="form-control" ng-model="item.country" />
		    	        </div>
		
		    	        <div class="item-6 item-xl-4">
		    	            <label>Region (EN)</label>
		    	            <input type="text" class="form-control" ng-model="item.region" />
		    	        </div>
		
		    	        <div class="item-6 item-xl-4">
		    	            <label>City (EN)</label>
		    	            <input type="text" class="form-control" ng-model="item.city" />
		    	        </div>
		
		                <div class="item-12 item-xl-6">
		                	
		                    <label>Preview</label>
		                    
		 					<div class="form-control" style="border:4px solid #0B0C0D; display:flex; height:245px; justify-content:center; background:#0b0c0d; padding:.25rem;" ng-class="{'scrollbar valign-start': item.missions.length > 24, 'valign-center': item.missions.length <= 24}">
							
								<div class="row" style="align-items:center; padding:0 calc((6 - {{item.columns}}) / 2 * 16.666667%); width:100%;" ng-class="{'align-center':item.type=='sequence' || (item.type=='serie' && item.missions.length < 6)}">
						            <div ng-repeat="m in item.missions | reverse" style="flex:0 0 calc(100% / {{item.columns}});">
						                <img src="/static/img/mask.png" style="width:100%; background-color:#000000; background-image:url({{m.image}}=s100); background-size: 95% 95%; background-position: 50% 50%; float:left; background-repeat: no-repeat;" />
						            </div>
					            </div>
					
							</div>
		
		                </div>
		                
		                <div class="item-12 item-xl-6">
		                	
		                    <div class="row">
		                    	
		                        <div class="item-12">
			                        <label>
			                        	Missions ({{item.missions.length}})
			                        </label>
				                    <div style="overflow:auto; height:200px; background:#0B0C0D; border:4px solid #0B0C0D;" ng-class="{'scrollbar': item.missions.length > 4}">
			            		        
			            		        <div ng-if="item.missions < 1" class="item">
			            		        	No mission
			            		        </div>
			            		        
			    		                <div class="panel valign-center" ng-repeat="m in item.missions">
			    		                	
			    		                	<div class="item">
						                        <a ng-click="removeMissionFromPotential(item, m);">
						                            <i class="fa fa-minus-square"></i>
						                        </a>
			    		                    </div>
			    		                	
		 	    		                	<div class="item">
			    			                    <input type="text" class="form-control ta-center" ng-blur="reorderPotential(item);" ng-model="m.order" style="min-width:2.5rem; width:2.5rem; min-height:1.5rem; line-height:1.5rem;" />
			    		                	</div>
			    		                	
			    		                	<div class="item grow ellipsis" title="{{m.desc}}" ng-class="{'c-danger':m.title=='Fake mission'}">
			    			                     {{m.title}}
			    		                	</div>
				                            
				                            <div class="item">
				                                <a href="https://www.ingress.com/intel?ll={{m.startLat}},{{m.startLng}}&z=17&pll={{m.startLat}},{{m.startLng}}" target="blank">
				                                    <i class="fa fa-external-link"></i>
				                                </a>
				                            </div>
				    		                    
			    		                </div>
			    		                
			                        </div>
		                        </div>
					        	
					        	<div class="item-12">
					        		
							     	<form class="row">
		
							        	<div class="item-8 c-danger ta-right">
							        	    If your mosaic is not complete, you could add 'fake' missions and complete it later.
							        	</div>
							        	
										<div class="item grow">
											<input type="text" class="form-control ta-center" placeholder="order" ng-model="fakeorder" />
										</div>
										
										<div class="item">
											<button type="submit" class="btn-primary" ng-click="addPotentialFake(item, fakeorder); fakeorder=null;" ng-disabled="item.creating || !item.title || !item.type || !item.columns || !item.country || !item.region || !item.city || (item.missions.length < 1)">
												Add
											</button>
										</div>
										
									</form>
					        		
					        	</div>
			        	
		                    </div>
		                    
		                </div>
			        	
		    	        <div class="item-12 ta-center">
		    	        	
		    				<button class="btn-primary ta-center" style="width:100px;" ng-click="createPotential(item);" ng-disabled="item.creating || !item.title || !item.type || !item.columns || !item.country || !item.region || !item.city || (item.missions.length < 1)">
		            			<span ng-show="item.creating">
		            				<i class="fa fa-spinner"></i>
		            			</span>
		    				    Create
		    				</button>
		    
		    	        </div>
		    	        
					</div>
						
				</div>
				
			</div>
			
		</div>
		
    </div>

</div>

{% endverbatim %}
{% endblock %}

{% block extra-script %}
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuXb2ncs76tO-2SN8hvkE5Zt4VwtPoNcM&language=EN"></script>
{% endblock %}