{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Search' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="SearchCtrl">
		
{% verbatim %}

    <div class="py-2 px-4">
    
    	<form class="f-row f-nowrap bg-dark p-2">
    		<input type="text" class="form-control" placeholder="" ng-model="searchModel.text" />
    		<input type="submit" class="btn btn-primary ml-2" ng-click="search();" value="Search" />
    	</form>
    	
    </div>
    
    <div id="result_block" class="hidden">
    	
		<div ng-if="search_loading" class="p-2 ta-center">
			<i class="fa fa-spinner rotating mr-1"></i>
			Searching for mosaics...
		</div>

		<div ng-if="no_result" class="p-2 ta-center c-danger hidden">
			No mosaic found
		</div>
	    
	    <div class="p-2" ng-if="mosaics">
	    
			<div class="pt-2 mx-2 ttrans-uppercase bordered-b">
				{{mosaics.length}} mosaics found
			</div>
	    	
	    	<div class="f-row f-wrap">
	    		
	    		<div class="width-6 width-xl-3 p-2" ng-repeat="mosaic in mosaics">
	    			<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
	    		</div>
	    		
	    	</div>
	    
	    </div>
    
    </div>

</div>

{% endverbatim %}
{% endblock %}
