{% extends 'base.html' %}

{% load i18n %}

{% block extra-head %}

	<title>MIM - Ingress Mosaics, Banners, Series</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Search, Register and Share all Ingress Mosaics">
	
{% endblock %}

{% block header %}

	{% trans 'Search' %}
	
{% endblock %}

{% block content %}

<div id="page-container" ng-controller="SearchCtrl">

    <div class="mt-4 px-2 py-1">
    
    	<form class="card-block f-row f-nowrap p-2">
    		<input type="text" class="form-control" placeholder="" ng-model="searchModel.text" />
    		<input type="submit" class="btn btn-primary ml-2" ng-click="search();" value="Search" />
    	</form>
    	
    </div>
    
	<div class="mt-4 px-2 py-1" ng-if="search_loading">
			
		<div class="loading-line px-2 py-1">
			<img src="/static/img/loading.png" />
			{% trans 'Searching mosaics...' %}
		</div>
		
	</div>
	
{% verbatim %}
    
    <div class="mt-4 px-2 py-1" ng-if="no_result">
    
    	<div class="error-line px-2 py-1">
    		{{'noresult_LABEL' | translate}}
    	</div>
    	
    </div>
    
    <div ng-if="mosaics">
    
        <div class="mt-4 px-2 py-1">
            
        	<div class="py-1 text-uppercase bordered-b">
        		{{mosaics.length}}
        		{{'mosaics_LABEL' | translate}}
        	</div>
        	
        </div>
    	
    	<div class="f-row f-wrap py-1">
    		
    		<div class="width-6 width-xl-3 px-2 py-1" ng-repeat="mosaic in mosaics">
    			<mosaic-vignet mosaic="mosaic"></mosaic-vignet>
    		</div>
    		
    	</div>
    
    </div>

</div>

{% endverbatim %}
{% endblock %}
