{% extends 'base.html' %}

{% load i18n %}
{% load jsonify %}

{% block extra-head %}
	
	<link rel="canonical" href="https://www.myingressmosaics.com/tag/{{value}}" />
	
	<link rel="alternate" href="https://www.myingressmosaics.com/en/tag/{{value}}" hreflang="en" />
	<link rel="alternate" href="https://www.myingressmosaics.com/fr/tag/{{value}}" hreflang="fr" />
	<link rel="alternate" href="https://www.myingressmosaics.com/pt/tag/{{value}}" hreflang="pt" />

	<title>MIM - {{label}}</title>
	
	<meta property="og:url" content="https://www.myingressmosaics.com/tag/{{value}}">
	<meta property="og:image" content="https://www.myingressmosaics.com/static/img/logo.jpg">
	<meta property="og:title" content="MIM - {{label}}">
	<meta property="og:headline" content="MIM - {{label}}">
	<meta property="og:description" content="Ingress Mosaics related to {{label}}">

{% endblock %}

{% block content %}

	<div id="content" ng-controller="TagPageCtrl" ng-init="init({{mosaics|jsonify}});">
		
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
			
			<div class="section">
					
				<div class="item flex-col">
				
					<span class="text-big color-light">{{label}}</span>
					
					<div class="flex align-center">
						{% if gplus_url %}<a class="mr-normal" href="{{gplus_url}}" target="_blank">{% trans "G+ Community" %}</a>{% endif %}
						{% if tg_url %}<a class="mr-normal" href="{{tg_url}}" target="_blank">{% trans "TG Channel" %}</a>{% endif %}
					</div>
					
					{% if desc %}
					<div class="flex align-center mt-small">
						<span class="color-dark">{{desc}}</span>
					</div>
					{% endif %}
					
				</div>
				
			</div>
			
			<div class="section">
				<div class="tab-row">
				
					<div class="tab active">
						{% trans "Mosaics" %}
						<span class="ml-normal badge">{{mosaics|length}}</span>
					</div>
					
				</div>
			</div>

			<div class="section">
				<div class="flex">
					<div class="grow flex width-12 wrap">
						<div class="item flex justify-center width-xl-2 width-3" ng-repeat="index in indexes_by_country track by $index">
							<a class="flex align-center badge badge-link item text-center" ng-click="setByCountryIndex(index);" ng-class="{'active': current_by_country_index==index}" style="width:100%;">
								<span class="flag-icon flag-icon-[[index.code]] mr-small"></span>
								<span class="grow" style="position:relative; top:1px;">[[index.name]]</span>
								<span class="badge">[[index.mosaics.length]]</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="section">
				<div class="flex wrap">
					<mosaic ng-repeat="mosaic in mosaics_by_country track by $index" mosaic="mosaic"></mosaic>
				</div>
			</div>

		</div>

	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>
	
{% endblock %}