{% extends 'base.html' %}

{% load i18n %}
{% load jsonify %}

{% block extra-head %}
	
	<link rel="canonical" href="https://www.myingressmosaics.com/waiting/{{waiting.ref}}" />
	
	<link rel="alternate" href="https://www.myingressmosaics.com/en/waiting/{{waiting.ref}}" hreflang="en" />
	<link rel="alternate" href="https://www.myingressmosaics.com/fr/waiting/{{waiting.ref}}" hreflang="fr" />
	<link rel="alternate" href="https://www.myingressmosaics.com/pt/waiting/{{waiting.ref}}" hreflang="pt" />

	<title>MIM - {{waiting.title}}</title>
	
	<meta property="og:url" content="https://www.myingressmosaics.com/waiting/{{waiting.ref}}" />
	<meta property="og:title" content="MIM - {{waiting.title}}">
	<meta property="og:headline" content="MIM - {{waiting.title}}" />
	<meta property="og:description" content="{{waiting.country_name}} > {{waiting.region_name}} > {{waiting.city_name}} &middot; {{waiting.mission_count}} missions" />

	<meta name="description" content="{{waiting.country_name}} > {{waiting.region_name}} > {{waiting.city_name}} &middot; {{waiting.mission_count}} missions" />

{% endblock %}

{% block content %}

	<div id="content" ng-controller="WaitingPageCtrl" ng-init="init({{waiting|jsonify}}, {{missions|jsonify}});">
	
		<div id="loading" ng-hide="loaded" class="section">
			<div class="item flex justify-center align-center">
				<i class="fa fa-spinner rotating"></i>
				<span class="ml-small">{% trans "Loading page..." %}</span>
			</div>
		</div>
		
		<div class="container" ng-class="{'active':loaded}">
		    
			<div class="section">
				
				<div class="tab-row">
				
					<div class="tab" ng-click="current_tab='details'" ng-class="{'active':current_tab=='details'}">
						{% trans "Details" %}
					</div>
					
					<div class="tab" ng-click="current_tab='missions'" ng-class="{'active':current_tab=='missions'}">
						<i class="mr-small fa fa-exclamation-triangle color-danger" title="{% trans 'Some missions are missing!' %}"></i>
						{% trans "Missions" %}
					</div>

				</div>
				
			</div>
		    
			<div ng-show="current_tab=='details'">
				
				<div class="item pt-none">
				    
					<div class="item flex-col">
					
    					<span class="text-big color-light">[[waiting.title]]</span>
    
    					<div class="flex mt-normal">
    						<a href="/world/{{waiting.country_name}}" class="flex">
    							<i class="fa fa-long-arrow-left mr-small" style="align-self:center;"></i>
    							<span class="mr-small flag-icon flag-icon-{{waiting.country_code}}"></span>
    							{{waiting.country_name}}
    						</a>
    					</div>
    					
    					<div class="flex mt-normal">
    						<a href="/world/{{waiting.country_name}}/{{waiting.region_name}}" class="flex">
    							<i class="fa fa-long-arrow-left mr-small" style="align-self:center;"></i>
    							<span class="mr-small flag-icon flag-icon-{{waiting.country_code}}"></span>
    							{{waiting.region_name}}
    						</a>
    					</div>
    						
    					<div class="flex mt-normal">
    						<a href="/world/{{waiting.country_name}}/{{waiting.region_name}}/{{waiting.city_name}}" class="flex">
    							<i class="fa fa-long-arrow-left mr-small" style="align-self:center;"></i>
    							<span class="mr-small flag-icon flag-icon-{{waiting.country_code}}"></span>
    							{{waiting.city_name}}
    						</a>
    					</div>
    					
    				</div>
    				
					<div class="flex wrap">
					
					    <div class="flex-col width-12 width-xl-7">
						
    						<div class="item flex">
    							
						        <div ng-repeat="n in range track by $index" class="block mission-vignet" style="flex:0 0 16.666667%;">
					                <img src="/static/img/mask.png" style="background-image:url([[getImage(waiting.mission_count - $index)]]=s70);" />
					                <div class="color-dark" style="position:absolute;bottom:0;right:0;font-size:8px;">[[waiting.mission_count - $index]]</div>
					            </div>
   							
    						</div>
    						
					    </div>
						
					    <div class="flex-col width-12 width-xl-5">

						<div class="flex">
							
							<span class="item">[[missions.length]] {% trans "missions" %}</span>

						</div>
						
						<div class="flex wrap">
							<div class="item" ng-repeat="creator in mosaic.creators">
								<a href="/creator/[[creator.name]]/" ng-class="{'color-enlightened':creator.faction == 'E', 'color-resistant':creator.faction == 'R'}">
									[[creator.name]]
								</a>
							</div>
						</div>
					
    				</div>
    				
				</div>
				
			</div>
		    
			<div ng-show="current_tab=='missions'">
				
				<div class="item pt-none">
				</div>
				
			</div>
		    
		</div>
				
	</div>

{% endblock %}

{% block script %}

	<script src="/static/front.js"></script>

{% endblock %}
