{% extends 'base.html' %}

{% block extra-head %}

	<title>MIM - Home</title>

	<meta property="og:url" content="https://www.myingressmosaics.com">
	<meta property="og:type" content="website">
	<meta property="og:title" content="MyIngressMosaics">
	<meta property="og:description" content="Ingress Mosaics, Banners and Mission series">

{% endblock %}

{% block content %}
<div id="content" ng-controller="NewWorldCtrl">

{% verbatim %}

	<div id="loading" ng-hide="loaded">
		<i class="item fa fa-spinner rotating"></i>
		<span class="item">Loading page...</span>
	</div>
	
	<div class="container" ng-class="{'active':loaded}">
		
		<div class="p-normal mt-normal text-center">
			<span class="text-big color-light block">Ingress Mosaics, Banners and Mission series</span>
			<span class="block">By agents for agents</span>
		</div>
		
		<div class="row justify-center">
			
			<div class="item">
				
				<div id="fb-root"></div>
				
				<script>
					(function(d, s, id) {
						var js, fjs = d.getElementsByTagName(s)[0];
						if (d.getElementById(id)) return;
						js = d.createElement(s); js.id = id;
						js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10";
						fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
				
				{% endverbatim %}
					<div class="fb-like"
						data-href="https://www.myingressmosaics.com"
						data-layout="button"
						data-size="small"
						data-mobile-iframe="true">
					</div>
				{% verbatim %}

			</div>

			<div class="item flex">
				
				{% endverbatim %}
					<script src="https://apis.google.com/js/platform.js" async defer></script>
					<div class="g-plus" data-action="share" data-annotation="none" data-href="https://www.myingressmosaics.com"></div>			
				{% verbatim %}
				
			</div>
			
		</div>
		
	    <div class="p-normal mt-big pl-xl-none pr-xl-none">
	     	<form class="row">
				<div class="item grow">
					<input type="text" class="control" placeholder="Search for a mosaic" ng-model="searchtext" />
				</div>
				<div class="item">
					<a class="btn" type="submit" href="/search/{{searchtext}}">
						<i class="fa fa-fw fa-search"></i>
					</a>
				</div>
			</form>
		</div>
		
		<hr class=" mt-big">
		    
	    <div class="mb-big">
		    
	    	<div ng-repeat="country in countries">
	    		
	    		<a class="p-normal block pl-xl-none pr-xl-none" href="/world/{{country.name}}">
		    		<div class="row">
		    			
		    			<div class="item flex-col justify-center">
		    				<flag country="country.name"></flag>
		    			</div>
		    			
		    			<div class="item flex-col justify-center grow">
		    				<span class="block color-light text-medium" ng-show="!country.locale">{{country.name}}</span>
		    				<span class="block color-light text-medium" ng-show="country.locale">{{country.locale}}</span>
		    				<span class="block color-normal text-small" ng-show="country.locale">{{country.name}}</span>
		    			</div>
		     			
		    			<div class="item flex-col justify-center" style="width:75px;">
		    				<span class="btn btn-mini">
		    					{{country.mosaics|number}}
		    					<i class="item fa fa-angle-double-right pr-none"></i>
		    				</span>
		    			</div>
		     			
		    		</div>
	    		</a>
	    		
	    		<hr>
	    		
	    	</div>
		</div>
			
	</div>
	
{% endverbatim %}

</div>
{% endblock %}